:root {
  /**
   * Harmonic scale values calculated based on the golden ratio. Replace with
   * a pow() calculation once all browsers support more robust math functions.
   */
   --phi: 1.6180339887;
   --scale-1: calc(var(--phi) * 1rem);
   --scale-2: calc(var(--phi) * var(--scale-1));
   --scale-3: calc(var(--phi) * var(--scale-2));
   --scale-4: calc(var(--phi) * var(--scale-3));
   --scale-5: calc(var(--phi) * var(--scale-4));

  /**
   * Color scheme variables all together.
   */
  --black: #2d2d2d;
  --white: #fff;
  --main-green: #06724d;
  --other-green: #42957c;
  --dark-green: #011a12;
  --light-green: #83b9a7;
  --lightest-green: #c1dcd3;

  /**
   * Algorithm that uses viewpoint units to proportionately scale the
   * base font, while keeping the default value as the minimum.
   */
  --font-serif: 'Merriweather', sans-serif;
  --font-size-base: calc(1rem + 0.5vw);
  --measure: 64ch;
  --border: 1px var(--dark-green);

  color: var(--black);
  font-family: var(--font-serif);
  font-size: var(--font-size-base);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  max-width: var(--measure);
  box-sizing: inherit;

  /**
   * border-style: solid;
   */
}

/**
 * Exception based styling for those elements without a measure cap.
 */
html, body, div, header, nav, main, footer {
  max-width: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', serif;
}

h1 {
  font-size: var(--scale-3);
}

h2, h3, h4, h5, h6 {
  font-size: var(--scale-2);
}

img {
  max-width: 100%;
}

/**
 * Good Points:
 * Composition over inheritance. Combine simple, independent parts.
 * Add utility classes as they come up. Don't make them all at first.
 * Not relying on media queries anymore.
 * Designing for the web is designing without seeing. Quantum layouts!
 * Element with assymetrical padding is trying to solve something else.
 * Only set the CSS values needed to achieve the specific layout you are attempting.
 * Exception based thinking with cascading.
 * Layout components should try to solve just one problem.
 *
 * All the nifty CSS saved here.
 */