.link, .link:visited {
  border-bottom: 1px solid var(--green);
  color: var(--green);
  text-decoration: none;
}

.link:hover {
  color: var(--aqua);
}

.button {
  padding: .5em 2em;
  background-image: linear-gradient(to bottom, var(--orange), var(--dark-orange));
  border-radius: .25em;
  border: none;
  color: var(--white);
  font-family: 'Amatic SC';
  font-size: 1.5rem;  
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.button:active {
  background-image: linear-gradient(to top, var(--orange), var(--dark-orange));
}