@import "/css/nav.css";
@import "/css/post-preview.css";

:root {
  /**
   * Colors
   */
  --blue: #1893b9;
  --light-blue: #cdf5fe;
  --aqua: #25d3d0;
  --green: #128573;
  --orange: #fa811d;
  --dark-orange: #e46138;
  --yellow: #fbd88b;
  --gray: #e5e5e5;
  --white: #ffffff;
  --black: #2d2d2d;
  --decorative-font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
  --section-padding: 0 1.5em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 4.6em 0 3em;
  color: var(--black);
  font-family: 'Merriweather', 'Georgia', 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 300;
}

article {
  padding: 1em 0;
}

article > header {
  margin-bottom: 2.5em;
  text-align: center;
}

article > header > time {
  color: var(--black);
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
}

article > section {
  padding: var(--section-padding);
}

h1, h2 {
  margin: .25em 1em;
  font-family: var(--decorative-font-family);
  font-weight: 700;
}

h1 {
  padding-bottom: .25em;
  border-bottom: 3px solid var(--aqua);
  color: var(--green);
  font-size: 3rem;
}

h2 {
  margin: 1.5em 0 .5em;
  padding: .25em 1em;
  background-color: var(--dark-orange);
  color: var(--white);
  font-size: 1.75rem;
  text-align: center;
}

h2.green {
  background-color: var(--green);
}

h2.aqua {
  background-color: var(--aqua);
}

h2.blue {
  background-color: var(--blue);
}

h2.orange {
  background-color: var(--orange);
}

h2.dark-orange {
  background-color: var(--dark-orange);
}

p {
  margin: 1em 0;
  padding: 0;
  line-height: 1.75em;
}

img {
  max-width: 100%;
}

a, a:visited {
  border-bottom: 1px solid var(--green);
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--aqua);
}

ol {
  margin: 0;
  padding: 1em 2em 1em 2.5em;
}

li {
  padding-bottom: 1em;
  line-height: 1.5em;
}

li:last-child {
  padding-bottom: 0;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  padding: .75em;
  background: var(--green);
  text-align: center;
}

.logo {
  display: block;
  margin: .5em auto 0;
  width: 50%;
  border: none;
}

.hero {
  padding: 2em 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-image: linear-gradient(to bottom right, var(--gray), var(--green));
}

.hero img {
  width: 50%;
}

.hero h1 {
  color: var(--white);
  border: none;
  font-size: 2.25rem;
  text-align: center;
}

a.button {
  padding: .5em 2em;
  background-image: linear-gradient(to bottom, var(--orange), var(--dark-orange));
  border-radius: .25em;
  border: none;
  color: var(--white);
  font-family: 'Amatic SC';
  font-size: 1.5rem;  
  font-weight: 700;
  text-transform: uppercase;
}


