:root {
  --background: #ffffff;
  --header-text: #eeeeee;
  --text: #333333;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

h1 {
  margin: 0;
  font-family: 'Merriweather', 'Times New Roman', serif;
}

header {
  padding: .5em;
  background-color: #003366;
  color: var(--header-text);
  text-transform: lowercase;
}

header > h1 {
  font-size: 1rem;
}

.hero {
  padding: 5em 1em;
  background: url(/assets/img/hero-background.jpg);
  background-size: cover;
  text-align: center;
}

.hero > h1 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px #000;
}

/*
 * use the little dot to select a specific class in the HTML
 */

.button {
  padding: .5em 1em;
  background-color: var(--background);
  border: 3px solid var(--text);
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  padding: .1em;
  background-color: #999999;
  font-size: .9rem;
  text-transform: uppercase;
}

/*
 * The arrow selector means only anchor tags that are direct children of nav.
 */

nav > a {
  flex-grow: 1;
  padding: 1em;
  color: var(--header-text);
  text-decoration: none;
}