.post-preview {
  padding: 1em;
}

.post-preview__link-wrapper {
  padding: 1em;
  display: block;
  background-color: var(--green);
  background-image: linear-gradient(to bottom, var(--orange), var(--green));
}

.post-preview__image {
  margin: .5em 0;
  border: 4px solid var(--white);
}

.post-preview__title {
  padding: .25em 0;
  margin: 0;
  border: 3px solid var(--white);
  color: var(--white);
  font-family: 'Amatic SC';
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}