.post header img {
  display: block;
  width: calc(100% - 2em);
  margin: 1em;
  border: 4px solid var(--gray);
}

.pic-text {
  padding: 0;
}

.pic-text li {
  display: flex;
  flex-direction: column; 
  margin: 1.5em;
}

.post__letter {
  padding: 1em;
  margin: 0 2em;
  background-color: var(--gray);
}

@media (min-width: 32em) {
  .post {
    padding: 1em 2em;
  }

  .post header img {
    width: 25em;
    margin: 1em auto; 
  }

  .post h2 {
    margin-bottom: 1em;
  }

  .post p, .post ol, .post ul {
    width: 40em;
    margin: 1em auto;
  }

  .pic-text {
    max-width: 50em;
  }

  .pic-text li {
    flex-direction: row;
    align-items: center;
    margin: 3em 0;
  }

  .pic-text li > * {
    padding: 1em;
    width: 50%;
  }

  .pic-text li > p{
    border-left: .25em solid var(--highlight);
    margin-left: 1em;
  }
}