:root {
  /**
   * Colors
   */
  --blue: #1893b9;
  --light-blue: #cdf5fe;
  --aqua: #25d3d0;
  --green: #128573;
  --orange: #fa811d;
  --dark-orange: #e46138;
  --yellow: #fbd88b;
  --gray: #e5e5e5;
  --white: #ffffff;
  --black: #2d2d2d;
}

