.preview {
  background-color: var(--white);
}

.preview > div > a {
  padding-bottom: .25em;
  border-bottom: 2px solid var(--green);
  color: var(--light-green);
  text-decoration: none;
  text-transform: lowercase;
}

.preview h1 {
  color: var(--green);
}