.what-is {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em;
}

.what-is__image {
  border: 4px solid var(--gray);
}

.what-is__title {
  color: var(--green);
  font-size: 2rem;
}

.what-is__text {
  margin: .25em 1em;
}

.what-is__button{
  margin-top: 1em;
  background-color: violet;
}