.what-is {
  margin: 1.25em 1em;
  display: flex;
  flex-direction: column;
}

.what-is__image {
  border: 4px solid var(--gray);
}

.what-is__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-is__title {
  color: var(--green);
  font-size: 2rem;
}

.what-is__text {
  margin: .25em 1em;
}

.what-is__button{
  margin-top: .5em;
}

@media (min-width: 32em) {
  .what-is { 
    flex-direction: row;
  }

  .what-is__image {
    width: 12em;
    height: 12em;
  }
}