---
layout: post
permalink: 5-ways-to-compost.html
published: false
date: 2021-09-28
category: options
tags: [  ]
title: 5 Ways to Compost
description: 
week: 38
image: 38-compost/compost-options.jpg
alt: 
---

<section>
  <p>
    
  </p>
</section>

<section>
  <h2>Lomi</h2>
  {% include image-source-set.html image="38-compost/.jpg" alt="" %}
  <p>

  </p>
</section>

<section>
  <h2>Worm Bin</h2>
  {% include image-source-set.html image="38-compost/.jpg" alt="" %}
  <p>
    
  </p>
</section>

<section>
  <h2>3 Bay</h2>
  {% include image-source-set.html image="38-compost/.jpg" alt="" %}
  <p>
    
  </p>
</section>

<section>
  <h2>Barrel</h2>
  {% include image-source-set.html image="38-compost/.jpg" alt="" %}
  <p>
    
  </p>
</section>

<section>
  <h2></h2>
  {% include image-source-set.html image="38-compost/.jpg" alt="" %}
  <p>
    
  </p>
</section>