---
layout: post
permalink: diy-reusable-wet-wipes.html
published: true
date: 2021-08-25
category: make
tags: [ paper towels, wet wipes, reusable ]
title: How to Make Reusable Cloth Wet Wipes
description:  Follow this step-by-step tutorial to make reusable wet wipes from old t-shirts
week: 33
image: 33-paper-towels/make-wet-wipes.jpg
alt: hand using fabric wipe next to jar of rolled up fabric and houseplant
---

<section>
  <p>
    This week, we took a look at <a href="environmental-impact-of-paper-towels.html" target="__blank">
    the environmental impact of paper towels</a> and found a few<a href="sustainable-paper-towel-options.html" target="__blank">
    sustainable paper towel options</a> to cut back on all that paper waste.
    During my research, I learned that wet wipes offer an entirely different set of problems, since 
    they are made of plastic resins like polyester and polypropylene. This means that they 
    will take hundreds of years to break down in a landfill.
  </p>

  <p>
    To remedy the wet wipe problem, I decided to try and make my own reusable ones from a few old cotton t-shirts. 
    I wasn't sure how they would hold up compared to their disposable counter parts, but I love them!
    I started keeping a jar of these bad boys in my kitchen and both bathrooms, as they are an excellent tool for quick wipe 
    downs and after use, they can be laundered with towels. This project was ridiculously easy and took less than ten minutes to make.
  </p>
</section>

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li>Old cotton t-shirts or leggings. This project is perfect for stained or ripped clothing that are no longer wearable. </li>
    <li>Scissors</li>
    <li>Glass jar with lid</li>
    <li>Cleaning solution - see recipe links below</li>
  </ul>
</section>

<section>
  <h3>Cleaning Solution Recipes</h3>
  <ul>
    <li><a href="https://www.creativehealthyfamily.com/diy-all-natural-bathroom-cleaner/" target="__blank">Bathroom Cleaner</a></li>
    <li><a href="https://www.lifenreflection.com/heavy-duty-diy-natural-kitchen-cleaner/" target="__blank">Kitchen Cleaner</a></li>
    <li><a href="https://www.tipsbulletin.com/diy-homemade-carpet-shampoo/" target="__blank">Carpet Cleaner</a></li>
    <li><a href="https://www.happyhomehappyheart.com/all-natural-diy-glass-cleaner/" target="__blank">Glass Cleaner</a></li>
    <li><a href="https://earthfriendlytips.com/how-to-make-diy-hardwood-floor-cleaner/" target="__blank">Hardwood Cleaner</a></li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="33-paper-towels/1-gather-shirts.jpg" alt="Two tshirts and a pair of leggings" %}
      <p>
        Start by gathering up some old cotton t-shirts, leggings, or any other cotton articles 
        with the jersey knit consistency.  
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/2-cut-seams.jpg" alt="leg of leggins with  seam cut off" %}
      <p>
        Turn everything inside out and cut away all of the seams, cuffs, and collars.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/3-cut-rectangles.jpg" alt="t-shirts and leggings cut into rectangles" %}
      <p>
        Cut the fabric into large squares or rectangles. Mine were about 10" x 6".
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/5-roll-all.jpg" alt="rectangles rolled into small rolls" %}
      <p>
        Fold and roll up your rectangles so they will fit in the jar you've chosen.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/6-put-in-jar.jpg" alt="fabric rolls in a glass jar" %}
      <p>
        Put all of the rolled up wipes into your jar.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/7-add-solution.jpg" alt="cloudy liquid being poured over fabric rolls in glass jar" %}
      <p>
        Mix up your desired cleaning solution recipe from above and pour over the rolled up wipes.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/8-finished-wet-wipes.jpg" alt="jar full of wet rolled fabric" %}
      <p>
        Give the material time to soak up the clothing solution. When ready, grab a wipe, squeeze out 
        the excess liquid, and use as your would a regular wet wipe. These wet wipes can be washed and 
        reused multiple times.
      </p>
    </li>

  </ol>
</section>