.box {
  --space: var(--scale-1);
  --light-color: var(--lightest-green);
  --dark-color: var(--main-green);

  padding: var(--space);
  background-color: var(--light-color);
  color: var(--dark-color);

  /**
   * Always apply the transparent outline for possible high contrast modes
   * enabled by users. If an actual border is used, copy its values for outline.
   */
  outline: 0.125rem solid transparent;
  outline-offset: calc(0.125rem * -1);
}

/**
 * Use inherit to apply color and background-color in one place, the
 * .box element itself.
 */
.box * {
  color: inherit;
}

.box.tight {
  --space: var(--scale-half);
}

.box.invert {
  background-color: var(--dark-color);
  color: var(--light-color);
}