.box {
  --space: var(--scale-base);
  padding: var(--space);

  /**
   * Always apply the transparent outline for possible high contrast
   * modes enabled by users.
   */
  outline: 0.125rem solid transparent;
  outline-offset: calc(0.125rem * -1);
}

.box.tight {
  --space: var(--scale-down-1);
}