.imposter {
  --space: var(--scale-1);

  /**
   * This position property has absolute by default. Use
   * fixed if the positioning container is the viewport itself.
   */
  position: var(--positioning, absolute);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-width: calc(100% - (var(--space) * 2);
  max-height: calc(100% - (var(--space) * 2);
}
