.instructions ol {
  margin-left: 0;
}

.instructions ol li {
  margin-bottom: var(--scale-up-2);
}

.instructions ol li:before {
  content: counter(li);
  width: 100%;
  padding: var(--scale-down-1);
  background-color: var(--light-green);
  border-top-left-radius: var(--scale-down-1);
  border-top-right-radius: var(--scale-down-1);
  border-bottom: 2px solid var(--dark-green);
  color: var(--white);
  font-size: var(--scale-up-1);
  text-align: center;
}

.instructions p {
  padding: 0 var(--scale-down-2);
}