.stack {
  --space-between: var(--scale-base);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/**
 * Only applied where the element is preceded by another element. This key
 * construct is known as the owl. Style the context, not the any individual element.
 */
.stack > * + * {
  margin-top: var(--space-between);
}

.stack.tight > * + * {
  --space-between: var(--scale-down-1);
}

.stack.tighter > * + * {
  --space-between: var(--scale-down-2);
}

.stack.tightest > * + * {
  --space-between: var(--scale-down-3);
}

.stack.spacious > * + * {
  margin-top: var(--scale-up-2);
}

.stack > .ignore {
  margin-top: 0;
}

@media (max-width: 36rem) {
  .stack.responsive > * + * {
    --space-between: var(--scale-up-2);
  }
}