---
layout: post
permalink: low-waste-baking-tips.html
published: true
date: 2021-09-07
category: options
tags: [ baking, aluminum foil, plastic wrap ]
title: 10 Low-Waste Baking Tips
description: 10 ways to reduce waste while you bake
week: 35
image: 35-baking/baking-options.jpg
alt: assortment of pastries next to whisk, rolling, pin, and other baking supplies
---

<section>
  <p>
    This week, I focused on the <a href="environmental-impact-of-baking-materials.html" target="__blank">
    environmental impact of common baking materials</a> so I can start being more sustainable in the kitchen.
    There are so many small changes that can both save money and cut back on landfill bound waste. 
    These tips are helpful waste shrinkers for all levels, even if you're new to the baking scene.
  </p>
</section>


<!-- 1 -->
<section>
  <h2>Save butter wrappers to grease pans</h2>
    {% include image-source-set.html image="35-baking/butter-wrappers.jpg" alt="sticks of butter on a counter" %}

  <p>
    Save money and eliminate the need for cooking spray by reusing butter wrappers to grease pans, bowls, 
    muffin tins and cookie sheets.
  </p> 
</section>


<!-- 2 -->
<section>
  <h2>Use a silicone baking mat</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/baking-essentials/products/zulay-kitchen-2-pack-silicone-baking-mat-sheet-set-reusable-baking-mat-nonstick?ref=1NVBO" target="__blank">
    {% include image-source-set.html image="35-baking/zulay-baking-mats.jpg" alt="" %}
  </a>

  <p>
    <a href="https://www.zulaykitchen.com/collections/baking-essentials/products/zulay-kitchen-2-pack-silicone-baking-mat-sheet-set-reusable-baking-mat-nonstick?ref=1NVBO" target="__blank">
    Silicone baking mats</a> are non-stick and can be washed and reused countless times. They save money and reduce the need for single-use parchment paper 
    and aluminum foil.
  </p>

  <p>
    The baking mats pictured above are 2 for $12.99. <em>Use code TINYWASTE10 for 10% your purchase at <a href="https://www.zulaykitchen.com?ref=1NVBO" target="__blank">Zulay Kitchen</a>.</em>
  </p>

</section>

<!-- 3 -->
<section>
  <h2>Replace plastic cling wrap with beeswax wraps</h2>
  <a class="border:none" href="make-beeswax-wrap.html" target="__blank">
    {% include image-source-set.html image="35-baking/make-beeswax-wraps.jpg" alt="homemade beeswax wraps on a mixing bowl, jar, and baking dish" %}
  </a>

  <p>
    <a href="make-beeswax-wrap.html" target="__blank">Beeswax wraps</a> are fabric coated in beeswax so they can hold in moisture. 
    They can be used to cover containers and wrap food, but unlike plastic cling wrap, they can be cleaned and reused over and over again.
    Beeswax wraps are extremely easy to <a href="make-beeswax-wrap.html" target="__blank">make at home</a>, but 
    if you aren't in a crafty mood, you can purchase them from places like <a href="https://packagefreeshop.com/products/beeswax-food-wrap?variant=39416154292321" target="__blank">
    Package Free Shop</a>.
  </p>

</section>

<!-- 4 -->
<section>
  <h2>Opt for unbleached, compostable parchment paper</h2>
  <a class="border:none" href="https://buyifyoucare.com/products/parchment-baking-paper" target="__blank">
    {% include image-source-set.html image="35-baking/unbleached-parchment-paper.jpg" alt="box of if you care brand unbleached parchment paper" %}
  </a>

  <p>
    <a href="https://buyifyoucare.com/products/parchment-baking-paper" target="__blank">Compostable parchment paper</a> 
    gives you all the benefits of regular parchment paper, without ending up in a landfill.
  </p>

</section>

<!-- 5 -->
<section>
  <h2>Use an upside down cookie sheet in place of aluminum foil</h2>
    {% include image-source-set.html image="35-baking/pan-on-casserole.jpg" alt="baking sheet on casserole dish in the oven" %}


  <p>
    If you are using aluminum foil to retain heat, try an upside down baking sheet instead.
  </p>

 
</section>

<!-- 6 -->
<section>
  <h2>Reuse aluminum foil</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="35-baking/used-aluminum-foil.jpg" alt="aluminum foil with sandwich and chips" %}
  </a>

  <p>
    Aluminum foil can be used and reused without losing it's integrity. Instead of tossing used aluminum foil 
    after every use, keep clean pieces for your next bake!
  </p>
</section>

<!-- 7 -->
<section>
  <h2>Buy bulk ingredients</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="35-baking/bulk-ingredients.jpg" alt="multiple jars of various ingredients like nuts and sugar" %}
  </a>

  <p>
    Save money and cut down on packaging by purchasing frequently used ingredients, like flour and sugar, in bulk.
  </p>

</section>


<!-- 8 -->
<section>
  <h2>Use silicone baking cups instead of disposable ones</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/all-products/products/cupcakes-liners-12-pack?ref=1NVBO" target="__blank">
    {% include image-source-set.html image="35-baking/zulay-baking-cups.jpg" alt="stack of zulay kitchen brand silicone baking cups" %}
  </a>

  <p>
    <a href="https://www.zulaykitchen.com/collections/all-products/products/cupcakes-liners-12-pack?ref=1NVBO" target="__blank">
    Silicone baking cups</a> are a perfect solution for your cupcakes and muffins, since they can be washed and 
    reused over and over again.
  </p>

  <p>
    The baking cups pictured above are $9.99 for a pack of 12.<em>Use code TINYWASTE10 for 10% your purchase at <a href="https://www.zulaykitchen.com?ref=1NVBO" target="__blank">Zulay Kitchen</a>.</em>
  </p>
</section>



<!-- 9 -->
<section>
  <h2>Choose reusable silicone piping bags over disposable plastic ones</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/baking-essentials/products/32-piece-piping-bags-and-tips-set-cake-piping-bag-set-with-storage?ref=1NVBO" target="__blank">
    {% include image-source-set.html image="35-baking/zulay-icing-bags.jpg" alt="" %}
  </a>

  <p>
    If your baking involves icing decor, opt for <a href="https://www.zulaykitchen.com/collections/baking-essentials/products/32-piece-piping-bags-and-tips-set-cake-piping-bag-set-with-storage?ref=1NVBO" target="__blank">
    Silicone Piping Bags</a>, which can be washed and reused multiple times, saving money and cutting down on waste.
  </p>

  <p>
    <em>Use code TINYWASTE10 for 10% your purchase at <a href="https://www.zulaykitchen.com?ref=1NVBO" target="__blank">Zulay Kitchen</a>.</em>
  </p>
</section>



<!-- 10 -->
<section>
  <h2>Make natural food coloring</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="35-baking/pot-of-beets.jpg" alt="pot of beets" %}
  </a>

  <p>
    Instead of buying tiny plastic bottles of food coloring, try<a href="https://www.brittanyangell.com/home/2018/11/15/the-ultimate-guide-to-making-natural-dye-free-food-coloring-amp-frosting" target="__blank">
    making natural dye</a> from fruits and vegetables.
  </p>
</section>






