<header>
  <a href="/"><img src="/assets/img/tiny-waste-logo-white.svg" alt="Tiny Waste logo"></a>
  <nav>
    <a href="/weeks.html">
      <span>Weeks</span>
    </a>
    <a href="/reviews.html">
      <span>Reviews</span>
    </a>
    <a href="/letters.html">
      <span>Letters</span>
      </a>
    <a href="/make-the-change.html">
      <span>Makes</span>
    </a>
    <a href="https://us7.list-manage.com/contact-form?u=0eb4f27b647243707d10e0467&form_id=bb7b8bcf32c7fed6c4066aa56a3acd2c">
      <span>Contact</span>
    </a>
  </nav>
</header>