{% comment %}
  Gather together the alternative sizes for the image.
{% endcomment %}
{% assign image_file = site.cdn_root | append: include.image %}
{% assign s_image_file =  site.cdn_root | append: include.image | replace: ".jpg", "-s.jpg" %}
{% assign m_image_file =  site.cdn_root | append: include.image | replace: ".jpg", "-m.jpg" %}
{% assign l_image_file =  site.cdn_root | append: include.image | replace: ".jpg", "-l.jpg" %}

{% comment %}
  Check for each file existence before adding to srcset.
{% endcomment %}
<img
  alt="{{ include.alt }}"
  src="{{ image_file }}"
  srcset="
    {{ s_image_file }} 400w,
    {{ m_image_file }} 800w,
    {{ l_image_file }} 1600w,
    {{ image_file }} 2400w"
  onerror="this.onerror=null;this.src='{{ image_file }}';"
/>