<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="stack">
  <span>Sign up for the weekly mailing list.</span>
  <form action="https://tiny-waste.us7.list-manage.com/subscribe/post?u=0eb4f27b647243707d10e0467&amp;id=5809b2ce1a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll" class="stack">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups. -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_0eb4f27b647243707d10e0467_5809b2ce1a" tabindex="-1" value="">
      </div>
      <input type="submit" value="Join Me" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>
<!-- End Mailchimp Signup Form -->
