---
layout: post
permalink: make-multi-purpose-cleaning-bottle.html
published: true
date: 2021-08-10
category: make
tags: [ cleaner, cleaning products ]
title: Make a Multi-Purpose Spray Cleaning Bottle
description: How to Make a Multi-Purpose Cleaning Spray Bottle
week: 31
image: 31-household-cleaner/make-cleaner-bottle.jpg
alt: glass multi-purpose cleaning bottle with spray top
---

<section>
  <p>
    There are a whole slew of <a href="environmental-impact-of-household-cleaners.html" target="__blank"></a>environmental problems with conventional household cleaners</a>. 
    This week, in an attempt to clean my home a little more sustainably, I found some<a href="sustainable-multi-surface-cleaners.html" target="__blank">low-waste, environmentally-friendly cleaning products</a>
    to replace the toxic sprays I've been using. I also learned that there are plenty of ways 
    to spruce up the place with natural ingredients most of us already have at home. So, using a glass vinegar bottle, 
    a spray top from an empty cleaning bottle, and some Cricut materials I had in my craft room, I made 
    a multi-purpose cleaning bottle that I can use in every room of my home!
  </p>  

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
  
  <p>These instructions are specifically for <a href=" https://shareasale.com/r.cfm?b=567915&u=2847584&m=51766&urllink=&afftrack=" target="__blank">Cricut</a> users, 
    but you definitely don't need a Cricut to make a multi-purpose cleaning spray bottle. 
    Here are the recipes I used in case you'd like to design and make your owm!
    <ul>
      <li><a href="https://www.creativehealthyfamily.com/diy-all-natural-bathroom-cleaner/" target="__blank">Bathroom Cleaner</a></li>
      <li><a href="https://www.lifenreflection.com/heavy-duty-diy-natural-kitchen-cleaner/" target="__blank">Kitchen Cleaner</a></li>
      <li><a href="https://www.tipsbulletin.com/diy-homemade-carpet-shampoo/" target="__blank">Carpet Cleaner</a></li>
      <li><a href="https://www.happyhomehappyheart.com/all-natural-diy-glass-cleaner/" target="__blank">Glass Cleaner</a></li>
      <li><a href="https://earthfriendlytips.com/how-to-make-diy-hardwood-floor-cleaner/" target="__blank">Hardwood Cleaner</a></li>
    </ul>
  </p>

 
</section>

<section>
  <a target="_blank" href="https://shareasale.com/r.cfm?b=1048771&amp;u=2847584&amp;m=51766&amp;urllink=&amp;afftrack=" target="__blank" class="border:none"><img src="https://static.shareasale.com/image/51766/Maker.jpg" border="0" alt="Shop new arrivals from Cricut!" /></a>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>32 oz glass Heinz vinegar bottle - these specific bottles fit every spray top I've tried. Nature's promise looks identical, but spray tops won't screw on.</li>
    <li>Spray top from empty cleaning bottle </li>
    <li><a href="https://shareasale.com/r.cfm?b=567915&u=2847584&m=51766&urllink=cricut%2Ecom%2Fen%5Fus%2Fmachines%2Fcricut%2Dmaker%2Dmachines%2Fcricut%2Dmaker%2Fnew%2Dopen%2Dbox%2Dcricut%2Dmaker%2Ehtml&afftrack=" target="__blank">Cricut</a></li>
    <li><a href="https://shareasale.com/r.cfm?b=567915&u=2847584&m=51766&urllink=cricut%2Ecom%2Fen%5Fus%2Fcutting%2Dmaterials%2Fmaterial%2Dtype%2Fvinyl%2Fpremium%2Dvinyltm%2Dsampler%2Dbrights%2Dpermanent%2Ehtml&afftrack=" target="__blank">Permanent Adhesive Vinyl</a></li>
    <li><a href="https://shareasale.com/r.cfm?b=567915&u=2847584&m=51766&urllink=cricut%2Ecom%2Fen%5Fus%2Fessentials%2Fmachine%2Dtools%2Fstandardgrip%2Dmachine%2Dmat%2D12%2Dx%2D12%2D2%2Dct%2Ehtml&afftrack=" target="__blank">Standard Grip Mat</a></li>
    <li><a href="https://shareasale.com/r.cfm?b=567915&u=2847584&m=51766&urllink=cricut%2Ecom%2Fen%5Fus%2Fbulk%2Dtransfer%2Dtape%2D12%2Dx%2D180%2Ehtml&afftrack=" target="__blank">Transfer Tape</a> (NOT STRONG)</li>
    <li><a href="https://shareasale.com/r.cfm?b=567915&u=2847584&m=51766&urllink=cricut%2Ecom%2Fen%5Fus%2Fweeder%2Ehtml&afftrack=" target="__blank">Weeder Tool</a></li>
    <li><a href="https://shareasale.com/r.cfm?b=567915&u=2847584&m=51766&urllink=cricut%2Ecom%2Fen%5Fus%2Fcatalog%2Fproduct%2Fview%2Fid%2F5965%2Fcategory%2F3%2F&afftrack=" target="__blank">Scraper Tool</a></li>
    <li><a href="https://shareasale.com/r.cfm?b=567915&u=2847584&m=51766&urllink=cricut%2Ecom%2Fen%5Fus%2Fpremium%2Dfine%2Dpoint%2Dblade%2Dhousing%2Dgold%2Ehtml&afftrack=" target="__blank">Fine Point Blade</a></li> 
    <a href="https://design.cricut.com/landing/project-detail/611ee0fdb2c42f0001de4685" target="__blank"></a>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a multi-purpose cleaner bottle!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="31-household-cleaner/1-remove-label.jpg" alt="glass bottle in pot of water" %}
      <p>
        First, remove the label from your bottle. The easiest method I've found is to sprinkle some baking soda 
        into a pot of boiling water, then add the bottle in and its label will fall off in a few minutes.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/2-cut-with-cricut.jpg" alt="cricut machine with vinyl on mat" %}
      <p>
        Use permanent vinyl on a standard grip mat and cut out the <a href="https://design.cricut.com/landing/project-detail/611ee0fdb2c42f0001de4685" target="__blank">Cleaning Label</a>
        with a fine point blade.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/3-cut-transfer-tape.jpg" alt="transfer tape next to scissors and vinyl rectangle" %}
      <p>
        Remove the vinyl from the mat and cut a piece of transfer tape that is roughly the same size, about 5" x 11".
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/4-smooth-transfer-tape.jpg" alt="tool smoothing transfer tape onto vinyl" %}
      <p>
        Slowly cover the vinyl label with the transfer tape, using the scraper to smooth out air bubbles as you go.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/5-weed-letters.jpg" alt="tool removing small letter from sticky vinyl piece" %}
      <p>
        Use the weeding tool to remove the letters and other negative spaces. This is the most tedious 
        part of the project, so take your time.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/6-finished-weeding.jpg" alt="flat multi-purpose cleaning label made of sticky vinyl" %}
      <p>
        This is how the label should look once you've finished weeding.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/7-apply-label.jpg" alt="hand putting vinyl label on glass bottle" %}
      <p>
        Your Heinz bottle should have a horizontal indent about 1.24" from the bottom and a vertical seam. 
        Use these lines as a guide for applying the bottom and leftmost edge of your label. This placement is important 
        becuase the water fill line has been measured from the bottom of the bottle.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/8-smooth-label.jpg" alt="hand using tool to smooth label onto bottle" %}
      <p>
        Slowly, fix the label on the bottle, using the scraper tool to smooth out air bubbles.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/9-label-on-bottle.jpg" alt="vinyl sticky label on glass bottle" %}
      <p>
        Carefully remove the transfer tape, making sure the vinyl stays on the bottle.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/10-add-sprayer.jpg" alt="spray top added to glass bottle " %}
      <p>
        Screw on the spray top and voila, your multi-purpose cleaning bottle is complete!
      </p>
    </li>

    <li>
      {% include image-source-set.html image="31-household-cleaner/11-finished-bottle.jpg" alt="glass bottle with spray top and multi-purpose cleaning label" %}
      <p>
        To use, add the appropriate ingredients from bottom to top, using the empty spaces as fill lines, followed 
        by two smalled ingredients at the top. 
      </p>
    </li>

  </ol>
</section>

<section>
  <h3>A few final notes:</h3>
  <p>
    I wanted to keep the writing on the bottle brief, so here are a few explanations:
    <ul>
      <li>"Alcohol" implies rubbing alcohol</li>
      <li>"Vinegar" implies distilled white vinegar</li>
      <li>Essential oils are completely optional and used for scent</li>
      <li>Warm water tends to work best with these cleaning solutions</li>
    </ul> 
  </p>
</section>

