---
layout: post
permalink: make-beeswax-wrap.html
published: true
date: 2021-09-08
category: make
tags: [ beeswax wrap ]
title: How to Make A Beeswax Wrap
description: Step-by-step instructions for how to make a reusable beeswax wrap.
week: 35
image: 35-baking/make-beeswax-wraps.jpg
alt: glass jar, bowl, and casserole dish on counter with homemade beeswax wraps over tops. cookbook and flour jar blurry in background
---

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li>Cotton fabric - I used leftover quilting fabric.</li>
    <li>Scissors</li>
    <li>Beeswax Pellets or shavings</li>
    <li>Olive oil</li>
    <li>Iron</li>
    <li>Parchment paper</li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="35-baking/1-cut-fabric.jpg" alt="multiple squares of fabric with bowls and jar placed top" %}
      <p>
        Use bowls and baking dishes to cut your fabric into desired sizes. You want to make sure the fabric is big enough 
        to drape over whatever container you would like to cover.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/2-sprinkle-beeswax.jpg" alt="beeswax pellets spread out over fabric square" %}
      <p>
        Put your fabric on a piece of parchment paper, then sprinkle beeswax pellets across the entire piece of fabric.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/3-add-olive-oil.jpg" alt="hand squirting small bottle of olive oil on square of fabric" %}
      <p>
        Drizzle olive oil over the fabric.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/4-iron.jpg" alt="hand ironing parchment paper over fabric" %}
      <p>
        Place another piece of parchment paper on top of the fabric, then iron on high heat.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/5-all-melted.jpg" alt="parchment paper over fabric" %}
      <p>
        Iron the fabric until the beeswax is completely melted. You should be able to see uniform coloring 
        through the parchment paper. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/6-peel-away-parchment.jpg" alt="parchment paper being peeled away from fabric" %}
      <p>
        Right away, peel away the parchment paper and remove your fabric from the bottom piece of parchment paper.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/7-hang-dry.jpg" alt="wooden clip hanger holding square of fabric" %}
      <p>
        Hang your fabric to dry.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/8-finished-wrap.jpg" alt="glass jar on counter with homemade beeswax wrap over top. cookbook and flour jar blurry in background" %}
      <p>
        Once the fabric is completely dry, after an hour or so, it is ready to use. These beeswax wraps mold 
        to bowls and baking dishes pretty well, but if you need extra support, use rubberbands.
      </p>
    </li>

</section>
