---
layout: post
permalink: sustainable-detergent-options.html
published: true
date: 2021-07-27
category: options
tags: [ clothing, fast fashion, detergent, laundry ]
title: 5 Sustainable Detergent Options
description: Make your laundry routine more sustainable with one of these low-waste detergent options
week: 29
image: 29-laundry/laundry-options.jpg
alt: hand putting laundry detergent powder into washing machine full of laundry
---

<section>
  <p>
    Until this week, I had no idea that my <a href="environmental-impact-of-laundry.html" target="__blank">laundry routine had such a negative environmental impact</a>. 
    There are plenty of ways to make the process a little more planet-friendly, like washing in cold water and <a href="how-to-make-clothes-drying-rack.html" target="__blank">
    air drying</a> to save electricity. But since an estimated <a href="https://www.treehugger.com/ditch-laundry-jugs-and-go-plastic-free-4858737" target="__blank">
    1 billion plastic detergent bottles</a> are discarded in the United States every year, switching to a low-waste laundry detergent feels like an easy way 
    to be greener, without having to think too hard on a daily basis. 
  </p>

  <p>
    I'd like to note that I am expecting my first child in October and the following detergents are all 
    considered safe options for cleaning cloth diapers.  
  </p>

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>

<section>
  <h2>Meliora</h2>
  <a class="border:none" href="https://meliorameansbetter.com/collections/laundry?aff=63" target="__blank" >
    {% include image-source-set.html image="29-laundry/meliora-detergent.jpg" alt="meliora brand laundry powder in a cardboard cannister" %}
  </a>
  <p>
    <a href="https://meliorameansbetter.com/collections/laundry?aff=63" target="__blank">
    Meliora</a> has everything I look for in a sustainable laundry detergent. It is made of all-natural ingredients, 
    comes in plastic-free packaging, and is actually less expensive per load than big brands like Tide. 
    Their laundry powder comes in Unscented, Lemon, Lavender, and Lemon Lavender Clove. It is packaged in 
    paperboard containers at $17.99 for 128 HE loads or you can opt for the paper bag refill which is 
    $13.99 for the same amount. If you prefer to go the bulk route, Meliora sells a 5 gallon bucket with 
    2,500 HE loads worth of laundry powder for $239.99. They even include a free shipping label (US customers only) 
    so you can return the empty bucket at no cost to you. Meliora also sells plastic-free stain remover sticks and oxygen brightener.
    All products are vegan and cruelty-free.
  </p>

  <p>
    Use code <em>TINYWASTE</em> on the <a href="https://meliorameansbetter.com/collections/laundry?aff=63" target="__blank">
    Meliora website</a> for 10% off your purchase.
  </p>
</section>

<section>
  <h2>Blueland</h2>
  <a class="border:none" href="https://www.blueland.com/collections/laundry" target="__blank">
    {% include image-source-set.html image="29-laundry/blueland-detergent.jpg" alt="blueland brand detergent tablets with metal tin and paper refill baggie" %}
  </a>
  <p>
    <a class="border:none" href="https://www.blueland.com/collections/laundry" target="__blank">
    Blueland</a> laundry tablets are a no-mess alternative to traditional laundry detergent. They are made 
    of naturally derived ingredients and come in a reusable steel tin with compostable refill baggies. 
    Prices start at $14 for one fragrance-free refill pack of 40 tablets. Blueland products are vegan and cruelty-free.
  </p>
</section>

<section>
  <h2>The Simply Co.</h2>
  <a class="border:none" href="https://packagefreeshop.com//products/simply-co-laundry-detergent" target="__blank">
    {% include image-source-set.html image="29-laundry/the-simply-co-detergent.jpg" alt="the simply co brand laundry powder in glass jar" %}
  </a>
  <p>
    <a class="border:none" href="https://packagefreeshop.com//products/simply-co-laundry-detergent" target="__blank">
    The Simply Co.</a> laundry powder is made of organic natural ingredients. It comes in a reusuable/recyclable glass 
    jar with a metal lid. You can find it at <a href="https://packagefreeshop.com/collections/package-free-products/products/simply-co-laundry-detergent" target="__blank">
    Package Free Shop</a> at $18 for 60 loads. Simply Co. laundry detergent is unscented, vegan, and cruelty-free.
  </p>
</section>

<section>
  <h2>Ingredients Matter</h2>
  <a class="border:none" href="https://www.ingredientsmatterclean.com/collections/all" target="__blank">
    {% include image-source-set.html image="29-laundry/ingredients-matter-detergent.jpg" alt="ingredients matter brand laudry powder in cardboard box" %}
  </a>
  <p>
    <a class="border:none" href="https://www.ingredientsmatterclean.com/collections/all" target="__blank">
    Ingredients Matter</a> detergent is a plant-based laundry powder that comes in recyclable paper packaging. 
    Products start at $16.99 for 72 loads and can be found online or at many Target locations. They offer Fragrance-Free, 
    Lemongrass, and Lavender scents. Ingredients Matter also sells stain sticks, wool dryer balls, and micro-plastic 
    catching laundry bags. All products are cruelty-free.
  </p>
</section>

<section>
  <h2>Nellie's Laundry Soda</h2>
  <a class="border:none" href="https://www.nelliesclean.com/product-category/laundry/" target="__blank" >
    {% include image-source-set.html image="29-laundry/nellies-detergent.jpg" alt="nellie's brand laundry powder in metal tin" %}
  </a>
  <p>
    <a class="border:none" href="https://www.nelliesclean.com/product-category/laundry/" target="__blank">
    Nellie's Laundry Soda</a> is an all-natural, fragrance-free laundry powder that comes in reusable metal tins starting at 
    $22 for 100 loads. You can also find Nellie's in bulk at $126 for 1,100 loads. The bulk option comes in a
    recyclable plastic bucket. They also offer oxygen brighteners, stain-remover sticks, and wool dryer balls. Nellie products are cruelty-free and 
    can be found online or at Home Depot and Walmart.
  </p>
</section>

<section>
<h2>Detergent Pods and Strips</h2>
<p>
  When I started writing this post, I include a few pods and strip options that seemed like an excellent 
  low-waste alternative to bulky plastic detergent bottles. However, these products all use PVA or PVOH, 
  which is a synthetic plastic polymer. Originally, this was thought to be a harmless ingredient, but a 
  <a href="https://www.mdpi.com/1660-4601/18/11/6027" target="__blank">recent study</a> proves otherwise. 
</p>

<p>
  While PVA does dissolve, it doesn't go away - similar to how salt dissolves in water, but you can still 
  taste it. According to the study, 75% of PVA remains in our waterways and our soil after it dissolves in laundry and 
  dish washing machines. It flows through our wastewater and ultimately ends up back in our environment. 
  Basically, instead of using plastic bottles, we are just sending plastics directly into our waterways.
</p>

<p>
  Here is a list of the products I had initially included, but will no longer support since they all use 
  PVA:
</p>
</section>

<section>
  <ul>
    <li>
      <a class="border:none" href="https://shareasale.com/r.cfm?b=1398840&u=2847584&m=90625&urllink=www%2Etru%2Eearth%2FStore%2FTru%2DEarth%2DEco%2Dstrips%2DLaundry%2DDetergent%2DFL%2D32&afftrack=" target="__blank">
      Tru Earth</a>
    </li>

    <li>
      <a class="border:none" href="https://www.dropps.com/collections/laundry-detergent-pods" target="__blank">
      Dropps</a>
    </li>

    <li>
      <a class="border:none" href="https://sheetslaundryclub.com/laundry/" target="__blank" >
      Sheets</a>
    </li>

    <li>
      <a class="border:none" href="https://www.kindlaundry.com/products/kind-laundry-detergent-sheets-ocean-breeze-60-sheets" target="__blank" >
      Kind Laundry</a>
    </li>

    <li>
      <a class="border:none" href="https://www.earthbreeze.com/" target="__blank">
      Earth Breeze</a>
    </li>
  </ul>
</section>

<section>
  <p>
    After trying multiple sustainable brands, my detergent of choice is <a href="https://meliorameansbetter.com/collections/laundry?aff=63" target="__blank">
    Meliora</a>. It has been an inexpensive, effective cleaner that I feel comfortable putting into our 
    waterways and washing my future child's clothing in. That being said, I highly recommend trying 
    multiple options to see what works for you and your family.
  </p>
</section>

<section>
  <a class="border:none" href="https://meliorameansbetter.com?aff=63" rel="nofollow" ><img src="https://www.affiliatly.com/affiliate_files/banners/16290/MCP - MADE SAFE-06.png" width="800" height="800" alt="" /></a>
</section>
