---
layout: post
permalink: 
published: false
date: 2021-09-06
category: info
tags: [  ]
title: The Environmental Impact of 
description: 
week: 36
image: 36-ziplocs/.jpg
alt: 
excerpt_separator: <!--more-->
---
<section>
  <p>

  </p>
</section>

<section>
  <h2></h2>
  <p>

  </p>
</section>

<section>
  <h2></h2>
  <p>

  </p>
</section>

<section>
  <h2>Are plastic zipper storage bags recyclable?</h2>
  <p>
    Technically, most plastic zipper storage bags are recyclable. However, since they are considered a plastic 
    film, they should never go into your curbside recycling, as they can clog the machinery at recycling facilities.
    Many grocery stores offer plastic film recycling drop offs near the front doors, but if yours doesn't, 
    <a href="https://www.plasticfilmrecycling.org/recycling-bags-and-wraps/find-drop-off-location/" target="__blank">
    use this link to search for a drop off location in your area</a>. Or, consider getting sending them to 
    <a href="https://www.terracycle.com/en-US/collection-programs?query=plastic%20sandwich%20bags" target="__blank">
    Terracycle</a> for recycling.
  </p>
</section>

<section>
  <h2>What can I use instead?</h2>
  <p>

  </p>
</section>



<section>
  <h2>Stasher Bags</h2>
    <a href="" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="" target="__blank"></a>
    </p>
</section>

<section>
  <h2>Upcycled Glass Jars</h2>
    <a href="" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="" target="__blank"></a>
    </p>
</section>

<section>
  <h2>Beeswax Wraps</h2>
    <a href="" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="" target="__blank"></a>
    </p>
</section>

<section>
  <h2>Cloth Snack Bags</h2>
    <a href="https://www.marleysmonsters.com/collections/sandwich-bags/products/snack-bag-linen?variant=13630970396756" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="https://www.marleysmonsters.com/collections/sandwich-bags/products/snack-bag-linen?variant=13630970396756" target="__blank"></a>
    </p>
</section>

<section>
  <h2>If You Care Paper Sandwich Bags</h2>
    <a href="https://buyifyoucare.com/products/sandwich-bags-fcs-certified" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="" target="__blank"></a>
    </p>
</section>

