---
layout: post
permalink: diy-reusable-wet-wipes.html
published: false
date: 2021-08-25
category: make
tags: [ paper towels, wet wipes, reusable ]
title: How to Make Reusable Cloth Wet Wipes
description:
week: 33
image: 33-paper-towels/.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="33-paper-towels/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>