---
layout: post
permalink: make-reusable-cotton-rounds.html
published: true
date: 2021-06-16
category: make
tags: [ cotton rounds, makeup  ]
title: DIY Reusable Cloth Cotton Rounds
description: 
week: 24
image: 24-makeup/.jpg
alt:
---

<section>
  <p>
    Cotton rounds are often used to aid in makeup removal, and while they are typically 
    This week was all about <a href="environmental-impact-of-makeup.html" target="__blank">
    the environmental impact of makeup</a>. I didn't cover cotton rounds in that post, though they 
    are often used to wipe away all of those cosmetics. This is a ridiculously easy project that is perfect for beginners. 
  </p>
  <p>
    Not feeling very crafty? You can also purchase a set of 20 cotton rounds from <a href="https://www.marleysmonsters.com/collections/facial-body-care/products/20-reusable-3-facial-rounds-shades-of-grey?variant=28485478789" target="__blank">
    Marley's Monsters</a> for $16.
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>Cotton fabric remnants</li>
    <li>Sewing machine or serger and supplies</li>
  </ul>

</section>

<section class="instructions">
  <h2>Let's make reusable cotton rounds!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="24-makeup/1-gather-remnants.jpg" alt="various fabric scraps on a counter" %}
      <p>
        Gather your pre-washed cotton fabric scraps. I used remnants from a quilt project, but if you 
        prefer something softer, look for some old flannel. Goodwill and Facebook Marketplace are great 
        resources for inexpensive second-hand fabric.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="24-makeup/2-cut-doubles.jpg" alt="various fabric colors and shapes on a table" %}
      <p>
        Cut out two layers of various shapes. I know some people will prefer a uniform circle for each cotton 
        round, but I highly encourage you to use all of your scraps, regardless of shape. Double them up for 
        extra strength and absorbancy.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="24-makeup/3-sew-edges.jpg" alt="pile of fabric circles with serged edges" %}
      <p>
        Serge or zig zag stitch around the edges and use as you world normally use cotton round. I rub
        a little olive oil as a <a href="diy-skin-care-routine.html" target="__blank">natural makeup remover</a> 
        and then use a cloth cotton round to wipe it away. When you've reached the end of your stash, put 
        them in a mesh wash bag and throw them into your next load of laundry.
      </p>
    </li>

  </ol>
</section>

