---
layout: post
permalink: diy-toilet-bombs.html
published: true
date: 2021-08-04
category: make
tags: [ toilet, cleaning ]
title: How to Make Toilet Cleaning Bombs
description: Step by step tutorial for how to make easy toilet cleaning bombs with only three ingredients
week: 30
image: 30-bathroom-cleaner/toilet-bombs.jpg
alt: 
---

<section>
 

  <p>
    I loathe cleaning the bathroom... just the thought of scrubbing a toilet bowl gets me dry heaving.
    Before I started my low-waste journey, I was happy to use the most potent chemicals available. 
    Now, I've learned that <a href="environmental-impact-of-bathroom-cleaners.html" target="__blank">
    conventional bathroom cleaners can be harmful to both my health and the environment</a>. I've since
    switched to a <a href="sustainable-bathroom-cleaners.html" target="__blank">
    low-waste, naturally-derived bathroom cleaner</a>, but it should come as no surprise that they 
    require a touch more effort than dousing every surface with bleach.  I'll do whatever it takes to limit the amount of time I spend hovering over a toilet, which is why 
    this week, I decided to make toilet bombs that I can toss into the toilet in between deep cleaning 
    sessions.
  </p>

  <p>
    Note: There are toilet bomb recipes all over the internet. I did not come up with the idea 
    on my own, I'm simply trying out a mix of tutorials and sharing the process to show how easy this 
    project can be. This recipe made enough for 12 toilet bombs.
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  {% include image-source-set.html image="30-bathroom-cleaner/toilet-bomb-ingredients.jpg" alt="empty bowl, silicone molds, baking soda, lemon essential oil, and citric acid on a countertop" %}
  <ul>
    <li>2 cups baking soda or one 16 oz box</li>
    <li>1 cup citric acid or 1 7.5 oz contianer - found at most grocery stores with canning equipment or cleaning products.</li>
    <li>Water</li>
    <li>Optional - 50 drops essential oil. The essential oil isn't required for cleaning, but I used lemon because I like a clean citrus scent in the bathroom.</li>
    <li>Silicone molds - I found a cute flower mold at Goodwill, but you can also use silicone ice trays or silicone cupcake liners.</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make some toilet bombs!</h2>
  <ol>

    <li>
      {% include image-source-set.html image="30-bathroom-cleaner/1-mix-ingredients.jpg" alt="bowl full of baking soda and citric acid next to empty baking soda box and empty citric acid bottle" %}
      <p>
        Mix the baking soda and citric acid in a bowl. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="30-bathroom-cleaner/2-add-essential-oil.jpg" alt="hand adding lemon essential oil to bowl" %}
      <p>
        Add the essential oils and mix well.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="30-bathroom-cleaner/3-spray-water.jpg" alt="hand spraying water into bowl with mixture" %}
      <p>
        Slowly spray water into the bowl and mix. You only want enough water so that the mixture sticks together 
        when you squeeze it. Be careful not to add too much water 
        or the bombs won't stop bubbling and will never harden.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="30-bathroom-cleaner/4-fill-molds.jpg" alt="silicone molds filled with white mixture" %}
      <p>
        Distribute equal amounts of the mixture in your silicone molds.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="30-bathroom-cleaner/5-compress-mixture.jpg" alt="hand using spoon to push white mixture into silicone molds" %}
      <p>
        With your fingers or a spoon, push the mixture down into each mold until compact.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="30-bathroom-cleaner/6-finished-toilet-bombs.jpg" alt="finished toilet bombs in decorative shapes" %}
      <p>
        Let the bombs dry for a few hours, or until hard, before removing them from the molds. When they are finished, keep them 
        in a airtight jar and toss one into your toilet bowl any time it needs a little freshening up.
      </p>
    </li>

  </ol>
</section>