---
layout: post
permalink: diy-lip-balm.html
published: true
date: 2021-05-28
category: make
tags: [ lip balm, chapstick  ]
title: DIY
description: 
week: 23
image: 23-lip-balm/.jpg
alt:
---

<section>
  <p>

  </p>

  <p>
    I try very hard to use ingredients I already have, otherwise I'd be making a new purchase 
    every other week and that defeats the purpose of saving money and reducing waste. The coconut oil, 
    shea butter, and essential oils can all be used to make <a href="make-your-own-deodorant.html" target="__blank">
    deodorant</a>, <a href="make-shaving-cream.html" target="__blank">shaving cream</a>, and 
    <a href="diy-skin-care-routine.html" target="__blank">skin care products</a> like moisturizer 
    and face scrub.
  </p>
</section>

<section>
  <h2>What you'll need?</h2>
  <ul>
    <li>shea butter</li>
    <li>coconut oil</li>
    <li>beeswax</li>
    <li>essential oil</li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>