---
layout: post
permalink: sustainable-paper-towel-options.html
published: false
date: 2021-08-24
category: options
tags: [ dishes, dish detergent ]
title: 5 Sustainable Paper Towel Options
description: List of low-waste, environmentally friendly paper towel options
week: 33
image: 33-paper-towels/.jpg
alt: 
---

<section>
  <p>

  </p>

  <p>
    There ar
    Americans spend<a href="https://www.theatlantic.com/family/archive/2018/12/paper-towels-us-use-consume/577672/" target="__blank">
    $5.7 billion</a> on paper towels every year.
  </p>
</section>

<section>
  <h2>Dream Cloths</h2>
  <a class="border:none" href="https://au.whogivesacrap.org/products/dream-cloths" target="__blank">
    {% include image-source-set.html image="33-paper-towels/.jpg" alt=""}
  </a>

  <p>
    <a href="https://au.whogivesacrap.org/products/dream-cloths" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> $12 for three cloths.
  </p>
</section>

<section>
  <h2>Marley's Monsters UNpaper Towels</h2>
  <a class="border:none" href="https://www.marleysmonsters.com/collections/unpaper-towels-napkins" target="__blank">
    {% include image-source-set.html image="33-paper-towels/marleys-monsters-unpaper-towels.jpg" alt=""}
  </a>

  <p>
    <a href="https://www.marleysmonsters.com/collections/unpaper-towels-napkins" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> $16 for a 6 pack, $30 for a 12 pack, $54 for a 24 pack
  </p>
</section>

<section>
  <h2>Mioeco Unpaper Towels</h2>
  <a class="border:none" href="https://mioeco.com/" target="__blank">
    {% include image-source-set.html image="33-paper-towels/.jpg" alt=""}
  </a>
  
  <p>
    <a href="https://mioeco.com/" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> $20.95 for a pack of 10 towels.
  </p>
</section>

<section>
  <h2>Wowables</h2>
  <a class="border:none" href="https://www.wowables.tv/collections/all" target="__blank">
    {% include image-source-set.html image="33-paper-towels/.jpg" alt=""}
  </a>
  
  <p>
    <a href="https://www.wowables.tv/collections/all" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> 12 sheet roll for 9.99 or 30 sheet roll for $19.99
  </p>
</section>

<section>
  <h2>Who Gives a Crap Bamboo Paper Towels</h2>
  <a class="border:none" href="https://au.whogivesacrap.org/products/forest-friendly-paper-towels-6-double-length-rolls" target="__blank">
    {% include image-source-set.html image="33-paper-towels/.jpg" alt=""}
  </a>

  <p>
    <a href="https://au.whogivesacrap.org/products/forest-friendly-paper-towels-6-double-length-rolls" target="__blank">Who Gives a Crap</a>
    paper towels are a perfect starting point for anyone who wants to be more environmentally concious, but 
    can't quite let go of disposable paper towels.  
  </p>

  <p>
    <strong>Price:</strong> $18 for 6 rolls.
  </p>
</section>

<section>
  <h3>Final Thoughts:</h3>
  <p>
    I started using <a href="https://au.whogivesacrap.org/products/dream-cloths" target="__blank">Dream Cloths</a>, 
    in the kitchen, as I find they work best with food messes since they can be rinsed and dry quickly.
    After some trial and error, I've learned they should be left where they can dry, otherwise they get a little slimy. 
  </p>

  <p>
    For other surfaces in the house, I use a cloth rag or <a href="diy-reusable-wet-wipes.html" target="__blank">resuable wet wipes</a>. However, 
    I do keep a box of <a href="https://au.whogivesacrap.org/products/forest-friendly-paper-towels-6-double-length-rolls" target="__blank">
    bamboo paper towels</a> on hand for grosser cleanups like vomit or pet mess. 
  </p>
</section>
