---
layout: post
permalink: make-reusable-pads.html
published: true 
date: 2021-03-24
category: make
tags: [ waste, zero waste, garbage, trash, pads, feminine hygiene ]
title: How to Make a Reusable Cloth Pad
description: Step by step tutorial to make a reusable cloth pad
week: 12
image: 12-feminine-hygiene/make-cloth-pad.jpg
alt: cloth menstrual pad surrounded by leaves and flowers
---

<section>
  <p>
    Cloth pads may be a thing of the past, but they are making a comeback in the sustainable world. 
    Unlike disposable pads, cloth can be washed and reused a hundred times over without contributing to 
    landfill waste and saving a boatload of money in the process. This project takes less than a half hour and 
    you can make a whole bunch in one sitting!
  </p>
</section>

<section>
  <h2>What you'll need</h2>
  <ul>
    <li>Natural Fabric - I used cotton fabric remnants for the outside and stained dishtowels as well as an old 
      bamboo pillowcase for the inside. You can also make inserts waterproof materials from rain gear and umbrellas for 
      added protection.
    </li>
    <li>Scissors</li>
    <li>Sewing Machine</li>
    <li>Optional - serger</li>
    <li>Snaps, button, or velcro for closure</li>
    <li><a href="https://tiny-waste-images.s3.amazonaws.com/12-feminine-hygiene/pad-pattern.jpg" target="__blank" download>Pattern</a> - it's free! Click to download. 
      The top should be 8" at its widest.</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a pad</h2>
  <ol>
    <li>
      {% include image-source-set.html image="12-feminine-hygiene/1-cut-pattern.jpg" alt="" %}
      <p>
        Print and cut out the free pattern provided above.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/2-cut-fabric.jpg" alt="" %}
      <p>
        Cut two top pieces from cotton remnants and three insert pieces from old dishtowels or bedsheets.
        If you have a heavier flow, use more layers.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/3-layer.jpg" alt="" %}
      <p>
        Stack the insert pieces on the wrong side of a top piece. Place them so that they 
        fit within the fabric.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/4-pin-layers.jpg" alt="" %}
      <p>
        Pin the layers in place.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/5-sew-layers.jpg" alt="" %}
      <p>
        Using a straight stitch, sew the inserts down on each side.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/6-pin-top.jpg" alt="" %}
      <p>
        Pin the top pieces, wrong sides together. The inserts should be hidden.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/7-sew-top.jpg" alt="" %}
      <p>
        Sew the tops together around the edges with a quarter inch seam allowance.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/8-finish-edges.jpg" alt="" %}
      <p>
        Finish the edges with a serger or zig zag stitch.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/9-sew-snaps.jpg" alt="" %}
      <p>
        Sew snaps on the corners that don't have inserts. You should only have one
        snap on each side.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="12-feminine-hygiene/10-finish-pad.jpg" alt="" %}
      <p>
        Your cloth pad is finished! To use, snap it around your panties while you're menstruating. 
        Once soiled, wash normally and line or machine dry.
      </p>
    </li>
  </ol>
</section>