---
layout: post
permalink: plastic-free-hand-soap-options.html
published: false
date: 2021-05-12
category: info
tags: [ hand soap, sanitizer ]
title: 5 Sustainable Hand Soap Options
description:
week: 19
image: 19-hand-soap/
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>Blueland</h2>
  {% include image-source-set.html image="19-hand-soap/.jpg" "alt="}
  <p>

  </p>
</section>

<section>
  <h2>Plaine Products</h2>
  {% include image-source-set.html image="19-hand-soap/.jpg" "alt="}
  <p>
    
  </p>
</section>

<section>
  <h2></h2>
  {% include image-source-set.html image="19-hand-soap/.jpg" "alt="}
  <p>
    
  </p>
</section>

<section>
  <h2></h2>
  {% include image-source-set.html image="19-hand-soap/.jpg" "alt="}
  <p>
    
  </p>
</section>

<section>
  <h2></h2>
  {% include image-source-set.html image="19-hand-soap/.jpg" "alt="}
  <p>
    
  </p>
</section>