---
layout: post
permalink: make-shaving-cream.html
published: true
date: 2021-04-28
category: make
tags: [ waste, zero waste, garbage, trash, shaving cream]
title: Make Shaving Cream
description: Tutorial for how to make your own shaving cream
week: 17
image: 17-razors/make-shaving-cream.jpg
alt: jar of homemade shaving cream next to safety razor on tile floor
---

<section>
  <p>
    The day I had to start paying for my own shaving cream was the day I decided it was no longer a necessity.
    Even once I could afford to pay my rent and non-ramen groceries without working weekends, I still 
    opted for the ol' soap and hot water technique. This week, my solely monetary concerns were enhanced by
    environmental concerns. There are so many toxic ingredients in regular shaving cream that I'm slowly 
    trying to phase out of my life including parabens, sulfates, and pthalates.
  </p>

  <p>
    When I started searching for all natural alternatives, I found DIY recipes and suddenly, I felt like 
    I could get back in the shaving cream game! I tried out a few recipes that left my skin itchy, blotchy, or oily, 
    but after a few alterations, I found a combination that works for me. The castile soap did a great job 
    of cutting the oil and the baking soda was the magic ingredient that prevented razor burn.  
  </p>

  <p>
    This recipe takes about five minutes to make and lasts for two or three months. You really only need 
    about a quarter size dollop per leg. Feel free to play around with this recipe to find what works best 
    for your skin.
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>1/3 cup shea butter</li>
    <li>1/3 cup coconut oil</li>
    <li>2 tbsp castile soap</li>
    <li>1 tbsp olive oil</li>
    <li>1 tbsp baking soda</li>
    <li>Air tight jar or container. I used a 4oz mason jar, but you can reuse an empty sour cream tub or somthing similar.</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make some shaving cream!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="17-razors/1-melt-coconut-and-shea.jpg" alt="chunks of coconut oil and shea butter in glass mixing cup" %}
      <p>
        Put your coconut oil and shea butter in a mixing cup and pop it in the microwave for 45 seconds.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="17-razors/2-mix-coconut-and-shea.jpg" alt="whisk mixing coconut oil and shea butter in silver bowl" %}
      <p>
        Mix the coconut oil and shea butter until smooth. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="17-razors/3-add-ingredients.jpg" alt="tablespoon of olive oil being added to coconut oil mixture" %}
      <p>
        Add the rest of the ingredients and mix until creamy.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="17-razors/4-transfer.jpg" alt="mixture transferred from silver bowl to small glass jar" %}
      <p>
        Spoon mixture into air tight jar or container and keep sealed between uses.
      </p>
    </li>
  </ol>
</section>
