---
layout: post
permalink: make-reusable-coffee-filter.html
published: false
date: 2021-09-08
category: make
tags: [  ]
title: How to Make A Reusable Coffee Filter
description:
week: 37
image: 37-coffee-tea/make-coffee-filter.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="37-coffee-tea/1-trace-pattern.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="37-coffee-tea/2-cut-pattern.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="37-coffee-tea/3-double-layers.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="37-coffee-tea/4-stack-four.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="37-coffee-tea/5-serge-one-side.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="37-coffee-tea/6-two-sets.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="37-coffee-tea/7-stack-sides.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="37-coffee-tea/8-serge-together.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="37-coffee-tea/9-serge-edges.jpg" alt="" %}
      <p>

      </p>
    </li>

  </ol>
</section>