---
layout: post
permalink: make-reusable-sheet-mask.html
published: true
date: 2021-05-05
category: make
tags: [ sheet mask, moisturize, spa ]
title: How to Make a Reusable Sheet Mask
description: Step-by-step tutorial for making resuable cloth sheet mask plus four serum recipes.
week: 18
image: 18-lotion/make-sheet-mask.jpg
alt: woman wearing white robe and white towel around her hair with cotton sheet mask on her face
---

<section>
  <p>
    Sheet masks are my ultimate pampering item. My sister and I even have girls' nights in 
    that revolve around those goopy little masks. <a href="environmental-impact-of-lotion.html" target="__blank">This week</a> 
    I was horrified to discover that my beloved sheet masks are not only packaged in plastic, but the 
    masks themselves are usually made up plastic. 
  </p>

  <p>
    Even though sheet masks are typically only a few dollars a pop and rarely bigger than a napkin, 
    the amount of monetary and landfill-bound waste really adds up. So instead, I'm made my 
    own reusable one! I've even shared a free pattern below so you can make your own.
  </p>
</section>

<section>
  <h2>4 Sheet mask recipes from <a href="https://www.stylecraze.com/articles/diy-sheet-masks-for-glowing-skin/#9-chamomile-and-lavender-sheet-mask-for-calming-your-skin" target="__blank">
    Stylcraze</a>:</h2>
  <h3>Rice Water Brightening Mask</h3>
  <p>
    Ingredients
  </p>
    <ul>
      <li>1/4 cup of rice</li>
      <li>1/2 cup water</li>
    </ul>
    <p>
      Rinse the rice then add it to your bowl of water. Let the rice soak overnight, then refrigerate for 20 minutes.
      Soak your sheet mask in the rice water and place it on your face for 15-30 minutes. Remove and rinse.
    </p>

  <h3>Green Tea Detoxifying Mask</h3>
    <ul>
      <li>Green Tea (ditch the plastic tea bag and brew your loose leaf tea in a tea ball)</li>
      <li>2-3 drops lemon juice</li>
    </ul>
    <p>
      Steep the green tea in boiling water for 5 minutes, let cool, and add your reusable mask. Place the tea and mask in a 
      refrigerator for 20-30 minutes then apply the mask to your face for 20-30 minutes.
    </p>

  <h3>Watermelon Refreshing Mask</h3>
    <ul>
      <li>2 tbsp fresh watermelon juice</li>
      <li>1 tbsp aloe vera gel</li>
    </ul>
    <p>
      Mix the ingredints, place in a refrigerator for 15 minutes, and stir again. Soak your sheet mask 
      in the mixture, then place it on your face for 15-30 minutes, then remove and rinse.
    </p>

  <h3>Chamomile and Lavender Calming Mask</h3>
    <ul>
      <li>Chamomile tea (ditch the plastic tea bag and break loose leaf tea in a tea ball)</li>
      <li>2-3 drops lavender essential oil</li>
    </ul>
    <p>
      Steep the chamomile in a cup of boiling water for 5 minutes. Let cool, then add 2-3 drops lavender 
      essential oil. Soak your sheet mask, then apply to face for 15-30 minutes, then remove and rinse.
    </p>
</section>


<section>
  <h2>What you'll need to make the mask:</h2>
  <ul>
    <li><a href="natural-vs-synthetic.html" target="__blank">Natural fabric</a>, about the size of a sheet of paper. Think old bed sheet, stained blouse, or fabric remnant.</li>
    <li>Chalk, pencil, or marker to trace pattern</li>
    <li>Scissors</li>
    <li>Sewing machine or serger for finishing edges</li>
    <li>Free sheet mask pattern. <a href="assets/img/18-lotion/sheet-mask-pattern.jpg" download>Click here to download</a>.</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a sheet mask!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="18-lotion/1-cut-pattern.jpg" alt="sheet mask pattern cut from paper" %}
      <p>
        Print and cut out the free sheet mask pattern provided above. 
      </p>
    </li>
    
    <li>
      {% include image-source-set.html image="18-lotion/2-trace-pattern.jpg" alt="mask pattern traced on fabric with chalk" %}
      <p>
        Trace the pattern on your fabric.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/3-cut-oval.jpg" alt="fabric oval cut out" %}
      <p>
        Cut out only the biggest oval. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/4-sew-edges.jpg" alt="sewing machine doing zig zag stitch around oval edges" %}
      <p>
        Use a serger or zigzag stitch to sew the outer edge and keep fabric from fraying.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/5-sew-holes.jpg" alt="zig zag stitch sewn around pattern marks" %}
      <p>
        Now, serge or zig zag the eyes, mouth, nose, and side slits.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/6-cut-holes.jpg" alt="two eye holes, a mouth hole, and a nose slit cut out of oval fabric" %}
      <p>
        Once the edges are all sewn, you can make the rest of your cuts. Your sheet mask is ready to use! Try one of the serums above or make your 
        own mixture.
      </p>
    </li>
  </ol>
</section>