---
layout: post
permalink: environmental-impact-of-hair-products.html
published: true
date: 2021-06-17
category: info
tags: [ shampoo, condition, hair spray ]
title: The Environmental Impact of Hair Care Products
description: A look at why hair cair packaging and its ingredients are harmful for the environment
week: 25
image: 25-hair/.jpg
alt: 
excerpt_separator: <!--more-->
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>Shampoo and Conditioner</h2>
  {% include image-source-set.html image="25-hair/plaine-products-shampoo.jpg" alt="plaine products brand shampoo in aluminum bottle" %}
  <p>

  </p>

  <p>
    <a href="https://www.plaineproducts.com/" target="__blank">Plaine Products</a> Use code TINYWASTE at checkout for 20% off your purchase.
  </p>
</section>

<section>
  <h2>Hairspray</h2>
  {% include image-source-set.html image="25-hair/.jpg" alt="" %}
  <p>

  </p>
</section>

<section>
  <h2>Combs and Brushes</h2>
  {% include image-source-set.html image="25-hair/wooden-comb.jpg" alt="wooden comb" %}
  <p>
    <a href="https://packagefreeshop.com/collections/haircare/products/wooden-pocket-comb" target="__blank">Wooden Comb</a>
    <a href="https://packagefreeshop.com/collections/haircare/products/package-free-bamboo-hairbrush" target="__blank">Bamboo hairbrush</a>
  </p>
</section>

<section>
  <h2>Hair Ties</h2>
  {% include image-source-set.html image="25-hair/compostable-hair-ties.jpg" alt="multiple black hair ties" %}
  <p>
    <a href="https://packagefreeshop.com/collections/haircare/products/compostable-hair-ties-pack" target="__blank">Compostable Hair Ties</a>
  </p>
</section>

<section>
  <h2>Are hair care products recyclable?</h2>
  <p>

  </p>
</section>

<section>
  <h2>How can I be more sustainable?</h2>
  <p>

  </p>
</section>