---
layout: post
permalink: sustainable-detergent-options.html
published: false
date: 2021-07-27
category: options
tags: [ clothing, fast fashion, detergent, laundry ]
title: 10 Sustainable Detergent Options
description: Make your laundry routine more sustainable with one of these low-waste detergent options
week: 29
image: 29-laundry/.jpg
alt: 

---

<section>
  <p>
    Until this week, I had no idea that my <a href="environmental-impact-of-laundry.html" target="__blank">laundry routine had such a negative environmental impact</a>. 
    There are plenty of ways to make the proccess a little more planet-friendly, like washing in cold water and <a href="how-to-make-clothes-drying-rack.html" target="__blank">
    air drying</a> to save electricity.
  </p>
</section>

<p>
  <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
  earn a small commission if you click through and make a purchase.</em>
</p>

<section>
  <h2>Meliora</h2>
  <a class="border:none" href="https://meliorameansbetter.com/collections/laundry?aff=63" target="__blank" >
    {% include image-source-set.html image="29-laundry/meliora-detergent.jpg" alt="meliora brand laundry powder in a cardboard cannister" %}
  </a>
  <p>
    
  </p>
</section>

<section>
  <h2>Blueland</h2>
  <a class="border:none" href="https://www.blueland.com/collections/laundry" target="__blank" >
    {% include image-source-set.html image="29-laundry/blueland-detergent.jpg" alt="" %}
  </a>
  <p>

  </p>
</section>

<section>
  <h2>The Simply Co</h2>
  <a class="border:none" href="https://packagefreeshop.com//products/simply-co-laundry-detergent" target="__blank" >
    {% include image-source-set.html image="29-laundry/the-simply-co-detergent.jpg" alt="" %}
  </a>
  <p>

  </p>
</section>

<section>
  <h2>Etee</h2>
  <a class="border:none" href="https://www.shopetee.com/collections/laundry"  target="__blank" >
    {% include image-source-set.html image="29-laundry/etee-detergent.jpg" alt="" %}
  </a>
  <p>

  </p>
</section>

<section>
  <h2>Nellie's Laundry Soda</h2>
  <a class="border:none" href="https://www.nelliesclean.com/product-category/laundry/" target="__blank" >
    {% include image-source-set.html image="29-laundry/nellies-detergent.jpg" alt="" %}
  </a>
  <p>

  </p>
</section>



<section>
<h2>Detergent Pods and Strips</h2>
<p>
  When I started writing this post, I include a few pods and strip options that seemed like an excellent 
  low-waste alternative to bulky plastic detergent bottles. However, these products all use PVA or PVOH, 
  which is a synthetic plastic polymer. Orginally, this was thought to be a harmless ingredient, but a 
  <a href="https://www.mdpi.com/1660-4601/18/11/6027" target="__blank">recent study</a> proves otherwise. 
</p>

<p>

</p>
</section>

<section>
  <ul>
    <li>
      <a class="border:none" href="https://shareasale.com/r.cfm?b=1398840&u=2847584&m=90625&urllink=www%2Etru%2Eearth%2FStore%2FTru%2DEarth%2DEco%2Dstrips%2DLaundry%2DDetergent%2DFL%2D32&afftrack=" target="__blank">
      Tru Earth</a>
    </li>

    <li>
      <a class="border:none" href="https://www.dropps.com/collections/laundry-detergent-pods" target="__blank">
      Dropps</a>
    </li>

    <li>
      <a class="border:none" href="https://sheetslaundryclub.com/laundry/" target="__blank" >
      Sheets</a>
    </li>

    <li>
      <a class="border:none" href="https://www.kindlaundry.com/products/kind-laundry-detergent-sheets-ocean-breeze-60-sheets" target="__blank" >
      Kind Laundry</a>
    </li>

    <li>
      <a class="botder:none" href="https://www.earthbreeze.com/" target="__blank">
      Earth Breeze</a>
    </li>
  </ul>
</section>

<section>
  <a href="https://meliorameansbetter.com?aff=63" rel="nofollow" ><img src="https://www.affiliatly.com/affiliate_files/banners/16290/MCP - MADE SAFE-06.png" width="800" height="800" alt="" /></a>
</section>

<section>
  <h2>Zero Co</h2>
  <a class="border:none" href="https://www.zeroco.com.au/collections/combos/products/laundry-liquid-combo" target="__blank" >
    {% include image-source-set.html image="29-laundry/zero-co-detergent.jpg" alt="" %}
  </a>
  <p>

  </p>
</section>
