---
layout: post
permalink: 10-sustainable-sunscreen-options.html
published: true
date: 2021-06-01
category: options
tags: [ sunscreen, sun block ]
title: 10 Sustainable Sunscreen Options
description: 10 low-wast sunscreen options that will protect your skin without harming the environment.
week: 22
image: 22-sunscreen/sunscreen.jpg
alt: various bottles of sunscreen on a counter
---

<section>
  <p>
    Summer is quickly approaching, which means it's almost time to start lathering on the sunscreen.
    In my last post, <a href="environmental-impact-of-sunscreen.html" target="__blank">The Environmental 
    Impact of Sunscreen</a>, I touched on the fact that both the ingredients and the packaging are 
    problematic. So, here are 10 low-waste options that will protect your skin without harming the environment.
  </p>
</section>

<section>
  <h2>Butterbean Organics</h2>
  {% include image-source-set.html image="22-sunscreen/butterbean-sunscreen.jpg" alt="butterbean organics brand sunscreen in aluminum spray bottle and cardboard tube, both nestled in the sand" %}
  <p>
    <a href="https://www.butterbeanorganics.com/collections/butterbean-organics" target="__blank">Butterbean Organics</a> 
    is a mom-owned and operated business looking to make safe, eco-friendly sunscreen for the 
    entire family. On their website, you can find an array of options, from cardboard tubes, to metal tins, to aluminum spray bottles. 
    They even offer refill packs so that you can keep using one bottle. All sunscreens are reef-safe, all-natural, organic, 
    biodegradable, and cruelty free. Prices start at $14.99 for a 1 oz sport stick.
  </p>
</section>

<section>
  <h2>Raw Elements</h2>
  {% include image-source-set.html image="22-sunscreen/raw-elements-sunscreen.jpg" alt="raw elements brand sunscreen in a metal tin" %}
  <p>
    <a href="https://www.rawelementsusa.com/collections/all" target="__blank">Raw Elements</a> 
    sunscreen is all-natural, reef-safe, and cruelty-free. You can choose from compostable cardboard 
    tubes, reusable metal tins, and aluminum squeeze bottles. A 3 oz plastic-free face and body tin 
    costs $18.99 on their website, making this one of the more economical choices on this list.
  </p>
</section>

<section>
  <h2>Meow Meow Tweet</h2>
  {% include image-source-set.html image="22-sunscreen/meow-meow-tweet-sunscreen.jpg" alt="meow meow tweet brand sunscreen in glass pump bottle" %}
  <p>
    <a href="https://meowmeowtweet.com/products/everyday-sunscreen" target="__blank">Meow Meow Tweet</a> 
    25 SPF is a reef-safe, plant-based lotion intended for daily use on the face (and body). 
    It comes in an aluminum bottle with an optional plastic pump (the pump can be returned for Terracycling).
    A 2.7 oz bottle costs $22 on their website.
  </p>
</section>

<section>
  <h2>Little Hands Hawaii</h2>
  {% include image-source-set.html image="22-sunscreen/little-hands-sunscreen.jpg" alt="little hands hawaii sport stick sunscreen in cardboard tube" %}
  <p>
    <a href="https://littlehandshawaii.com/products/1-oz-organic-face-stick" target="__blank">Little Hands Hawaii</a>
    is a family owned and operated company based in Hawaii. They offer all-natural, reef-safe 
    35-40 SPF sunscreen in recyclable metal tins or biodegradable paper tubes. Prices start at $8 for a 0.5 oz 
    travel tin.
  </p>
</section>

<section>
  <h2>Sea & Summit</h2>
  {% include image-source-set.html image="22-sunscreen/sea-and-summit-sunscreen.jpg" alt="sea and summit brand sunscreen in plastic free tube" %}
  <p>
    <a href="https://www.seaandsummitsunscreen.com/collections/all" target="__blank">Sea & Summit</a>
    is a Califonia based company that offers 36 and 50 SPF sunscreen, one of the highest on this list. Their 
    sunscreens come in plastic-free tubes or 100% recycled plastic bottle. All products 
    are reef-safe, all-natural, organic, and cruelty-free. Prices start at $10 for a small travel stick.
  </p>
</section>

<section>
  <h2>Avasol</h2>
  {% include image-source-set.html image="22-sunscreen/avasol-sunscreen.jpg" alt="avasol brand sunscreen in aluminum pump tube" %}
  <p>
    <a href="https://avasol.com/products/edcpump" target="__blank">Avasol</a> is another 
    California based company offering all-natural, reef-safe sunscreen at either 30 or 50 SPF. 
    You can choose between a biodegradable cardboard tube or an aluminum pump bottle. 
    A 1 oz stick costs $19.95 and a pump bottle is $29.95 for 2.5 oz.
  </p>
</section>

<section>
  <h2>Badger Balm</h2>
  {% include image-source-set.html image="22-sunscreen/badger-balm-sunscreen.jpg" alt="badger balm brand sunscreen in metal tube" %}
  <p>
    <a href="https://www.badgerbalm.com/products/reef-safe-mineral-sunscreen-cream-tin-spf-40-unscented" target="__blank">Badger Balm</a>
    40 SPF sunscreen tins are one of the few plastic-free and reef-safe options I've seen in a local store. 
    Badger sunscreen is reef-friendly, natural, and biodegradable. A 2.4 oz metal tin costs 
    $14.99 on their website.
  </p>
</section>

<section>
  <h2>Surf Durt</h2>
  {% include image-source-set.html image="22-sunscreen/surf-durt-sunscreen.jpg" alt="surf durt brand sunscreen in bamboo and metal tin" %}
  <p>
    <a href="https://www.surfdurt.com/collections/sunscreen" target="__blank">Surf Durt</a>
    is a female owned and operated company based in California. They offer all-natural, reef-safe, cruelty-free 
    30 SPF sunscreen in reusable plastic-free bamboo/aluminum tins. Prices start at $18.99 for a 1.5 oz tin.
  </p>
</section>

<section>
  <h2>All Good Sunscreen</h2>
  {% include image-source-set.html image="22-sunscreen/all-good-sunscreen.jpg" alt="all good brand sunscreen in metal tin" %}
  <p>
    <a href="https://allgoodproducts.com/shop/sun/new-spf-50-tinted-mineral-sunscreen-butter-1-oz/" target="__blank">
    All Good</a> is yet another woman owned business that offers an array of natural, organic, and cruelty-free
    skin care products. Their 30-50 SPF reef-safe sunscreen comes in metal tins or 50% recycled plastic bottles. 
    You can find a 1 oz tin on their website for $11.
  </p>
</section>

<section>
  <h2>Apothecary Muse</h2>
  {% include image-source-set.html image="22-sunscreen/apothecary-muse-sunscreen.jpg" alt="apothecary muse brand sunscreen in cardboard tube" %}
  <p>
    <a href="https://apothecarymuse.com/product/sun-stick-enchanted-garden-everyday-1-5-oz/" target="__blank">
      Apothecary Muse</a> is a Pennsylvania based company that uses all-natural ingredients 
      to make environmentally friendly, vegan cosmetics. Their sunscreen comes in a compostable tube 
      and starts at $10 for a 1 oz stick.
  </p>
</section>

<section>
  <h3>Wondering what I'm taking to Seychelles?</h3>
  <p>
    After doing a ton of research for this week of my <a href="what-is-tiny-waste.html" target="__blank">
    Tiny Waste Resolution</a> I decided to go with <a href="https://www.rawelementsusa.com/collections/all" target="__blank">
    Raw Elements</a> certified natural sunscreen. This product felt the most economical for 
    a reef-safe, plastic-free, and cruelty-free option. Two weeks on the beach will be the perfect 
    test for this sunscreen, so I'll be sure to review it after my trip.
  </p>
</section>


