---
layout: post
permalink: diy-beach-coverup.html
published: true
date: 2021-06-02
category: make
tags: [ sunscreen, beach, diy ]
title: Easy DIY Beach Cover Up
description: This beach cover up requires no pattern and is perfect for beginners.
week: 22
image: 22-sunscreen/make-coverup.jpg
alt: woman wearing sun hat and loose beach cover up holding beach bag
---

<section>
  <p>
    Earlier this week I learned about <a href="environmental-impact-of-sunscreen.html" target="__blank">
    the environmental impact of sunscreen</a> and how harmful convential sunscreen ingredients are for marine life. 
    There are <a href="10-sustainable-sunscreen-options.html" target="__blank">low-waste, sustainable suncreen</a> 
    options, but one of the best ways to protect the environment is cover our skin to protect it so we don't 
    have to lather on the lotion. 
  </p>

  <p>
    I plan on spending a lot of time at the beach this summer, so I used an old, cotton sheet to make 
    a long sleeve beach cover up. I'm going to show you how to make it, without needing a pattern. If, 
    however, you prefer to use pattern, this <a href="https://www.marthastewart.com/968083/dress-blouse-how" target="__blank">
    Free Dress Pattern</a> from Martha Stewart has a similar look.
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>Lightweight fabric - I used a full flat cotton bed sheet that was headed to Goodwill. You would need 1.5 - 2 yards of 44" wide fabric.</li>
    <li>1/4 inch elastic - 46 inches</li>
    <li>Sewing machine and supplies</li>
    <li>Optional: serger for finished edges</li>

  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="22-sunscreen/1-cut-rectangles.jpg" alt="fabric rectangle cut out on table" %}
      <p>
        Cut two 24" x 20" rectangles for the sleeves and two 32" x 26" rectangles for the body.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/2-measure-diagonals.jpg" alt="fabric on measuring grid with marks at 6 inches and ten inches" %}
      <p>
        Fold each rectangle in half, long sides together. Along one corner of open edges, 
        measure 6" across the short side and 10" down the long side. See next 
        picture for clarification.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/3-measurement-drawing.jpg" alt="drawing of what the rectangles and measurements should look like" %}
      <p>
        Draw a straight line between the two measured points - the dotted line on picture above.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/4-cut-diagonals.jpg" alt="triangle cut away from fabric" %}
      <p>
        Cut away the triangle you just measured out.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/5-sew-sides-together.jpg" alt="close up of serged edge" %}
      <p>
        Make sure each sleeve is folded right sides together and sew or serge the open long edge. Put the two body 
        pieces right side together and sew or serge down both long sides.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/6-body-and-sleeve.jpg" alt="body fabric piece inside out next to sleeve fabric right side out" %}
      <p>
        Keep the body inside out, but turn the sleeves right side out.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/7-pin-sleeves-to-body.jpg" alt="close up of fabric sleeve pinned inside fabric body pieces" %}
      <p>
        Put the sleeve inside the body, seam to seam, and pin the open edges together as pictured.
        Repeat on the other side
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/8-attached-sleeve.jpg" alt="sleeve sewn to body piece" %}
      <p>
        Sew or serge to attach the sleeve to the body.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/9-finish-edges.jpg" alt="close up of serged edges" %}
      <p>
        Serge or zig zag stich around the neck, cuffs, and hem to keep the edges from fraying.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/10-pin-down-edges.jpg" alt="fabric edges pinned down" %}
      <p>
        Pin the neck, cuffs, and hem up about 5/8", wrong side to wrong side. Sew each pinned edge with a 
        1/2" seam allowance. On the neck and cuffs, leave a 1" opening for the elastic.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/11-cut-elastic.jpg" alt="scissors and strips of cut elastic" %}
      <p>
        Cut two 8" pieces of elastic for the cuffs and one 30" piece for the neck.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/12-insert-elastic.jpg" alt="safety pin stuck into elastic about to go into fabric slit" %}
      <p>
        Insert the elastic into the cuff and neck pockets, using a safety pin to help guide it through.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="22-sunscreen/13-stitch-elastic-ends.jpg" alt="elastic pulled through cuff causing fabric to gather in tight circle" %}
      <p>
        Stitch the elastic ends together and stitch the 1" gap closed to finish your cover up!
      </p>
    </li>
  </ol> 
</section>

<section>
  <p>
    You should have a few fabric scraps left over from this project. Save them to make reusable cotton rounds!
  </p>
</section>
