---
layout: post
permalink: 
published: false
date: 2021-09-01
category: make
tags: [  ]
title: How to Make a Reusable Sandwich Bag
description:
week: 34
image: 34-ziplocs/.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
      <p>

      </p>
    </li>

  </ol>
</section>