---
layout: post
permalink: diy-lip-balm.html
published: true
date: 2021-06-09
category: make
tags: [ lip balm, chapstick ]
title: Easy DIY Lip Balm
description: Cut down plastic waste and save a little money by making lip balm at home 
week: 23
image: 23-lip-balm/make-lip-balm.jpg
alt: two small open tins of homemade lip balm surrounded by peppermint leaves
---

<section>
  <p>
    I learned this week that convential lip balm not only comes in plastic tubes, but is often made 
    with <a href="environmental-impact-of-lip-balm.html" target="__blank">petroleum based ingredients</a>, aka plastic! 
    I found plenty of <a href="10-sustainable-lip-balm-options.html" target="__blank">sustainable lip balm options</a>, 
    but wanted to save a little money by giving home made lip balm a try. This recipe took all of five minutes 
    and my husband and I both love how it turned out!
  </p>

  <p>
    I try very hard to use ingredients I already have, otherwise I'd be making a new purchase 
    every other week and that defeats the purpose of saving money and reducing waste. The coconut oil, 
    shea butter, and essential oils can all be used to make <a href="make-your-own-deodorant.html" target="__blank">
    deodorant</a>, <a href="make-shaving-cream.html" target="__blank">shaving cream</a>, and 
    <a href="diy-skin-care-routine.html" target="__blank">skin care products</a> like moisturizer 
    and face scrub. I even reused a couple small tins from some <a href="https://elatebeauty.com/collections/sample-kits" target="__blank">
    Elate Cosmetics</a> samples I tried a few months ago.
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>1 tbsp shea butter</li>
    <li>1 tbsp coconut oil</li>
    <li>1 tbsp beeswax pastilles</li>
    <li>5 drops essential oil - I opted for peppermint.</li>
    <li>Containers for lip balm - I reused a small mason jar to keep in my home and some <a href="https://elatebeauty.com/collections/sample-kits" target="__blank">sample tins</a> 
      from Elate Cosmetics that are perfect for on the go.</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make lip balm!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="23-lip-balm/1-lip-balm-ingredients.jpg" alt="jar of shea butter, coconut oil, bag of beeswax, bottle of peppermint essential oil, small mason jar and small metal tin on a counter" %}
      <p>
        Gather your ingredients. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/2-ingredients-in-bowl.jpg" alt="glass bowl with coconut oil, shea butter, and beeswax pastilles next to metal tablespoon" %}
      <p>
        Scoop a tablespon of shea butter, coconut oil, and beeswax pastilles into a microwave-safe bowl.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/3-microwave-ingredients.jpg" alt="glass bowl with ingredients in microwave" %}
      <p>
        Microwave for one minute.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/4-add-peppermint-oil.jpg" alt="hand putting peppermint oil into glass bowl with other ingredients" %}
      <p>
        Add 5 drops of essential oil. I love the smell of peppermint, but you can choose lavender, vanilla, etc.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/5-stir-ingredients.jpg" alt="hand using spoon to stir mixture in glass bowl" %}
      <p>
        Stir all of the ingredients together until everything is completely melted. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/6-finish-lip-balm.jpg" alt="one small mason jar and one very small metal tin, both filled with home made lip balm" %}
      <p>
        This mixture will start to harden if you leave it, so quickly pour into your containers. I put 
        most of mine into a small jar that I can keep at home and the rest into a small tin that is more 
        convenient for when I'm on the go. Let harden and apply as needed.
      </p>
    </li>
  </ol>
</section>