---
layout: post
permalink: sustainable-hand-soap-options.html
published: true
date: 2021-05-12
category: info
tags: [ hand soap, sanitizer ]
title: 5 Sustainable Hand Soap and Sanitizer Options
description:
week: 19
image: 19-hand-soap/
alt: 
---

<section>
  <p>
   We all know how important it is to wash our hands and we should be doing it multiple times a day. 
   The next time you need a hand soap or sanitizer refill, opt for one of these sustainable options.
  </p>
</section>

<section>
  <h2><a href="https://www.blueland.com/products/hand-soap-starter-set-multi?msclkid=5625d220c83c1f75c10ab2bb3a8537ec" target="__blank">Blueland Hand Soap Tablets</a></h2>
  {% include image-source-set.html image="19-hand-soap/blueland-hand-soap.jpg" alt="blueland brand glass bottle with hand soap refill tablets" %}
  <p>
    Blueland made a splash on the hit TV show, Shark Tank, when they offered consumers a way to avoid plastic waste 
    from cleaning bottles by instead plopping a tablet into a bottle you alread have. You can purchase a <a href="https://www.blueland.com/products/hand-soap-starter-set-multi?msclkid=5625d220c83c1f75c10ab2bb3a8537ec" target="__blank">
    glass pump bottle</a> with three soap tablets for $14 or opt for just the<a href="https://www.blueland.com/products/hand-soap-refill-packs" target="__blank">refills</a>, which come in 
    compostable packaging. A 9 pack of refills, the most cost effective option, also costs $14
  </p>
</section>

<section>
  <h2><a href="https://www.plaineproducts.com/shop/" target="__blank">Plaine Products Hand Soap and Sanitizer</a></h2>
  {% include image-source-set.html image="19-hand-soap/plainee-products-soap.jpg" alt="plaine products brand hand soap in aluminum bottle" %}
  <p>
    Plaine Products offers both hand soap and sanitizer in infinitely recyclable aluminum bottles with an 
    optional pump. The best part is that you can print out a free shipping label to send the bottles 
    right back to the company, where they will clean and reuse them! You can find a 16 oz bottle of hand soap for $20 
    or a 16 oz bottle of hand sanitizer for $15 on <a href="https://www.plaineproducts.com/shop/" target="__blank">their website</a>.
  </p>
</section>

<section>
  <h2><a href="https://www.target.com/p/dr-bronner-s-bar-soap-lavender-5oz/-/A-11007066#lnk=sametab" target="__blank">Dr. Bronner's Bar Soap</a></h2>
  {% include image-source-set.html image="19-hand-soap/dr-bronners-soap.jpg" alt="dr bronner's brand bar soap" %}
  <p>
    There are a lot of bar soap options on the market, but I love 
    Dr. Bronner's because it is all natural, cruelty-free, organic, and biodegradable. The soap 
    bars come in 10 scent options and a 100% post-consumer recycled wrapper. Dr. Bronner's can be found 
    at many chain and grocery stores including Target and REI, or on you can buy directly from 
    <a href="https://www.target.com/p/dr-bronner-s-bar-soap-lavender-5oz/-/A-11007066#lnk=sametab" target="__blank">
    their website</a>. The soap bars run about $5 dollars a pop.
  </p>
</section>

<section>
  <h2><a href="https://packagefreeshop.com/collections/all/products/package-free-unscented-hand-sanitizer" target="__blank">Package Free Hand Sanitizer</a></h2>
  {% include image-source-set.html image="19-hand-soap/package-free-hand-sanitzer.jpg" alt="glass spray bottle of package free brand hand sanitizer" %}
  <p>
    <a href="https://packagefreeshop.com/collections/all/products/package-free-unscented-hand-sanitizer" target="__blank">
    Package Free Shop</a> offers hand sanitizer in a recyclable glass bottle so we no longer have to depend 
    on the little plastic ones. You can find a 2 oz spray bottle for $12 on their website. 
  </p>
</section>

<section>
  <h2><a href="https://packagefreeshop.com/collections/all/products/bulk-castile-soap-saponified" target="__blank">Liquid Castile Soap</a></h2>
  {% include image-source-set.html image="19-hand-soap/castile-soap.jpg" alt="gallon jug of vermont country soap brand liquid castile soap" %}
  <p>
    Castile soap is non-toxic, organic, vegetable based jack of all trades. It can be used to clean 
    your body, your house, and even your pets! Castile soap comes unscented or in a variety of all natural scents and
    you can purchase a one gallon jug from Package Free Shop for $60. Yes, this bulk castile soap comes in a 
    recyclable plastic bottle, but it is still a natural, low-waste alternative to many little hand-soap bottles. 
  </p>

  <p>
    Check out my next post to see how easy it is to <a href="how-to-make-hand-sanitzer.html" target="__blank">
    make hand sanitizer</a> at home.
  </p>
</section>