---
layout: post
permalink: sustainable-multi-surface-cleaners.html
published: true
date: 2021-08-09
category: options
tags: [ cleaners ]
title: 10 Sustainable Multi-Surface Cleaners
description: A list of 10 low-waste household cleaners made of naturally-derived ingredients
week: 31
image: 31-household-cleaner/household-cleaner-options.jpg
alt: spray bottle next to lemons on countertop
---

<section>
  <p>
    This week, I learned about the <a href="environmental-impact-of-household-cleaners.html" target="__blank">
    environmental impact of household cleaners</a>  and learned that conventional cleaners not only come in 
    plastic packaging, but typically contain an array of ingredients that can pollute our air and waterways. 
    So, here are ten environmentally-friendly alternatives to consider when it's time to replace 
    your all-purpose cleaner. 
  </p>

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>

<section>
  <h2>Meliora All-Purpose Cleaning Tablets</h2>
  <a class="border:none" href="https://meliorameansbetter.com/collections/homecleaning/products/all-purpose-home-cleaner-tablet?aff=63" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/meliora-surface-cleaner.jpg" alt="meliora brand glass spray bottle next to cleaning refill box" %}
  </a>

  <p>
    <a href="https://meliorameansbetter.com/collections/homecleaning/products/all-purpose-home-cleaner-tablet?aff=63" target="__blank">
    Meliora's All-Purpose Cleaner</a> comes in tablet form that mixes with hot water to become an excellent cleaning solution. All packaging 
    is plastic-free and all products are cruelty-free. Meliora is my personal favorite cleaner on this list, 
    as I've found it a very effective cleaner for the best price.
  </p>

  <p>
    <strong>Price:</strong> You can purchase one glass spray bottle with two cleaning tablets for $13.99 or a set of three cleaning 
    tablet refills for $4.99.
  </p>

  <p>
    <em>Use code TINYWASTE at checkout for 10% off your purchase.</em>
  </p>
</section>

<section>
 
  <h2>Blueland Multi-Surface Tablets</h2>
  <a class="border:none" href="https://www.blueland.com/products/multi-surface-starter-set" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/blueland-surface-cleaner.jpg" alt="blueland brand glass spray bottle with cleaning tablet" %}
  </a>

  <p>
    <a href="https://www.blueland.com/products/multi-surface-starter-set" target="__blank">Blueland</a>
    cleaning tablets offer an innovative solution to our waste problem by eliminating the need for a new 
    bottle with every refill. Simply add a tablet to 24 oz of water to make an effective spray cleaner. 
    The tablets come in compostable paper wrappers and can be purchased on their website. 
    Blueland cleaners are cruelty-free and made of natural ingredients. 
  </p>

  <p>
    <strong>Price:</strong>  You can purchase a glass spray bottle with three tablets for $16. Refill tablets 
    are 3 for $6, 6 for $11, or 9 for $14.
  </p>
</section>

<section>
  <h2>Ethique Mulit-Purpose Concentrate</h2>
  <a class="border:none" href="https://ethique.com/products/multi-purpose-kitchen-spray-concentrate" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/ethique-surface-cleaner.jpg" alt="ethique brand cleaning concentrate bar next to orange slice" %}
  </a>
  
  <p>
    <a href="https://ethique.com/products/multi-purpose-bathroom-spray-concentrate" target="__blank">
      Ethique's Spray Concentrate</a> is made of 100% naturally derived ingredients and comes in compostable paper packaging. 
      The concentrate comes in bar form and can be mixed with boiling water to make 12 oz of sprayable cleaning solution. 
  </p>

  <strong>Price:</strong> $6 for one bar of concentrate.
</section>

<section>
  <h2>Grove Co. Multi-Purpose Cleaner Concentrate</h2>
  <a class="border:none" href="https://www.grove.co/catalog/product/all-purpose-cleaner-concentrate/?v=7000&attrsrc=22&attrpg=catalog&attrpos=2" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/grove-co-surface-cleaner.jpg" alt="grove collaborative brand surface cleaner box with two glass bottles of cleaner concentrate" %}
  </a>
  
  <p>
    <a href="https://www.grove.co/catalog/product/all-purpose-cleaner-concentrate/?v=7000&attrsrc=22&attrpg=catalog&attrpos=2" target="__blank">
    Grove Co.</a> multi-purpose concentrate is cruelty-free, made of plant-based ingredients and comes in recyclable glass 
    bottles. You can find Grove Co. products online or at Target.
  </p>

  <p>
    <strong>Price:</strong> $6.95 for two bottles of concentrate.
  </p>
</section>

<section>
  <h2>Earthy Edith's All-Purpose Cleaner Concentrate</h2>
  <a href="https://zerowastestore.com/collections/zero-waste-cleaning-products/products/simple-all-purpose-cleaner" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/earthy-edith-surface-cleaner.jpg" alt="earthy edith brand all purpose cleaner in glass spray bottle" %}
  </a>
  
  <p>
    <a href="https://zerowastestore.com/collections/zero-waste-cleaning-products/products/simple-all-purpose-cleaner" target="__blank">
    Earthy Edith's</a> all-purpose cleaner is a natural concentrate that, when mixed with water, becomes a green 
    cleaning solution. The concentrate comes in a recyclable glass bottle. All Earthy Edith's products are cruelty-free.
  </p>

  <p>
    <strong>Price:</strong> $13 for an 8 oz bottle of spray cleaner or $24 for a bottle of refill concentrate.
  </p>
</section>

<section>
  <h2>Branch Basics Concentrate</h2>
  <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/branch-basics-surface-cleaner.jpg" alt="branch basics brand cleaners in glass spray bottles" %}
  </a>
  
  <p>
    <a href="https://branchbasics.com/collections/all#starter-kits" target="__blank">
    Branch Basics</a> offers one biodegradable concentrate for an array of cleaning needs. You simply alter the amount of concentrate 
    depending on what you plan on cleaning.  All Branch Basics products are cruelty-free.
  </p>

  <p>
    <strong>Price:</strong> You can purchase a 32 oz bottle for $49 or a 2 oz trial bottle for $10 on their website.
  </p>
</section>

<section>
  <h2>Fillaree Multi-Purpose Cleaner</h2>
  <a class="border:none" href="https://fillaree.com/collections/zero-waste-refills/products/clean-dream-refill" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/fillaree-surface-cleaner.jpg" alt="fillaree brand cleaner in nalgene bottle" %}
  </a>

  <p>
    <a href="https://fillaree.com/collections/zero-waste-refills/products/clean-dream-refill" target="__blank">
    Fillaree's Multi-Surface Cleaner</a> is made from naturally-derived ingredients and comes in refillable Nalgene bottles. 
    You can either ship your bottles back to be refilled, or bring it to a <a href="https://fillaree.com/pages/contact-us"  target="__blank">
    local refill station</a>.
  </p>

  <p>
    <strong>Price:</strong> The starter kit costs $32 and includes a 16 oz spray bottle as well as a 32 oz bottle of cleaning solution. 
    Or you can purchase just the 32 oz bottle of cleaning solution for $20.
  </p>
</section>

<section>
  <h2>Formulary 55 Cleaning Concentrate</h2>
  <a class="border:none" href="https://formulary55.com/collections/for-the-home/products/formulary-55-essential-oil-cleaning-concentrate" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/formulary-55-surface-cleaner.jpg" alt="formulary 55 brand cleaning concentrate in glass bottle" %}
  </a>
  
  <p>
    <a href="https://formulary55.com/collections/for-the-home/products/formulary-55-essential-oil-cleaning-concentrate" target="__blank">
    Formulary 55's</a> cleaning concentrate is a 100% natural cleaning solution that you mix with water 
    for a multi-surface cleaning solution. The concentrate comes in three scents: ginger blossom, french lavender, and 
    bergamot & cedar. All products in the Formulary 55 home cleaning line are vegan and cruelty-free. 
  </p>

  <p>
    <strong>Price:</strong> $26 for a 16 oz bottle.
  </p>
</section>

<section>
  <h2>Castile Soap</h2>
  <a class="border:none" href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    {% include image-source-set.html image="31-household-cleaner/castile-surface-cleaner.jpg" alt="castile soap in jar, jug, and large vat" %}
  </a>
  
  <p>
    <a href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
      Castile Soap</a> is a natural, vegetable oil based soap that makes for the mother of all multi-purpose cleaners. 
      It can be used as body wash, pet shampoo, garden pesticide, and of course, bathroom cleaner. You can find castile 
      soap online and in many grocery stores, but <a href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
      Bulk Apothecary</a> has the lowest prices I've seen.
  </p>

  <p>
    <strong>Price:</strong> $3.95 for a 16 oz bottle, $19.95 for one gallon, $74.95 for four gallons.
  </p>
</section>

<section>
  <h2>Distilled White Vinegar</h2>
    {% include image-source-set.html image="31-household-cleaner/vinegar-surface-cleaner.jpg" alt="gallon jug of white vinegar" %}

  <p>
    White Vinegar, which you probably already have at home, is a very cheap and very effective cleaner for almost 
    every surface in your home. It cuts through mildew, bacteria, and grime for a natural, environmentally friendly clean. 
    If your pantry isn't already stocked with white vinegar, pick some up the next time you're out grocery shopping.
  </p>

  <p>
    Note: vinegar should be mixed with equal parts water and should never be used on granite, marble, hardwood, or ceramic/stone tiles. 
  </p>

  <p>
    <strong>Price:</strong> $3-4 for a gallon jug.
  </p>
  
</section>