---
layout: post
permalink: diy-cutlery-wrap.html
published: true
date: 2021-03-02
category: make
tags: [ waste, zero waste, garbage, trash, recycling, cutlery]
title: Make a Cutlery Wrap
description: 
week: 9
image: 9-cutlery/cutlery-wrap.jpg
alt: 
---

<section>
  <p>
    This tutorial shows how to upcycle an old pair of pants into a cutlery wrap, but can be easily 
    adapted for any kind of fabric scraps.
  </p>
</section>

<section>
  <h2>What You'll Need</h2>
  <ul>
    <li>Old pair of pants or scrap fabric</li>
    <li>Scissors</li>
    <li>Measuring Tape</li>
    <li>Chalk or fabric pencil</li>
    <li>Sewing machine or needle and thread</li>
    <li>Utensils from your kitchen or a second hand shop - I used a knife, fork, spoon and straw. You may 
      also want to carry reusable chopsticks and a cloth napkin. 
    </li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's Make a Cutlery Wrap!</h2>

  <ol>
    <li>
      {% include image-source-set.html image="9-cutlery/1-pants.jpg" alt="pair of worn out pants" %}
      <p>
        Grab an old pair of pants (or any scrap fabric). One pant leg was perfect for this project.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/2-measure.jpg" alt="knife, fork, spoon and straw lined up on pant leg" %}
      <p>
        Lay out your utensils to see how much fabric you need. It should be wide enough for all 
        of your utensils to fit side by side and double the height of your tallest piece. When opened, 
        my pant leg was about 19" x 8".
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/3-cut.jpg" alt="a pant leg that has been cut off" %}
      <p>
        Cut the pant leg off.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/4-cut-flap.jpg" alt="cut in pant leg that opens the tube" %}
      <p>
        Cut only the top layer about 2/3 of the way up. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/5-cut-hem.jpg" alt="rectangle of cut pant fabric with hem being removed" %}
      <p>
        Open the pant leg and cut the hem off. Don't throw it away, you'll need it later.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/6-pin-edges.jpg" alt="short sides of pant fabric pinned down" %}
      <p>
        Pin the short sides of your fabric about a quarter of an inch on the wrong side and sew.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/7-pin-inside-out.jpg" alt="material folded down and pinned " %}
      <p>
        Lay your fabric wrong side down. Fold and pin each short side in, right sides touching. You can use your longest piece of cutlery as 
        a guide. I folded the top down about 3" and the bottom up about 4", leaving a 2" gap.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/8-sew.jpg" alt="pant material sewn at folds" %}
      <p>
        Use a straight stitch to sew each pinned section.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/9-trim-corners.jpg" alt="Scissors cutting off the corners of sewn pant fabric" %}
      <p>
        With the fabric still inside out, trim the corners.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/10-flip-and-pin.jpg" alt="fabric gap pinned down" %}
      <p>
        Turn your fabric right side out. Pin and sew the edges of the gap fabric.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/11-measure.jpg" alt="material being measured and marked with chalk" %}
      <p>
        Divide the bottom flap by the number of utensils you have. I used a straw, knife, fork, and spoon,
        so I wanted four pockets. Use chalk to mark the lines.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/12-sew-dividers.jpg" alt="material with two flaps and four sewn dividers" %}
      <p>
        Straight stitch each chalked line.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/13-attach-hem.jpg" alt="hem strip being attached to side of the sewn material" %}
      <p>
        Grab the pant hem you previously cut off and sew the middle of it to either side of 
        your wrap.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/14-insert-utensils.jpg" alt="utensils added to wrap" %}
      <p>
        Add your utensils, one in each pocket, then tuck them under the top flap.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="9-cutlery/15-roll-and-tie.jpg" alt="finished cutlery wrap rolled up and tied" %}
      <p>
        Start rolling from the side without the tie, then use a half knot to keep your wrap 
        bundled.
      </p>
    </li>
  </ol>
</section>