---
layout: post
permalink: diy-lip-balm.html
published: true
date: 2021-06-09
category: make
tags: [ lip balm, chapstick  ]
title: DIY
description: 
week: 23
image: 23-lip-balm/.jpg
alt:
---

<section>
  <p>

  </p>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="23-lip-balm/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>