---
layout: post
permalink: diy-beeswax-wrap-sandwich-bag.html
published: false
date: 2021-09-15
category: make
tags: [  ]
title: How to Make a Reusable Sandwich Bag
description:
week: 36
image: 36-ziplocs/make-snack-bag.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li>7" x 18" beeswax wrap</li>
    <li>Button</li>
    <li>Elastic</li>
    <li>Sewing notiongs</li>
    <li></li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="36-ziplocs/1-make-beeswax-wrap.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/2-sew-edges.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/3-fold-over.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/4-fold-back.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/5-fold-again.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/6-sew-seams.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/7-flip-inside-out.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/8-finish-edges.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/9-attach-elastic.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/10-attach-button.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/11-finished-baggie.jpg" alt="" %}
      <p>

      </p>
    </li>

</section>


