---
layout: post
permalink: how-to-make-clothes-drying-rack.html
published: true
date: 2021-07-13
category: make
tags: [ electricity, dryer, air dry, clothes, laundry ]
title: How to Make a Fold-up Clothes Drying Rack
description: Follow this step by step tutorial to make a simple, cost-effective drying rack for your clothes.
week: 27
image: 27-electricity/make-drying-rack.jpg
alt: plant next to wooden clothes drying rack with blouse and dress hanging
---

<section>
  <p>
    This week, while researching<a href="environmental-impact-of-the-electricity-system.html" target="__blank">
    the environmental impact of our electricity system</a>, I learned that my clothes dryer is 
    the second highest energy consuming appliance in my home, after the refrigerator. I found <a href="15-ways-to-cut-down-electricity-usage.html"  target="__blank">
    15 ways to cut back on my electricity usage at home</a>, one of them being to air dry my laundry. So, I asked 
    my Dad to help me figure out a simple way to DIY a compact clothes drying rack that could easily
    hang on my wall and fold up out of the way. 
  </p>

  <p>
    Beyond saving electricity, this drying rack will help cut down my electricity bill and help my 
    clothes last longer! This is a very easy and cost-effective project. I spent about $16 and was able to build and 
    install it while six months pregnant. 
  </p>
</section>

<section>
  <h2>What you'll need:</h2>

  <h3>Materials</h3>
  <ul>
    <li>2 6ft 1x4 boards. I used common wood from Home Depot, which cost roughly $3 per board.</li>
    <li>3 6ft 3/8" dowel rods</li>
    <li>4 1 1/2" corner braces with screws</li>
    <li>2 1 1/2" hinges with screws</li>
    <li>2 #10 hooks</li>
    <li>2 #210 eyes</li>
    <li>2 lengths of 2ft chain</li>
    <li>6 1 1/4" screws to attach frame</li>
    <li>2 2" screws to attach drying rack to wall</li>
  </ul>

  {% include image-source-set.html image="27-electricity/drying-rack-materials.jpg" alt="chain, screw hooks, screw eyes, and corner braces on a table" %}

  <h3>Tools</h3>
  <ul>
    <li>Drill</li>
    <li>3/8" drill bit</li>
    <li>Phillips bit</li>
    <li>Pliars</li>
    <li>Hammer</li>
    <li>Sandpaper or sanding block</li>
    <li>Saw. Most home improvement stores will cut the boards for you, and offer the use of a hand saw for dowel rods.</li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="27-electricity/1-cut-wood.jpg" alt="various boards cut and stacked on a table" %}
      <p>
        Cut your 1x4s into two 3' pieces and three 2' pieces. Cut each dowel in half, making six 2' pieces.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/2-measure-holes.jpg" alt="measuring tape on board with hand using pencil to mark length" %}
      <p>
        On the wide side of one of your 3' boards, measure about 5 1/16" from one end.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/3-mark-all-holes.jpg" alt="evenly spaced markings on board" %}
      <p>
        Continue to measure and mark every 5 1/16" down the length of the board. You should have 
        a total of six marks. This will not be a perfectly even split, but as long as your dowels are evenly spaced, it's fine.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/4-drill-holes.jpg" alt="2 boards stacked and drill going through both" %}
      <p>
        Stack your 3' boards and using a 3/8" drill bit, drill holes at every mark.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/5-sand.jpg" alt="hand using sanding block on board with holes" %}
      <p>
        Give everything a quick sanding, especially where you've just drilled the holes. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/6-attach-top.jpg" alt="drill attaching two boards at 90 degree angle" %}
      <p>
        Attach the end of one 3' side board to the side of one 2' board at a 90 degree angle. 
        The screws should go into the 2' board. This will be the bottom. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/7-add-corner-braces.jpg" alt="hand holding screwin place for corner brace" %}
      <p>
        As you attach the boards, add your corner braces.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/8-attach-bottom.jpg" alt="three boards attached in u shape" %}
      <p>
        Attach the next 2' board to the other end of your 3' board. Add corner brace. This will be the top.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/9-attach-side.jpg" alt="boards attached to make rectangle frame with various tools in the background" %}
      <p>
        Make sure your holes align properly, then attach the other 3' side board, completing the frame. 
        Your frame should not be wider that 2'. Add corner braces
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/10-detach-side.jpg" alt="board with holes on table next to board with corner brace" %}
      <p>
        Unscrew and detach the 3' board you just added, leaving the corner braces attached 
        to the top and bottom pieces.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/11-add-dowels.jpg" alt="u shaped frame with dowel rods placed in holes" %}
      <p>
        Insert a dowel into each hole. You may need to tap them with a hammer.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/12-reattach-side.jpg" alt="side board attached to frame and dowel rods" %}
      <p>
        Reattach the other 3' side piece, carefully lining up each dowel and tapping into place.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/13-reattach-corner-braces.jpg" alt="hand using drill to screw in corner braces" %}
      <p>
        Reattach the corner braces. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/14-add-hinges.jpg" alt="hinges attaching two boards together" %}
      <p>
        Line up your final 2' board with the bottom 2' frame piece and attach with hinges.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/15-add-screw-eyes.jpg" alt="screw eye inserted into frame with pliars" %}
      <p>
        On your top piece, add a screw eye just inside the frame. Use pliers to tighten.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/16-add-chain.jpg" alt="hand holding chain that has been attached to screw eyes" %}
      <p>
        Add one length of chain to screw eye. You may need pliers to loosen and tighten the screw eye.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/17-attach-other-chain.jpg" alt="frame with dowels and two chains attached and hanging down" %}
      <p>
        Repeat steps 15 and 16 on the other end of your top board.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/18-screw-hooks.jpg" alt="close up of screw hooks in wall with chain hooked on" %}
      <p>
        Now your drying rack is ready to be mounted. Attach your screw eyes to the wall, making sure you 
        drill into the studs. They should be level. The top of your drying rack will rest on these screw 
        eyes when folded up.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/19-screw-into-wall.jpg" alt="close up of board screw to wall" %}
      <p>
        Center and rest the top of your frame on the screw hooks, then screw the bottom-most 2' panel into the wall. 
        Again, making sure you are drilling into studs. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/20-finished-rack.jpg" alt="drying rack hanging on wall at angle" %}
      <p>
        Your drying rack is now complete and can be let down at various angles by adjusting the chain.
      </p>
    </li>
  </ol>
</section>

<section>
  {% include image-source-set.html image="27-electricity/drying-rack-folded-up.jpg" alt="drying rack hanging on wall next to plant" %}
  <p>
    I'm extremely pleased with how my drying rack turned out and how many garments I can hang to dry. 
  </p>
</section>
