---
layout: post
permalink: make-floss-sewing-kit.html
published: true
date: 2021-04-14
category: make
tags: [ waste, zero waste, garbage, trash ]
title: Make a Floss Container Sewing Kit
description: Use an empty floss box to make a travel sewing kit
week: 15
image: 15-oral-care/10-finished-sewing-kit.jpg
alt: floss container that has been upcycled to sewing kit with black thread, needle and button
---

<section>
  <p>
    Old floss containers are made of mixed materials that are difficult to recycle. Instead of 
    tossing yours into the garbage, upcycle it into a cute travel sewing kit! The spool inside is 
    perfect for adding thread and the sharp metal piece doubles as a convenient thread cutter, so you 
    won't need scissors when you're out and about.
  </p>
</section>

<section>
  <h2>What you'll need</h2>
  <ul>
    <li>Old Floss Container</li>
    <li>Old Kitchen Sponge</li>
    <li>Scissors</li>
    <li>Thread</li>
    <li>Needle and other sewing notions</li>
    <li>Optional sharpie to label kit</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a sewing kit!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="15-oral-care/1-get-floss.jpg" alt="Reach floss container" %}
      <p>
        Get an old floss container. You can make a sewing kit from just about any shape.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/2-remove-label.jpg" alt="floss container with label removed" %}
      <p>
        Remove the label. They come off easily, I didn't need any special tools.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/3-remove-piece.jpg" alt="floss container with inside piece taken out" %}
      <p>
        Remove the inner plastic piece. It should pop right out.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/4-wrap-thread.jpg" alt="black thread wrapped around small plastic piece from inside floss container" %}
      <p>
        Wrap your thread around the small round wheel where the floss usually goes. Choose a color that will be most usefill in your sewing kit and use as much as you like.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/5-thread-bobbin.jpg" alt="plastic wheel with thread put back on bigger plastic piece" %}
      <p>
        Put your threaded wheel back on the bigger plastic piece and thread it as the floss would have been.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/6-insert-piece.jpg" alt="plastic piece put back into floss container" %}
      <p>
        Put the now threaded plastic piece back into your floss container.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/7-cut-sponge.jpg" alt="small strip of kitchen sponge being cut" %}
      <p>
        Cut a small strip of your sponge. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/8-add-sponge.jpg" alt="Sponge placed in lid of floss container" %}
      <p>
        Fit the sponge inside the lid, trimming away excess so it fits in the lid of your floss container.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/9-add-notions.jpg" alt="needle and button added to sponge" %}
      <p>
        Add a needle, button, and whatever other sewing notions you would like, to the sponge. You can 
        cut small holes so that the piece will fit nice and snug.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="15-oral-care/10-finished-sewing-kit.jpg" alt="floss container transformed into sewing kit" %}
      <p>
        If you'd like, use a sharpie to decorate the outside of your new sewing kit!
      </p>
    </li>
  </ol>
</section>
