---
layout: post
permalink: sustainable-coffee-and-tea-options.html
published: false
date: 2021-09-07
category: options
tags: [  ]
title: 
description: 
week: 37
image: 37-coffee-tea/.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>Coffee Sock</h2>
  <a class="border:none" href="https://coffeesock.com/shop-retail/basket" target="__blank">
    {% include image-source-set.html image="36-food-waste/coffee-sock.jpg" alt=""}
  </a>

  <p>
    <a href="https://coffeesock.com/shop-retail/basket" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>K Cups</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>French Press</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>Moka Pot</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>Percolator</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>Stainless Steel Filter</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>Tea Sock</h2>
  <a class="border:none" href="https://coffeesock.com/shop-retail/teasock-1" target="__blank">
    {% include image-source-set.html image="36-food-waste/tea-sock.jpg" alt=""}
  </a>

  <p>
    <a href="https://coffeesock.com/shop-retail/teasock-1" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>Tea Ball</h2>
  <a class="border:none" href="https://packagefreeshop.com/collections/kitchen/products/stainless-steel-tea-ball-spoon" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/tea-ball.jpg" alt=""}
  </a>

  <p>
    <a href="https://packagefreeshop.com/collections/kitchen/products/stainless-steel-tea-ball-spoon" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>Stainless Steel Mug Filter</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>




<section>
  <h2>Teapot Strainer</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

make-reusable-coffee-filter.html