---
layout: post
permalink: moisturizers-found-in-the-kitchen.html
published: true
date: 2021-05-04
category: info
tags: [ waste, zero waste, garbage, trash, lotion, moisturizer]
title: 5 Kitchen Ingredients that Make Excellent Moisturizers
description: 
week: 18 
image: 18-lotion/lotion-options.jpg
alt: half of an avacado, sliced cucumber, cup of yogurt, bowl of olive oil, and bowl of coconut oil
---

<section>
  <p>
    If your skin care routine requires a lot of products in plastic bottles, check your kitchen 
    for these five natural ingredients that offer low waste alternatives.

  </p>
</section>

<section>
  {% include image-source-set.html image="18-lotion/olive-oil.jpg" alt="table with dishes and olive oil bottle" %}
  <h2>Olive Oil</h2>
  <p>
    You probably use olive oil for cooking on a regular basis, but this natural ingredient 
    can also be used to moisturize your hair and skin. Once my  <a href="environmental-impact-of-lotion.html" target="__blank">
    plastic lotion bottle</a> ran out, I started using a dot of virgin olive oil to moisturize my face and 
    couldn't belive how great my skin felt afterwards. In addition to being an effective moisturizer, 
    <a href="https://www.medicalnewstoday.com/articles/321246#benefits-of-olive-oil" target="__blank">
    olive oil</a> has antioxidants, vitamins, and antibacterial properties.
   
  <p>
    Olive oil is not recommended for people with sensitive skin. To make sure it is safe for you,
    apply some to a small area of your skin and wait 48 hours for a reaction. 
  </p>
</section>

<section>
  {% include image-source-set.html image="18-lotion/avocado.jpg" alt="row of cut avocados" %}
  <h2>Avocado</h2>
  <p>
    <a href="https://www.msn.com/en-us/foodanddrink/foodnews/9-benefits-of-using-avocado-oil-for-skin-and-how-to-add-it-to-your-regimen/ar-BB18Rpkn" target="__blank">
    Avocados</a> have anti-inflammatory and antibiotic properties that can repair and protect your skin. 
    They are also full of minerals, vitamins, and fatty acids that work to moisturize dry skin. To use, 
    rub an avocado slice on your skin and rinse after 15 minutes. Need more time to feel the benefits? 
    Leave it on your skin overnight!
  </p>
</section>



<section>
  {% include image-source-set.html image="18-lotion/yogurt.jpg" alt="" %}
  <h2>Yogurt</h2>
  <p>
    <a href="https://www.insider.com/gwyneth-paltrow-royal-family-facialist-suggests-yogurt-as-moisturizer-2019-5" target="__blank">
    Celebrity facialist</a>, Deborah Mitchell, says organic live yogurt is one of the best skin care products you can use. 
    It works as both an exfoliator and a moisturizer, it's rich in probiotics, and it's helpful 
    for anti-aging. Mitchell says all you only need apply the yogurt to your skin and leave overnight.
  </p>
</section>

<section>
  {% include image-source-set.html image="18-lotion/honey.jpg" alt="" %}
  <h2>Honey</h2>
  <p>
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5661189/" target="__blank">Honey</a> has 
    been used for its healing properties since 2000 B.C. Research shows that raw, organic honey (especially Manuka honey)
    can help treat skin wounds, has antimicrobial properties, and is anit-inflammatory. You can apply honey 
    straight to your skin and rinse with warm water. 
  </p>
</section>

<section>
  {% include image-source-set.html image="18-lotion/cucumber.jpg" alt="sliced cucumbers" %}
  <h2>Cucumber</h2>
  <p>
    Since <a href="https://www.healthline.com/health/beauty-skin-care/cucumber-for-skin#diy-cucumber-tricks" target="__blank">
    cucumbers</a> are 96% water, they are a great source of hydration for your skin. Simply chop up 
    a cucumber, blend, and strain to creating a hyraditing mist perfect for soothing dry or sunburnt skin.
  </p>

  <p>
    If you're looking for an actual lotion recipe, try this one from <a href="https://www.wearethought.com/blog/2014/08/02/diy-cucumber-cooling-cream/?utm_source=Affiliate&utm_medium=LinkShare&utm_campaign=TnL5HPStwNw&utm_content=10&utm_term=UKNetwork&ranSiteID=TnL5HPStwNw-Hgr0ke.L.2vDQc9ZqoeyDw&siteID=TnL5HPStwNw-Hgr0ke.L.2vDQc9ZqoeyDw" target="__blank">
    Thought.</a>
  </p>
</section>

