---
layout: post
permalink: where-to-find-secondhand-clothing.html
published: true
date: 2021-07-20
category: options
tags: [ clothing, fast fashion, thrift ]
title: The Best Places to Find Secondhand Clothing
description: 
week: 28
image: 28-clothing/consignment-shop.jpg
alt: rack of clothing on hangers
---

<section>
  <p>
    If you read my last post, <a href="environmental-impact-of-fast-fashion.html" target="__blank">the environmental impact of fast fashion</a>
    you may be wondering how to make your closet a little more sustainable. You can, of course, shop <a href="https://goodonyou.eco/most-ethical-and-sustainable-clothing-brands-from-us-and-canada/" target="__blank">
    sustainable brands</a> which offer quality clothes that use <a href="natural-vs-synthetic.html" target="__blank">natural materials</a> 
    and are made to last. Or, even better, you can opt for secondhand finds.
  </p>

  <p>
    Secondhand clothing may not offer the same range of sizes you would find in a department store, 
    but there are some easy fixes to get your nearly new garments fitting like a glove. Take a look at 
    my next post for <a href="easy-clothing-alterations.html" target="__blank">5 easy alterations</a> 
    that you can do at home.
  </p>
</section>

<section>
  <h2>Thrift Stores</h2>
  {% include image-source-set.html image="28-clothing/thrift-stores.jpg" alt="racks of clothing in thrift store" %}
  <p>

  </p>
  
  <h3><a class="border:none" href="https://www.goodwill.org/" target="__blank">Goodwill</a></h3>
  <p>
    Goodwill is easily the most well-known thrift shop with over 2,800 stores in the US, Canada, and 
    abroad. The quality of clothing varies from one location to another, but the prices can't be beat. 
    My husband and I go into every Goodwill we drive by and often walk out with a handfull of solid finds. 
  </p>

  <h3><a class="border:none" href="https://www.shopthesalvationarmy.com/" target="__blank">Salvation Army</a></h3>
  <p>
    Salvation Army is a volunteer run organization operating in over 100 countries and with 8,000 
    stores in the US. They usually have a range of clothig for all ages and offer the lowest price points.
  </p>

</section>

<section> 
  <h2>Consignment and Vintage Shops</h2>
  {% include image-source-set.html image="28-clothing/consignment-shop.jpg" alt="rack of clothing on hangers" %}
  <p>
    Consignment and vintage shops have a more curated collection of garments. They often offer better quality garments, 
    but at a higher price point than thrift stores. An internet search should help you find a few local options, 
    but there are a couple nationwide chains to keep an eye out for. 
  </p>

  <h3><a class="border:none" href="https://www.buffaloexchange.com/" target="__blank">Buffalo Exchange</a></h3>
  <p>
    Buffalo Exchange is a popular consignment store chain with 50 locations speckled across the country. 
    They offer clothes for men and women, and in my experience, they are pretty picky 
    about the garments they accept. They are your best bet for some great vintage finds.  
  </p>

  <h3><a class="border:none" href="https://clothesmentor.com/" target="__blank">Clothes Mentor</a></h3>
  <p>
    Clothes Mentor has a few hundred locations across the US. While they only offer clothes for women, 
    they tend to have a nice selection in a variety of styles.
  </p>

</section>



<section>
  <h2>Online</h2>
  {% include image-source-set.html image="28-clothing/thredup-clothing.jpg" alt="thredup brand box surrounded by a few items of clothing" %}
  <p>
    If local secondhand shops aren't giving you the closet you need or want, try a few of these 
    online options. 
  </p>

  <h3><a class="border:none" href="https://www.thredup.com/" target="__blank">thredUP</a></h3>
  <p>
    thredUP is an online thrift and consignment store that offers women's and children's clothing in 
    a variety of styles, brands, and price points. Shipping is free once your cart surpasses $75 and unlike 
    most other secondhand retailers, they do accept returns for a small fee. Make your shopping even more 
    sustainable by opting to have all your purchases ship in one box at checkout. 
  </p>

  <h3><a class="border:none" href="https://poshmark.com/" target="__blank">Poshmark</a></h3>
  <p>
    Poshmark gives users the opportunity to buy and sell gently-used clothing, accessories, and home goods.
    You can find items for men, women, and children in a variety of brands, styles, and price points.
    Poshmark does not generally accept returns, but will consider it if the item received was not as described in the listing. 
  </p>

  <h3><a class="border:none" href="https://www.facebook.com" target="__blank">Facebook Marketplace</a></h3>
  <p>
    Facebook Marketplace has change the secondhand game by letting users list anything and everything to be sold 
    or given away. This option is most sustainable when you pick up local finds and skip the shipping all together. 
    I, personally, have collected an entire closet of pre-loved maternity wear for less than $100 by 
    shopping Marketplace. 
  </p>

  <h3><a class="border:none" href="https://wornwear.patagonia.com/" target="__blank">Patagonia Worn Wear</a></h3>
  <p>
    If you're looking for outdoor apparel check out Patagonia Worn Wear, which repairs and resales gently-used 
    Patagonia garments at half of the original cost. You can also trade in your own Patagonia pieces for 
    store credit.
  </p>
</section>


<section>
  <h2>Rental Programs</h2>
  {% include image-source-set.html image="28-clothing/rent-the-runway-clothing.jpg" alt="rent the runway brand garment bag on chair" %}
  <p> 
    Forget buying clothes to keep up with the latest trends, now you can rent your favorite styles 
    at a fraction of the cost. I have never actually used a clothing rental service, but I've witnessed friends 
    sport a new closet every week thanks to these programs. 
  </p>

  <h3><a class="border:none" href="https://www.renttherunway.com/" target="__blank">Rent the Runway</a></h3>
  <p>
    Rent the Runways lets shoppers rent gently-used designer clothers, or buy them at a fraction of the cost. Anyone 
    can purchase garments, but the rental option is exclusively for members. Memberships 
    start at $89 per month. Rent the Runway offers the widest variety of looks and gets bonus points for 
    its green dry cleaning service and recycled shipping materials.
  </p>

  <h3><a class="border:none" href="https://www.haverdash.com/" target="__blank">Haverdash</a></h3>
  <p>
    Haverdash is best suited for tighter budgets, since it's $59 monthly fee allows members to 
    rent an unlimited amount of clothing. 
  </p>

  <h3><a class="border:none" href="https://closet.gwynniebee.com/" target="__blank">Gwynnie Bee</a></h3>
  <p>
    Gwynnie Bee offers the best range of sizes, from 0-32. Subscriptions start at $49 per month for one 
    item at a time. 
  </p>
</section>


<section>
  <h2>Clothing Swaps</h2>
  {% include image-source-set.html image="28-clothing/clothing-swap.jpg" alt="person next to stacks of folded clothes" %}
  <p>
    Grab a few friends or family members and host a clothing swap. You'll get to unload a 
    few pieces you're tired of, while picking up a couple things that are new to you. My sister and 
    I trade pieces once or twice a year and it's like the benefits of going shopping, without 
    having to spend any money.
  </p>
</section>







