---
layout: post
permalink: 10-sustainable-lip-balm-options.html
published: true
date: 2021-06-08
category: options
tags: [ sunscreen, lip balm, chapstick ]
title: 10 Sustainable Lip Balm Options
description: 10 lip balm options with packaging and ingredients that won't harm the environment
week: 23
image: 23-lip-balm/lip-balm-options.jpg
alt: open glass jar of lip balm on a table
---

<section>
  <p>
    This week, while researching <a href="environmental-impact-of-lip-balm.html" target="__blank">the environmental impact of lip balm</a>,
    I learned that not only does lip balm come in plastic tubes, but it is often made of petroleum base, or 
    plastic, ingredients! That's way too much plastic for one tiny little tube, so I've found 12 
    all-natural, plastic-free alternatives to keep my lips moisturized. If none of these are speaking to 
    you, why not try <a href="diy-lip-balm.html" target="__blank">making your own lip balm</a> with this 
    simple recipe.
  </p>

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>

<section>
  <h2>Axiology</h2>
  {% include image-source-set.html image="23-lip-balm/axiology-lip-balm.jpg" alt="axiology brand lip to lid balmies in a paperboard box" %}
  <p>
    <a href="https://axiologybeauty.com/?rfsn=5763090.e4deb7" target="__blank">Axiology's</a>
    lip-to-lid balmies aren't your average lip balm; they come in 14 colors and can be used as hydrating lip balm, 
    blush, and eye shadow. The best part is that they come in thin compostable paper wrap, making them the 
    lowest waste product on this list. These balmies are also vegan and cruelty-free. One balmie starts at $14 
    or you can opt for 3 balmies for $36 ($6 savings), or 14 for $96 ($100 savings).
  </p>
</section>

<section>
  <h2>Alpine Provisions</h2>
  {% include image-source-set.html image="23-lip-balm/alpine-provisions-lip-balm.jpg" alt="alpine provisions brand lip balm in paperboard tube" %}
  <p>
    <a href="https://alpineprovisionsco.com/pages/lip-balm#shopify-section-featured-collection-alpine-lipbam">Alpine Provisions</a>
    rosemary mint lip balm is all-natural, organic, vegan, cruelty-free and plastic-free. It comes in a durable 
    paperboard tube that can be recycled or composted. You can purchase one 0.53 oz tube for $8 or three for $18 
    on their website.
  </p>
</section>

<section>
  <h2>Meow Meow Tweet</h2>
  {% include image-source-set.html image="23-lip-balm/meow-meow-tweet-lip-balm.jpg" alt="meow meow tweet brand lip balm in paperboard tube" %}
  <p>
    <a href="https://meowmeowtweet.com/products/rosemary-eucalyptus-vegan-lip-balm" target="__blank">Meow Meow Tweet</a>
    lip balm comes in a variety of flavors, rosemary eucaluptus, coconut cacao, and sweet orange tangerine. All products 
    are all-natural, organic, vegan, cruelty-free and plastic-free. You can find a 1 oz compostable lip balm tube for $14 
    on their website or at <a href="https://packagefreeshop.com/" target="__blank">Package Free Shop</a>.
  </p>
</section>

<section>
  <h2>Elate Cosmetics</h2>
  {% include image-source-set.html image="23-lip-balm/elate-cosmetics-lip-balm.jpg" alt="elate cosmetics brand lip balm in glass jar with bamboo lid" %}
  <p>
    <a href="https://elatebeauty.com/search?q=lip+balm" target="__blank">Elate Cosmetics</a> 
    offers both a tinted and non-tinted lip conditioner. Their products are all-natural, vegan, cruelty-free and 
    their lip balm comes in a recyclable glass jar with a compostable bamboo lid. You can purchase a 0.15 oz jar 
    from their website for $14.70 and if you mention that you're trying to live a zero waste lifestyle, they'll 
    use less packaging when they ship.
  </p>
</section>

<section>
  <h2>Apothecary Muse</h2>
  {% include image-source-set.html image="23-lip-balm/apothecary-muse-lip-balm.jpg" alt="apothecary muse brand lip balm in paperboard tubes" %}
  <p>
    <a href="https://apothecarymuse.com/product-category/lip-balm/" target="__blank">Apothecary Muse</a>
    lip balms are all-natural, organic, vegan, cruelty-free, and plastic-free. They carry three untinted scents 
    in compostable paperboard tubes that can be bought online for $7 a pop.
  </p>
</section>

<section>
  <h2>River Organics</h2>
  {% include image-source-set.html image="23-lip-balm/river-organics-lip-balm.jpg" alt="river organics brand lip balm in paperboard tube" %}
  <p>
    <a href="https://riverorganics.org/collections/lips" target="__blank">River Organics</a> offers 
    a range of tinted lip balms as well as a non-tinted version, all in compostable paper-board tubes. 
    Their products are mostly natural and organic, although they do  use a synthetic, fair-trade mica. 
    They are also vegan and cruelty-free. Lip balm tubes start at $9.99 for 0.28 oz. 
  </p>
</section>

<section>
  <h2>Hurraw!</h2>
  {% include image-source-set.html image="23-lip-balm/hurraw-lip-balm.jpg" alt="hurraw brand lip balm in rectangular metal tin" %}
  <p>
    <a href="https://hurrawbalm.com/products/coconut-lip-balm-slim-slider-tin">Hurraw!</a> offers 
    three lip balm flavors: coconut, mint, and vanilla bean in a plastic-free tin. They use all-natural ingredients 
    and are both vegan and cruelty-free. One slider tin can be found on their website for $4. 

  </p>
</section>

<section>
  <h2>All Good</h2>
  {% include image-source-set.html image="23-lip-balm/all-good-lip-balm.jpg" alt="all good brand lip balm in round metal tin" %}
  <p>
    <a href="https://allgoodproducts.com/shop/plastic-free/plastic-free-coconut-lip-balm-3-pack/" target="__blank">All Good</a>
    lip balms are made from organic and non-toxic ingredients and are cruelty-free. They come in compostable 
    paperboard tube and can be found on their website starting at $9 for 0.35 oz tube.
  </p>
</section>

<section>
  <h2>Fat and the Moon</h2>
  {% include image-source-set.html image="23-lip-balm/fat-and-the-moon-lip-balm.jpg" alt="fat and the moon brand lip balm in round metal tin" %}
  <p>
    <a href="https://www.fatandthemoon.com/search?type=product&q=lip+balm" target="__blank">Fat and the Moon</a> offers 
    both a tinted and non-tinted lip balm in recyclable metal tins. They are cruelty-free and made of all-natural ingredients. 
    One 0.5 oz tin can be purchased on their website for $12.
  </p>
</section>

<section>
  <h2>Nudi Goods</h2>
  {% include image-source-set.html image="23-lip-balm/nudi-goods-lip-balm.jpg" alt="nudi goods brand lip balm in paperboard tube" %}
  <p>
    <a href="https://nudigoods.com/collections/frontpage" target="__blank">Nudi Goods</a> 
    tinted and non-tinted lip balms are all-natural, 100% biodegradable, cruelty-free and plastic free. You can 
    purchase a compostable paper-board tube of lip balm from their website starting at $6.75.
  </p>
</section>



