---
layout: post
permalink: how-to-make-hand-soap.html
published: true
date: 2021-05-13
category: make
tags: [ hand soap, sanitizer ]
title: How to Make Hand Sanitizer
description: Use these step-by-step instructions to make your own hand sanitizer with three simple ingredients.
week: 19
image: 19-hand-soap/make-hand-soap.jpg
alt: hand getting soap from dispenser by sink
excerpt_separator: <!--more-->
---

<section>
  <p>
    The average household goes through <a href="https://ethique.com/collections/handwash-concentrates" target="__blank">
    11 hand soap bottles</a> every year. Instead of wasting all that plastic (and money), why not make 
    our own with two easy ingredients, castile soap and water. <!--more-->
  </p>
  <p>
    Castile soap is non-toxic, vegetable based jack of all trades. It can be used on <a href="https://www.drbronner.com/all-one-blog/2017/06/dilutions-cheat-sheet-dr-bronners-pure-castile-soap/" target="__blank">
    your body, your house, your pets, and even your plants</a>! Castile soap comes unscented or in a variety of all natural scents. 
    You can find it at many grocery large grocery chains including Target and Whole Foods, or buy online.
    <a href="https://packagefreeshop.com/collections/all/products/bulk-castile-soap-saponified" target="__blank">Package Free Shop</a> 
    sells a half gallon bottle for $32. Or, <a href="https://shop.drbronner.com/collections/soaps/products/peppermint-pure-castile-liquid-soap?variant=36027942961316" target="__blank">
    Dr. Bronner's</a> sells gallon jugs for $65. Yes, castile soap comes in a recyclable plastic bottles, 
    but it is still a natural, low-waste alternative to many little hand-soap bottles. 
  </p>
  <p>
    Now, let's talk price comparison real quick. One gallon of Dr. Bronner's liquid castile soap makes this recipe 
    128 times. If a gallon costs $65, then each bottle of home made hand soap costs about $0.50. That's half the 
    cost of a small bottle of popular brand, Softsoap. 
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>2 tbsp iquid castile soap - I like Dr. Bronner's and Vermont Country Soap</li>
    <li>1 cup water </li>
    <li>Small bottle with pump. I used an empty bottle that I already had. </li>
    <li>Funnel for pouring</li>
    <li>(Optional) 5-10 drops essential oil. I think this is only necessary if using unscented castile soap.</li>
  </ul>

</section>

<section>
  <ol>
    <li>
      {% include image-source-set.html image="19-hand-soap/1-rinse-bottle.jpg" alt="hand holding small brown plastic bottle under running water" %}
      <p>
        Clean and rinse your old bottle. If you'd like, remove the label.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/2-add-ingredients.jpg" alt="hand pouring water into small plastic bottle via funnel" %} 
      <p>
        Using the funnel, add 1 cup water and 2 tbsp liquid castile soap. If you are using essential oil,
        add 5-10 drops. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/make-hand-soap.jpg" alt="alt: hand getting soap from dispenser by sink" %}
      <p>
        Screw the pump back on and shake well. That's it! 
      </p>
    </li>

  </ol>
</section>