---
layout: post
permalink: sustainable-hand-soap-options.html
published: true
date: 2021-05-12
category: info
tags: [ hand soap, sanitizer ]
title: 5 Sustainable Hand Soap and Sanitizer Options
description: Here are 5 ways to keep your hands clean without sacrificing the health of the environmnent
week: 19
image: 19-hand-soap/hand-soap-options.jpg
alt: hand getting soap from dispenser over sink
---

<section>
  <p>
   We all know how important it is to wash our hands and we should be doing it multiple times a day. 
   The next time you need a hand soap or sanitizer refill, opt for one of these sustainable options.
  </p>
</section>

<section>
  <h2>Ethique Hand Soap Concentrate</h2>
  {% include image-source-set.html image="19-hand-soap/ethique-hand-soap.jpg" alt="bar and box of ethique brand hand soap concentrate with lemon wedge" %}
  <p>
    <a href="https://ethique.com/collections/handwash-concentrates"  target="__blank">Ethique</a> recognize that 
    sharing a bar of soap to wash your hands is not ideal for many people. So, they came up with a soap concentrate 
    that you simply mix with boiling water to make a foamy liquid hand soap. You can buy 
    one bar for $8.50 on their website. A plastic free box of soap concentrate from Ethique will make one 
    12oz bottle of cruelty-free hand soap. 
  </p>
</section>

<section>
  <h2>Blueland Hand Soap Tablets</h2>
  {% include image-source-set.html image="19-hand-soap/blueland-hand-soap.jpg" alt="blueland brand glass bottle with hand soap refill tablets" %}
  <p>
    Blueland made a splash on the hit TV show, Shark Tank, when they offered consumers a way to avoid plastic waste 
    from cleaning bottles by instead plopping a tablet into a bottle you alread have. You can purchase a <a href="https://www.blueland.com/products/hand-soap-starter-set-multi?msclkid=5625d220c83c1f75c10ab2bb3a8537ec" target="__blank">
    glass pump bottle</a> with three soap tablets for $14 or opt for just the <a href="https://www.blueland.com/products/hand-soap-refill-packs" target="__blank">refills</a>, which come in 
    compostable packaging. A 9 pack of refills, the most cost effective option, also costs $14
  </p>
</section>

<section>
  <h2>Plaine Products Hand Soap and Sanitizer</h2>
  {% include image-source-set.html image="19-hand-soap/plaine-products-hand-soap.jpg" alt="plaine products brand hand soap in aluminum bottle" %}
  <p>
    Plaine Products offers both hand soap and sanitizer in infinitely recyclable aluminum bottles with an 
    optional pump. The best part is that you can print out a free shipping label to send the bottles 
    right back to the company, where they will clean and reuse them! You can find a 16 oz bottle of hand soap for $20 
    or a 16 oz bottle of hand sanitizer for $15 on <a href="https://www.plaineproducts.com/shop/" target="__blank">their website</a>.
  </p>
</section>

<section>
  <h2>Dr. Bronner's Bar Soap</h2>
  {% include image-source-set.html image="19-hand-soap/dr-bronners-bar-soap.jpg" alt="dr bronner's brand bar soap" %}
  <p>
    There are a lot of bar soap options on the market, but I love 
    Dr. Bronner's because it is all natural, cruelty-free, organic, and biodegradable. The soap 
    bars come in 10 scent options and a 100% post-consumer recycled wrapper. Dr. Bronner's can be found 
    at many chain and grocery stores including Target and REI, or on you can buy directly from 
    <a href="https://www.target.com/p/dr-bronner-s-bar-soap-lavender-5oz/-/A-11007066#lnk=sametab" target="__blank">
    their website</a>. The soap bars run about $5 dollars a pop.
  </p>
</section>

<section>
  <h2>Package Free Hand Sanitizer</h2>
  {% include image-source-set.html image="19-hand-soap/package-free-hand-sanitizer.jpg" alt="glass spray bottle of package free brand hand sanitizer" %}
  <p>
    <a href="https://packagefreeshop.com/collections/all/products/package-free-unscented-hand-sanitizer" target="__blank">
    Package Free Shop</a> offers hand sanitizer in a recyclable glass bottle so we no longer have to depend 
    on the little plastic ones. You can find a 2 oz spray bottle for $12 on their website. 
  </p>
</section>



<section>
  <p>
    Check out my next post to see how easy and cost-effective it is to <a href="how-to-make-hand-soap.html" target="__blank">
    make hand soap</a> at home using two easy ingredients.
  </p>
</section>