---
layout: post
permalink: 
published: false
date: 2021-09-06
category: info
tags: [  ]
title: The Environmental Impact of 
description: 
week: 36
image: 36-ziplocs/.jpg
alt: 
excerpt_separator: <!--more-->
---
<section>
  <p>

  </p>
</section>

<section>
  <h2>Why are Ziploc bags a problem?</h2>
  <p>
    Plastic zip close bags are made of thin plastics that fall under the category of plastic film. 
    According to the <a href="https://www.epa.gov/facts-and-figures-about-materials-waste-and-recycling/frequent-questions-regarding-epas-facts-and" target="__blank">EPA</a>, 
    4.2 million tons of plastic bags and films were generated in 2018 and 3.04 millions tons 
    ended up in a landfill. They, like all plastics, are made from crude oil, a non-renewable resource, which 
    is problematic for two reasons: manufacturing generates significant pollution and the product is not biodegradable. 
    As <a href="https://sciencing.com/why-are-plastic-bags-so-bad-for-the-environment-5005999.html" target="__blank">Sciencing.com</a>
    put it, "they are difficult to produce and nearly impossible to get rid of once produced".    
  </p>

  <p>
    Most plastic bags take a minimum of 400 hundred years to break down. If that fact doesn't get your blood boiling, 
    think of it this way...every plastic bag that's ever been sent to a landfill still exists. It gets worse. According 
    to <a href="http://natural-environment.com/blog/2008/01/10/environmental-impact-of-plastic-bags/" target="__blank">
    Natural-Environment.com</a>, plastic bags cause over 100,000 sea turtle and other marine animal deaths every year 
    when animals mistake them for food.
</section>



<section>
  <h2>Are plastic zipper storage bags recyclable?</h2>
  <p>
    Technically, most plastic zipper storage bags are recyclable. However, since they are considered a plastic 
    film, they should never go into your curbside recycling, as they can clog the machinery at recycling facilities.
    Many grocery stores offer plastic film recycling drop offs near the front doors, but the bags should be clean and contain 
    no food remnants. If yours doesn't, <a href="https://www.plasticfilmrecycling.org/recycling-bags-and-wraps/find-drop-off-location/" target="__blank">
    use this link to search for a drop off location in your area</a>. Or, consider getting sending them to 
    <a href="https://www.terracycle.com/en-US/collection-programs?query=plastic%20sandwich%20bags" target="__blank">
    Terracycle</a> for recycling.
  </p>
</section>

<section>
  <h2>What can I use instead?</h2>
  <p>

  </p>
</section>



<section>
  <h2>Stasher Bags</h2>
    <a href="" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="" target="__blank"></a>
    </p>
</section>

<section>
  <h2>Upcycled Glass Jars</h2>
    <a href="" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="" target="__blank"></a>
    </p>
</section>

<section>
  <h2>Beeswax Wraps</h2>
    <a href="" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="" target="__blank"></a>
    </p>
</section>

<section>
  <h2>Cloth Snack Bags</h2>
    <a href="https://www.marleysmonsters.com/collections/sandwich-bags/products/snack-bag-linen?variant=13630970396756" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="https://www.marleysmonsters.com/collections/sandwich-bags/products/snack-bag-linen?variant=13630970396756" target="__blank"></a>
    </p>
</section>

<section>
  <h2>If You Care Paper Sandwich Bags</h2>
    <a href="https://buyifyoucare.com/products/sandwich-bags-fcs-certified" target="__blank">
      {% include image-source-set.html image="34-ziplocs/.jpg" alt="" %}
    </a>
    <p>
      <a href="" target="__blank"></a>
    </p>
</section>

