---
layout: post
permalink: sustainable-face-soap-options.html
published: true
date: 2021-05-25
category: info
tags: [ soap, face wash, face scrub ]
title: 10 Sustainable Face Wash Options
description: 10 low-waste options to make your face wash routine a little more sustainable
week: 21
image: 21-face-wash
alt: 
---

<section>
  <p>
    For some of us, fac
  </p>
</section>

<section>
  <h2>Dr. Bronner's</h2>
  {% include image-source-set.html image="21-face-wash/dr-bronners-soap-bar.jpg" alt="dr bronners brand soap bar" %}
  <p>
    Dr. Bronner's castile soap can be used to clean your house, body, face, and even pets.
    It is all natural, cruelty-free, organic, and biodegradable. The soap 
    bars come in 10 scent options and a 100% post-consumer recycled paper wrapper. Dr. Bronner's 
    can be found at many chain and grocery stores including Target and REI, or you can buy directly from 
    <a href="https://shop.drbronner.com/collections/soaps/products/peppermint-pure-castile-bar-soap" target="__blank">
    their website</a>. One 5 oz bar costs $4.79. 
  
  </p>
</section>

<section>
  <h2>Ethique Face Bar</h2>
  {% include image-source-set.html image="21-face-wash/ethique-face-wash-bar.jpg" alt="Ethique Brand face wash bars and box" %}
  <p>
    <a href="https://ethique.com/collections/cleanse" target="__blank">Ethique</a> offers face-specific 
    soap bars that either cleanse or scrub, depending on your preference. These bars are plastic-free, 
    cruelty free and can be found on Ethique's website starting at $15 for four small bars.

  </p>
</section>

<section>
  <h2>Plaine Products Face Wash</h2>
  {% include image-source-set.html image="21-face-wash/plaine-products-face-wash.jpg" alt="plaine products face wash in aluminum bottle" %}
  <p>
    <a href="https://www.plaineproducts.com/product/face-wash/" target="__blank">Plaine Products Facee Wash</a> 
    is all-natural, cruelty-free, biodegradable and comes in a refillable aluminum bottle. You can 
    find a 2.5 oz bottle on their website for $15. 
  </p>
</section>

<section>
  <h2>Lush Face Cleanser</h2>
  {% include image-source-set.html image="21-face-wash/lush-face-bar.jpg" alt="lush brand face wash soap bar" %}
  <p>
    <a href="https://www.lushusa.com/face/cleansers-scrubs/movis/9999908288.html" target="__blank">Lush Movis Facial Soap</a> 
    is part of the brand's "Naked" line, meaning it comes without any packaging. The bars can be found online for $13.95.
  </p>
</section>

<section>
  <h2>Brooklyn Made Natural Facial Soap</h2>
  {% include image-source-set.html image="21-face-wash/brooklyn-made-natural-face-bar.jpg" alt="unpackaged brooklyn made natural brand face soap bar" %}
  <a href="https://packagefreeshop.com/collections/all/products/rose-charcoal-facial-soap" target="__blank">Brooklyn Made Natural</a> 
    facial soap bars are all-natural, organic, and cruelty-free. You can purchase them from Package Free Shop for $10.
  <p>
    
  </p>
</section>

<section>
  <h2>Meow Meow Tweet Face Cleanser</h2>
  {% include image-source-set.html image="21-face-wash/meow-meow-tweet-cleanser.jpg" alt="meow meow tweet brand face cleanser in glass bottle" %}
  <p>
    If you're looking for a classic, creamy face soap, try <a href="https://meowmeowtweet.com/products/face-cleanser" target="__blank">Meow Meow Tweet Cleanser</a>. 
    This cleanser is all-natural, organic, cruelty-free and comes in a recyclable glass bottle. You can purchase 
    a 3.8 oz bottle from their webstie for $25.
  </p>
</section>

<section>
  <h2>No Tox Life Facial Bar</h2>
  {% include image-source-set.html image="21-face-wash/no-tox-life-face-bar.jpg" alt="six no tox life brand face soap bars" %}
  </a>11.98
  <p>
    No Tox Life is a small, woman-owned business run by a mother and daughter team.  They make 
    natural, plastic-free cosmetics, including these <a href="https://notoxlife.com/collections/zero-waste-low-waste/products/onyx-charcoal-detox-facial-bar" target="__blank">
    facial cleansing bars</a>, which can be purchased on their website at $12 for one 1.8 oz bar.
  </p>
</section>

<section>
  <h2>Klei Powder-to-Foam Cleanser</h2>
  {% include image-source-set.html image="21-face-wash/klei-face-powder.jpg" alt="klei brand face powder" %}
  <p>
    <a href="https://kleibeauty.com/collections/foaming-powder-cleanser" target="__blank">Klei Powder-to-Foam Cleanser</a> 
    isn't your typical face wash. Instead of cream, you get a bottle of powder that foams when wet. One 4 oz glass bottle 
    costs $34 on their website.
  </p>
</section>

<section>
  <h2>Little Seed Farm Face and Body Bar</h2>
  {% include image-source-set.html image="21-face-wash/little-seed-farm-face-and-body-bar.jpg" alt="little seed farm brand face and body soap bar with box" %}
  <p>
    <a href="https://littleseedfarm.com/collections/face-lips/products/rose-geranium-facial-healing-organic-soap" target="__blank">Little Seed Farm</a> 
    is a family-owned and run business that sells cruelty-free, organic cosmetics including goat's milk
    face and body soap bars. One bar costs $7.99 on their website.
  </p>
</section>

<section>
  <h2>Dirty Hippie Cleanser</h2>
  {% include image-source-set.html image="21-face-wash/dirty-hippie-cleanser.jpg" alt="dirty hippie brand face cleanser in glass bottle" %}
  <p>
    <a href="https://www.etsy.com/listing/231161183/rejuvenating-cleansing-nectars-tea-tree?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=dirty+hippie+cosmetics&ref=sr_gallery-1-23&from_market_listing_grid_organic=1" target="__blank">
    Dirty Hippie Cleanser</a> is different than most in that it uses the <a href="https://theoilcleansingmethod.com/why-cleanse-with-oil/" target="__blank">
    oil cleansing method</a>, which operates on the premise that oil dissolves oil. The oils work 
    to cleanse your skin while keeping it lubricated. This cleanser comes in a 3.4 oz glass bottle and 
    can be found on Etsy for $16.24.
  </p>
</section>

