---
layout: post
permalink: diy-travel-mug.html
published: true
date: 2021-02-11
category: make
tags: [ waste, zero waste, garbage, trash, recycling, disposable cups, travel mug]
title: DIY Travel Mug
description: How to make a travel mug from common household items
week: 7
image: 7-disposable-cups/mtc-travel-mug.jpg
alt: travel mug made from mason jar, parmesan cheese lid and sock
---

<section>
  <p>
    One travel mug has the potential to keep thousands of disposable cups from the landfill. Let me 
    show you how to make one with a few items you already have at home! This project takes about a minute to complete.
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>Standard Mouth Mason Jar</li>
    <li>Parmesan Cheese Container Lid</li>
    <li>One landfill bound worn-out or lonely sock</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a travel mug!</h2>
  
  <ol>
    <li>
      {% include image-source-set.html image="7-disposable-cups/1-jar-size.jpg" alt="one small mason jar, one large mason jar and an empty parmesan cheese container" %}
      <p>
        There are a few mason jar sizes that work for this project, but not the one's labeled "wide mouth".
      </p>
    </li>

    <li>
      {% include image-source-set.html image="7-disposable-cups/2-lid-swap.jpg" alt="hand putting the parmesan cheese lid on a mason jar" %}
      <p>
        Take the parmesan cheese lid and screw it on to your mason jar.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="7-disposable-cups/3-cut-sock.jpg" alt="hand cutting the tube of a sock off" %}
      <p>
        Cut off the top tube of your worn out of lonely sock.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="7-disposable-cups/4-roll-sock.jpg" alt="hands folding sock tube on itself" %}
      <p>
        Turn the sock inside out and fold it onto itself a couple times, starting with the cut edge.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="7-disposable-cups/5-add-sock.jpg" alt="hands putting folded sock tube on mason jar" %}
      <p>
        Put the sock ring on your mason jar like a koozie.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="7-disposable-cups/6-final.jpg" alt="finished product of diy travel mug mason jar with parmesan cheese lid and sock koozie" %}
      <p>
        That's it! You can sip out of the heavy pour side, or put a straw through one of the holes in the light pour side.
      </p>
    </li>
  </ol>
</section>