---
layout: post
permalink: diy-beach-coverup.html
published: true
date: 2021-06-02
category: make
tags: [ sunscreen, beach, diy ]
title: DIY
description: 
week: 22
image: 22-sunscreen/.jpg
alt:
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>Lightweight fabric - I used a flat cotton bed sheet</li>
    <li>Sewing machine and supplies</li>
    <li></li>

  </ul>
</section>

<section class="instructions">
  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>

    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>
</section>