---
layout: post
permalink: 10-sustainable-body-wash-options.html
published: true
date: 2021-05-18
category: info
tags: [ soap, body wash, shower gel ]
title: 10 Sustainable Body Wash Options
description: 10 body wash options that are both low waste and made of natural ingredients.
week: 20
image: 20-body-wash/ali-shower.jpg
alt: woman stepping out of shower wrapped in towel
---

<section>
  <p>
    Most body wash comes in a plastic body, but there are plenty of low-waste alternatives. 
    We can choose between package free soap bars, infinitely recyclable glass bottles, and 
    even refillable aluminum bottles. Here are ten options sustainable options that will 
    help you find a sustainable shower routine.
  </p>
</section>



<section>
  <h2>Dr. Bronner's </h2>
  {% include image-source-set.html image="20-body-wash/dr-bronners-bar-soap.jpg" alt="dr bronners brand bar of soap" %}
  <p>
    There are a lot of bar soap options on the market, but I love 
    Dr. Bronner's because it is all natural, cruelty-free, organic, and biodegradable. The soap 
    bars come in 10 scent options and a 100% post-consumer recycled wrapper. Dr. Bronner's can be found 
    at many chain and grocery stores including Target and REI, or on you can buy directly from 
    <a href="https://shop.drbronner.com/collections/soaps/products/peppermint-pure-castile-bar-soap" target="__blank">their website</a> 
    A 5oz bar costs $4.79. 
  </p>

  <p>
    Dr. Bronner's also offers <a href="https://shop.drbronner.com/collections/soaps/products/peppermint-pure-castile-liquid-soap?variant=36027942961316"  target="__blank">
    liquid castile soap</a> in bulk. A one gallon recyclable plastic bottle costs $65.
  </p>
</section>

<section>
  <h2>Vermont Soap</h2>
  {% include image-source-set.html image="20-body-wash/vermont-soap-body-soap.jpg" alt="" %}
  <p>
    Vermont Soap offers an array of natural, organic, cruelty-free products, including body wash. 
    While they do still package many of their products in plastic, they offer many bulk options, including:
    <ul>
      <li><a href="https://shop.vermontsoap.com/product-category/body-wash/lavender-ecstasy-body-wash/" target="__blank">bulk body wash</a> - $50 half gallon</li> 
      <li><a href="https://shop.vermontsoap.com/product/12-northern-woods-3-25oz-unboxed-bars/" target="__blank">unboxed soap bars</a> - 12 bars for $50 </li>
      <li><a href="https://shop.vermontsoap.com/product-category/organic-castile-liquid-soaps/" target="__blank">castile liquid soap</a> - $45 for a half gallon</li>

    </ul> 
  </p>
</section>

<section>
  <h2>Meliora Bar Soap</h2>
  {% include image-source-set.html image="20-body-wash/meliora-bar-soap.jpg" alt="meliora brand soap bar" %}
  <p>
    You may have seen Meliora's natural, organic detergents and cleaning products offered as plastic-free options, but did 
    you know that they also make plastic-free<a href="https://meliorameansbetter.com/products/bath-and-body-soap-bar?variant=41682179148" target="__blank">bar soap</a>?
    You can find 6 pack for $32.34 on their website.
  </p>
</section>


<section>
  <h2>Ethique</h2>
  {% include image-source-set.html image="20-body-wash/ethique-body-wash.jpg" alt="ethique brand body wash concentrate bar" %}
  <p>
    Ethique knows that some people will always choose liquid body wash over a bar of soap, which is why 
    they've made a product that's the best of both worlds. You can buy their <a href="https://ethique.com/collections/bodywash-concentrates" target="__blank">
    body wash concentrate</a>, which is packaged like a bar of soap, but mixes with water to make all natural, organic, cruelty-free 
    liquid body wash. One $9 concentrate bar fills a 12 oz bottle. Or, you can stick with a regular <a href="https://ethique.com/collections/body-cleanse" target="__blank">
    bar of soap</a> for $6.
  </p> 
</section>

<section>
  <h2>Tom's of Maine</h2>
  {% include image-source-set.html image="20-body-wash/toms-of-maine-bar-soap.jpg" alt="toms of maine brand soap bar" %}
  <p>
    Tom's of Maine has risen in popularity over the last few decades. Their all natural, cruelty-free products
    can now be found in many chain grocery stores and are even sold at Target. You can find their plastic-free  
    <a href="https://www.tomsofmaine.com/products/bath-body/natural-beauty-bar/fresh-eucalyptus" target="__blank">bar soap</a>
    in stores or online for $5.
  </p>
</section>

<section>
  <h2>No Tox Life</h2>
  {% include image-source-set.html image="20-body-wash/no-tox-life-bar-soap.jpg" alt="6 no tox life brand soap bars" %}
  <p>
    No Tox Life is a small, woman-owned business run by a mother and daughter team.  They make 
    natural, plastic-free cosmetics, including these <a href="https://notoxlife.com/collections/zero-waste-low-waste/products/moisturizing-vegan-body-bars-bundle" target="__blank">
    moisturizing soap bars</a>, which can be purchased on their website at $12 for three 3 oz bars.
  </p>
</section>

<section>
  <h2>Plaine Products Body Wash</h2>
  {% include image-source-set.html image="20-body-wash/plaine-products-body-wash.jpg" alt="plaine products brand body wash in aluminum bottle" %}
  <p>
    Plaine Products offers an array of essentials, including body wash, in aluminum bottles that can be 
    returned to the company and refilled. You can find a 16oz bottle of biodegradable, cruelty-free body wash for $30 on
    <a href="https://www.plaineproducts.com/product/body-wash/" target="__blank">their website</a>.
  </p>
</section>

<section>
  <h2>Bathing Culture Body Wash</h2>
  {% include image-source-set.html image="20-body-wash/bathing-culture-body-wash.jpg" alt="bathing culture brand body wash in glass bottle" %}
  <p>
    Bathing Culture ditches the plastic and instead offeers natural, organic body wash in an infinitely recyclable glass bottle.
    You can find a 16 oz bottle for $35 at <a href="https://packagefreeshop.com/products/mind-and-body-wash" target="__blank">Package Free Shop</a>
  </p>
</section>



<section>
  <h2>The Right to Shower</h2>
  {% include image-source-set.html image="20-body-wash/right-to-shower-body-wash.jpg" alt="" %}
  <p>
    For a more affordable option, check out <a href="https://www.therighttoshower.com/product-category/products" target="__blank">
    The Right to Shower</a>, which is cruelty-free, made of naturally derived ingredients, and 
    comes in 100% recycled plastic packaging. As an added bonus, 30% of their profits 
    go towards helping the homeless population stay clean by building mobile shower units. 
    You can find a 16 oz bottle for $8.99 at Walmart
  </p>
</section>

<section>
  <h2>Plus Body Wash Sheets</h2>
  {% include image-source-set.html image="20-body-wash/plus-body-wash.jpg" alt="" %}
  <p>
    <a href="https://cleanwith.plus/collections/all" target="__blank">Plus body wash sheets</a> 
    are unlike anything else on this list as they are individually wrapped sheets that 
    create a lather when wet. Plus is both cruelty-free and plastic-free. The sheets come is dissolvable 
    sachets while the rest of their packaging is compostable. You can find them online at $16.50 for 16 sheets.
  </p>
</section>




