---
layout: post
permalink: diy-reusable-dryer-balls.html
published: false
date: 2021-07-21
category: make
tags: [ laundry, clothing, fast fashion, dryer sheets, dryer balls ]
title: How to Make Reusable Wool Dryer Balls
description: 
week: 29
image: 29
alt: 
---

<section>
  <p>
    <a href="environmental-impact-of-laundry.html" target="__blank">the environmental impact of laundry</a>
    <a href="sustainable-detergent-options.html" target="__blank">10 sustainable detergent options</a>

  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li></li>
    <li></li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make some dryer balls!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

  </ol>
</section>