---
layout: post
permalink: reusable-cutlery-options.html
published: true
date: 2021-03-03
category: review
tags: [ waste, zero waste, garbage, trash, recycling, cutlery ]
title: 5 Options for Reusable Cutlery
description: 5 options for reusable cutlery to take when you're on the go
week: 9
image: 9-cutlery/disposable-vs-reusable.jpg
alt: a disposable spoon and knife alongside a metal fork, spoon and knife
---

<section>
  <p>
    We've established that <a href="disposable-utensils.html" target="__blank">disposable utensils</a> are a problem, now let's take a look at a few
    options you have for reusable cutlery.
  </p>
</section>

<section>
  <h2>Use what you have</h2>
  {% include image-source-set.html image="9-cutlery/home-utensils.jpg" alt="utensils divider full of silverwear" %}
  <p>
    The cheapest and most environmentally friendly option is always to use what you have. Why not 
    borrow a few of your utensils for the day and throw them in the dishwasher when you come home at night.
  </p>
</section>

<section>
  <h2>Buy secondhand</h2>
  {% include image-source-set.html image="9-cutlery/second-hand-cutlery.jpg" alt="pile of unmatched silverwear" %}
  <p>
    You could also buy second hand at a thrift store or garage sale. I've gotten an entire bag of silverwear 
    from Goodwill for $5.00. 
  </p>
</section>

<section>
  <h2>Sporks</h2>
  <a class="border:none" href="https://www.rei.com/product/660002/snow-peak-titanium-spork" target="__blank">
    {% include image-source-set.html image="9-cutlery/spork.jpg" alt="metal spork" %}
  </a>
  <p>
    Sporks are a great option as they are compact and do the work of two utensils. You can find 
    sporks at any store that carries camping supplies.
  </p>
</section>

<section>
  <h2>Bamboo</h2>
  <a class="border:none" href="https://packagefreeshop.com/collections/all/products/to-go-ware" target="__blank">
    {% include image-source-set.html image="9-cutlery/package-free-cutlery.jpg" alt="bamboo utensils with black case" %}
  </a>
  <p>Bamboo utensils are completely biodegradable! The set in the picture is from 
    <a href="https://packagefreeshop.com/collections/all/products/to-go-ware" target="__blank">Package Free</a>
    , but I've seen a lot of cute options at <a href="https://www.etsy.com/search?q=bamboo%20cutlery" target="__blank">
    Etsy</a>. One big bonus to bamboo is that the knives can be taken on planes. 
  </p>
</section>

<section>
  <h2 class="highlight">Outlery</h2>
  <a class="border:none" href="https://outlery.com/">
    {% include image-source-set.html image="9-cutlery/outlery.jpg" target="__blank" %}
  </a>
  <p><a href="https://outlery.com/">Outlery</a> is a popular option for travel utensils because at 3.2" x 2.5" x 0.8", it is 
    extremely compact. Outlery utensils are stainless steel and their products are completely plastic free.</p>
</section>
