---
layout: post
permalink: travel-mug-options.html
published: true
date: 2021-02-11
category: review
tags: [ waste, zero waste, garbage, trash, recycling, disposable cups ]
title: 5 Alternatives to Disposable Cups
description: Let's take a look at five different options for reusable travel mugs.
week: 7
image: 7-disposable-cups/mug-options.jpg
alt: one green reusable travel mug next to four disposable coffee cups
---

<section>
  <p>
    It's always best to use what you have, but if you need a travel mug, here is a look at the pros and cons 
    of some of the most popular options.
  </p>
</section>

<section>
  <h2>Glass - Keep Cup</h2>
  <a class="border:none" href="https://us.keepcup.com/shop/glass-cups/black-brew-cork" target="__blank">
    {% include image-source-set.html image="7-disposable-cups/glass-reusable.jpg" alt="glass travel mug with cork coozi and silicone lid" %}
  </a>

  <h3>Pros</h3>
  <ul>
    <li>Microwaveable</li>
    <li>Dishwasher Safe</li>
    <li>Recyclable</li>
    <li>Comes in compact sizes, better for coffee machines</li>
  </ul>

  <h3>Cons</h3>
  <ul>
    <li>Most Breakable</li>
    <li>Can be hot to the touch</li>
  </ul>
</section>

<section>
  <h2>Stainless Steel - Hyrdroflask</h2>
  <a class="border:none"  href="https://www.hydroflask.com/bottles?gclid=CjwKCAiA65iBBhB-EiwAW253W3YPT_2CydWi_YwH-ivNwfNjHkbimC5soO212oFD26z_ONOumvlf8xoC9UQQAvD_BwE" target="__blank">
    {% include image-source-set.html image="7-disposable-cups/stainless-reusable.jpg" alt="Grey hydroflask travel mug" %}
  </a>

  <h3>Pros</h3>
  <ul>
    <li>Durable</li>
    <li>Keeps drinks hot/cold for hours</li>
    <li>Leak proof</li>
  </ul>

  <h3>Cons</h3>
  <ul>
    <li>Not microwable</li>
    <li>Not usually dishwasher safe</li>
    <li>More expensive than other options</li>
  </ul>
</section>

<section>
  <h2>Ceramic - Ello</h2>
  <a class="border:none"  href="https://www.elloproducts.com/products/jane-18oz-ceramic-travel-mug?pr_prod_strat=copurchase&pr_rec_pid=5685628502168&pr_ref_pid=5685628403864&pr_seq=uniform&variant=36335485649048" target="__blank">
    {% include image-source-set.html image="7-disposable-cups/ceramic-reusable.jpg" alt="white ceramic travel mug with handle" %}
  </a>

  <h3>Pros</h3>
  <ul>
    <li>No added taste to beverages</li>
    <li>Most like a regular coffee mug</li>
    <li>Usually microwave-safe</li>
  </ul>

  <h3>Cons</h3>
  <ul>
    <li>Breakable</li>
    <li>Not always dishwasher-safe</li>
    <li>Can be hot to the touch</li>
  </ul>
</section>

<section>
  <h2>Silicone - Gosili</h2>
  <a class="border:none"  href="https://www.gosili.com/products/16oz-to-go-cup" target="__blank">
    {% include image-source-set.html image="7-disposable-cups/silicone-reusable.jpg" alt="grey silicone travel mug" %}
  </a>

  <h3>Pros</h3>
  <ul>
    <li>Microwave-safe</li>
    <li>Dishwasher-safe</li>
    <li>Lightweight</li>
  </ul>

  <h3>Cons</h3>
  <ul>
    <li>Can be hot to the touch</li>
    <li>Can slightly alter the taste of your beverage</li>
    <li>Doesn't keep heat as long as other options</li>
  </ul>
</section>


<section>
  <h2>Plastic - Starbucks</h2>
  <a class="border:none"  href="XX" target="__blank">
    {% include image-source-set.html image="7-disposable-cups/plastic-mug.jpg" alt="XX" %}
  </a>

  <h3>Pros</h3>
  <ul>
    <li>Inexpensive</li>
    <li>Durable</li>
    <li>Dishwasher-safe</li>
  </ul>

  <h3>Cons</h3>
  <ul>
    <li>Not biodegradable</li>
    <li>Plastic leeches chemicals</li>
    <li>Doesn't keep hot/cold very long</li>
  </ul>
</section>