---
layout: post
permalink: make-toothpaste-tube-wallet.html
published: true
date: 2021-04-07
category: make
tags: [ waste, zero waste, garbage, trash, toothpaste ]
title: How to Make A Toothpaste Tube Wallet
description: Use an old toothpaste tube to make a wallet in disguise
week: 14
image: 14-toothpaste/toothpaste-wallet.jpg
alt: toothpaste tube rolled up with cash and credit cards next to it
---

<section>
  <p> 
    This week, I made the switch to plastic-free toothpaste, but I still had a few plastic 
    toothpaste tubes to discard. Toothpaste tubes are made to last for hundreds of years, but are typically only used for a few months. 
    Their mixed materials are recyclable or biodegradable, so billions end up in our landfills every year.
  </p>

  <p>
    I started scrolling through Pinterest for ways to upcycle my toothpaste tubes, when I came across
    a <a href="https://www.instructables.com/Travel-Safe/" targete="__blank">brilliant idea</a> to use 
    it as a travel safe! Large toothpaste tubes are perfect for hiding cash and credit cards in plain sight. 
    Using this idea, with a few improvements, I made my own toothpaste tube wallet.
  </p>
</section>

<section>
  <h2>What you'll need</h2>
  <ul>
    <li>Large toothpaste tube</li>
    <li>Scissors</li>
    <li>Thin Wire - I found this coil in my back yard, so I'm not sure what gauge it is, but I do know that pipe cleaners are not strong enough.</li>
    <li>Duct Tape</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a toothpaste tube wallet</h2>
  <ol>
    <li>
      {% include image-source-set.html image="14-toothpaste/1-get-tube.jpg" alt="empty toothpaste tube next to metrocard, library card, and cash" %}
      <p>
        Grab an old toothpaste tube. You can hover a credit card over it to make sure it will fit.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/2-cut-tube.jpg" alt="empty toothpaste tube with end cut off" %}
      <p>
        Cut the end off your toothpaste tube.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/3-remove-extra-paste.jpg" alt="inside view of cut open toothpaste tube" %}
      <p>
        Use a toothbrush or spoon to remove the excess toothpaste. You'll probably get a few more brushes out of it!
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/4-clean-tube.jpg" alt="cut toothpaste tube being rinsed under running water" %}
      <p>
        Clean the tube and dry completely.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/5-cut-wire.jpg" alt="wire being cut in 4 inch strips next to empty toothpaste tube" %}
      <p>
        Cut two or three four-inch strips of wire.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/6-cut-tape.jpg" alt="duct tape being cut to length of wire" %}
      <p>
        Cut a piece of duct tape the length of your wire strips.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/7-wire-on-tape.jpg" alt="three wire pieces stuck on duct tape" %}
      <p>
        Put the wire strips on the sticky side of your duct tape.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/8-tape-in-tube.jpg" alt="tape with wire being inserted in toothpaste tube" %}
      <p>
        Carefully insert the tape in the toothpaste tube, sticky side to back.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/9-view-of-tape-in-tube.jpg" alt="view of open toothpaste tube with tape inside" %}
      <p>
        Once the tape is just past the cut edge, press it onto the back side of the toothpaste tube.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/10-secure-tape.jpg" alt="fingers pressing down on toothpaste tube" %}
      <p>
        Press down on the outside of the tube to secure the tape. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/11-add-money.jpg" alt="money and credit card being put into empty toothpaste tube" %}
      <p>
        Now you can add whatever money or valuables you want kept hidden.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="14-toothpaste/12-finished-wallet.jpg" alt="toothpaste tube rolled up" %}
      <p>
        Roll your toothpaste so it looks like a half used tube and voila!
      </p>
    </li>
  </ol>
</section>
