---
layout: post
permalink: sustainable-makeup-brands.html
published: true
date: 2021-06-15
category: options
tags: [ makeup, cosmetics ]
title:  Sustainable Makeup Brands
description: 10 Makeup brands that offer both sustainable packaging and ingredients
week: 24
image: 24-makeup/ali-makeup.jpg
alt: woman looking in a mirror and applying mascara
---

<section>
  <p>
    This week I took a good look at my beauty routine and its <a href="environmental-impact-of-makeup" target="__blank">
    environmental impact</a>. After taking a look at my makeup drawer, I realized just how much plastic
    waste I've produced over the last twenty years. As I use up the last of my conventional makeup, it's 
    time to find a low-waste, eco-friendly replacement. Here are ten sustainable brands I've found 
    that offer environmentally friendly packaging and natural ingredients.
  </p>

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>

<section>
  <h2>Axiology</h2>
  {% include image-source-set.html image="24-makeup/axiology-makeup.jpg" alt="axiology brand lip to lid balmies in paperboard box" %}
  
  <p>
    <strong>What they offer:</strong> 3-in-1 Crayons that can be used on lips, cheeks, and eyes.
  </p>

  <p>
    <strong>Price:</strong> One balmie starts at $14, 3 balmies for $36 ($6 savings), or 14 for $96 ($100 savings).
  </p>
  <p>
    <a href="https://axiologybeauty.com/?rfsn=5763090.e4deb7" target="__blank">Axiology</a> has been featured in Elle, 
    Vogue, Oprah, and InStyle for a good reason. These balmies aren't your average product; they come in 14 colors and 
    can be used as hydrating lip balm, blush, and eye shadow. The best part is that they come in thin compostable paper 
    wrap, making them the lowest waste product on this list. These balmies are also vegan, cruelty-free, and made using
    all-natural ingredients. 
  </p>
</section>

<section>
  <h2>River Organics</h2>
  {% include image-source-set.html image="24-makeup/river-organics-makeup.jpg" alt="river organics brand lip balm, blush and highlighter in paperboard tubes" %}
  
  <p>
    <strong>What they offer:</strong> Everything
  </p>

  <p>
    <strong>Price:</strong> $10-$18 for single products
  </p>
  
  <p>
    <a href="https://riverorganics.org/?ref=h4cizulkn2" target="__blank">River Organics</a> is a rare 
    find in the cosmetics world in that practically all of their products come in biodegradable paper 
    packaging. They even offer a plastic-free mascara cake that can be applied with a reusable wand. 
    River Organics products are non-toxic, vegan, and cruelty-free. 
  </p>

  <p>
    Use code <strong>TINYWASTE</strong> for $15% off your purchase!
  </p>
</section>

<section>
  <h2>Elate Cosmetics</h2>
  {% include image-source-set.html image="24-makeup/elate-cosmetics-makeup.jpg" alt="elate cosmetics brand eye shadow in bamboo case and bamboo brow brush" %}
  
  <p>
    <strong>What they offer:</strong> Everything
  </p>

  <p>
    <strong>Price:</strong> Refill inserts start at $15
  </p>
  
  <p>
    <a href="https://elatebeauty.com/" target="__blank">Elate Cosmetics</a> carries everything you need 
    for a sustainable makeup overhaul. They've done away with the majority of plastic and instead offer 
    refillable bamboo compacts as well as recyclable aluminum and glass containers. They even has vegan 
    makeup brushes with bamboo and aluminum handles. 
  </p>

  <p>
    As a great bonus, they offer <a href="https://elatebeauty.com/collections/sample-kits" target="__blank">
    sample kits</a> so you can find your perfect concealer and foundation. The samples come in recyclable/reusable
    aluminum tins that are perfect for <a href="diy-lip-balm.html" target="__blank">making your own lip balm</a>.
  </p>
</section>

<section>
  <h2>Bee You Organics</h2>
  % include image-source-set.html image="24-makeup/bee-you-organics-makeup.jpg" alt="aerial view of bee you organics brand eyeshadow in glass jars" %}

  <p>
    <strong>What they offer:</strong> Everything
  </p>

  <p>
    <strong>Price:</strong> Products start at $10
  </p>

  <p>
    <a href="https://beeyouorganics.com/collections/makeup" target="__blank">Bee You Organics</a> offers an entire line 
    of zero waste cosmetics and brushes. Their products come in glass, aluminum, and paperboard containers and are 
    made of natural, organic ingredients. All Bee You Organics products are made from scratch and by hand in the 
    Pacific Northwest. They are also vegan and cruelty free. 
  </p>

</section>

<section>
  <h2>Aether Beauty</h2>
  {% include image-source-set.html image="24-makeup/aether-beauty-makeup.jpg" alt="aether beauty brand eye shadow palette in paperboard packaging" %}
  
  <p>
    <strong>What they offer:</strong>  Eye shadow, blush, and highlighter
  </p>

  <p>
    <strong>Price:</strong> $16 - $58
  </p>
  
  <p>
    <a href="https://athrbeauty.com/" target="__blank">Aether Beauty</a> launched the industry's first 
    zero-waste eye shadow palette, which are made of 100% recyclable paper. Their most popular products are 
    the Joshua Tree palette, which offers a bold color selection and the Rose Quartz Crystal Gemstone palette, 
    which has more subtle tones. Their products are vegan, cruelty-free, and made of all-natural ingredients.
  </p>
</section>

<section>
  <h2>Nudi Goods</h2>
  {% include image-source-set.html image="24-makeup/nudi-goods-makeup.jpg" alt="nudi goods brand makeup assortment in paperboard tubes and packaging" %}
  
  <p>
    <strong>What they offer:</strong>  Eye shadow, mascara, and tinted lip balm
  </p>

  <p>
    <strong>Price:</strong> Products start at $9
  </p>
  
  <p>
    <a href="https://nudigoods.com/collections/makeup" target="__blank">Nudi Goods</a> products are all 
    available in compostable paperboard packaging, making them truly zero-waste. They use natural, organic 
    ingredients and never test on animals. 
  </p>
</section>

<section>
  <h2>Fat and the Moon</h2>
  {% include image-source-set.html image="24-makeup/fat-and-the-moon-makeup.jpg" alt="fat and the moon brand lip balm and blush in glass jars with metal lids" %}
  
  <p>
    <strong>What they offer:</strong> Lip and Cheek Stain, Eyeshadow, and Highlighter
  </p>

  <p>
    <strong>Price:</strong> Products start at $14
  </p>
  <p>
    <a href="https://www.fatandthemoon.com/collections/adornments" target="__blank">Fat and the Moon</a> is much more 
    than a cosmetics company, but they do offer a few zero-waste makeup basics. Their products, made of 
    all-natural and organic lids, come in glass or aluminum jars with aluminum lids. They are also vegan 
    and cruelty-free.
  </p>
</section>

<section>
  <h2>Zao Organic Makeup</h2>
  {% include image-source-set.html image="24-makeup/zao-makeup.jpg" alt="zao brand assorted makeup in bamboo packaging" %}
  
  <p>
    <strong>What they offer: Everything</strong> 
  </p>

  <p>
    <strong>Price: Products start at $16</strong>
  </p>

  <p>
    <a href="https://zaoorganicmakeup.com/" target="__blank">Zao Organic Makeup</a> offers an array of refillable 
    cosmetics in sustainable packaging, including bamboo and glass. While there is still some plastic used, they are 
    working towards a 100% plastic-free shop. All products are vegan, cruetly-free, and made with natural ingredients. 
    Zao also offers a wide range of samples 
  </p>
</section>

<section>
  <h2>Dab Herb Makeup and Skincare</h2>
  {% include image-source-set.html image="24-makeup/dab-herb-makeup.jpg" alt="dab herb brand makeup in metal tins" %}
  
  <p>
    <strong>What they offer:</strong> Everything
  </p>

  <p>
    <strong>Price:</strong> Products start at $10
  </p>
  
  <p>
    <a href="https://www.dabhms.com/shop?+=All&page=3" target="__blank">Dab Herb Makeup</a> offers a range of 
    natural cosmetics in glass, aluminum, and paperboard packaging. Products that come in glass and aluminum can 
    be cleaned and returned for refills at a 10% discount. All products are vegan and cruelty-free.
  </p>
</section>

<section>
  <h2>Clean Faced Cosmetics</h2>
  {% include image-source-set.html image="24-makeup/clean-faced-cosmetics-makeup.jpg" alt="clean faced cosmetics brand makeup tins in larger tin with mirror and eyelash brush" %}
  
  <p>
    <strong>What they offer:</strong> Everything
  </p>

  <p>
    <strong>Price:</strong> $10 - $16
  </p>

  <p>
    <a href="https://www.etsy.com/shop/CleanFacedCosmetics" target="__blank">Clean Faced Cosmetics</a> is a small 
    woman owned and run business that offers everything you need for a zero-waste makeup up routine. All 
    products are handmade and come in glass and aluminum containers. They can be returned for refills at a %10 discount. 
    Clean Faced Cosmetics are vegan, cruelty-free, and made of natural ingredients.
  </p>
</section>

<section>
  <h2>Izzy Beauty Inc</h2>
  {% include image-source-set.html image="24-makeup/izzy-beauty-makeup.jpg" alt="izzy beauty brand mascara in stainless steel tube" %}
  
  <p>
    <strong>What they offer:</strong> Mascara
  </p>

  <p>
    <strong>Price:</strong> $35 for the initial purchase, then $19 every three months
  </p>

  <p>
    Zero-waste, liquid mascara is hard to come by, but <a href="https://yourizzy.com/" target="__blank">Izzy Beauty Inc</a>
    has created a refillable stainless steel tube so that you never have to throw away another plastic 
    mascara again. All you have to do is purchase the initial tube and subscribe to receive a refill 
    every three months. Izzy mascara is organic, vegan, and cruelty-free.
  </p>
</section>



 
<section>
  <p>
    Now that you've decided what to put on your face, why not make the way you take it off a little
    better for the environment. Instead of toxic makeup remover, use something more natural like 
    <a href="diy-skin-care-routine.html" target="__blank">olive oil</a>. And instead of 
    disposable cotton rounds, <a href="make-reusable-cotton-rounds.html" target="__blank">make resuable ones</a>
    with cotton fabric scraps. 
  </p>
</section>


<section>
  <h2>Tata Harper</h2>
  {% include image-source-set.html image="24-makeup/tata-harper-makeup.jpg" alt="tata harper brand lipstick and blush in glass jars" %}
  
  <p>
    <strong>What they offer:</strong> 
  </p>

  <p>
    <strong>Price:</strong>
  </p>

  <p>
    <a href="https://www.tataharperskincare.com/shop-all/collections/natural-makeup" target="__blank">Tata Harper</a>
  </p>
</section>
