---
layout: post
permalink: how-to-make-hand-sanitizer.html
published: false
date: 2021-05-13
category: make
tags: [ hand soap, sanitizer ]
title: How to Make Hand Sanitizer
description: Use these step-by-step instructions to make your own hand sanitizer with three simple ingredients.
week: 19
image: 19-hand-soap/make-hand-sanitizer.jpg
alt:
---

<section>
  <p>
    Hand sanitizer started flying off the shelves when Covid-19 made it's American debut last year. While 
    it is possible that all of those bottles were recycled, I have a pretty good feeling the majority 
    of them ended up in landfills. Fortunately, hand sanitizer is ridiculously easy to make at home, 
    so you don't have to worry about wasting any more plastic bottles for the sake of cleanliness.
  </p>

  <p>
    According to the <a href="https://www.cdc.gov/handwashing/when-how-handwashing.html" target="__blank">CDC</a> 
    sanitizers with at least 60% alcohol are effective for getting rid of germs. 
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>2/3 cup rubbing alcohol</li>
    <li>1/3 aloe vera gel. In this tutorial I'll take the gel from my aloe vera plant, but you can also use bottled aloe vera gel.</li>
    <li>(Optional) Essential Oil. I chose tea tree oil because it has antibacterial properties and I like the smell</li>
    <li>Small bottle with pump or spray. I used a small hand sanitizer bottle that I already had. </li>
    <li>Funnel for pouring</li>
  </ul>

</section>

<section>
  <ol>
    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt="" %}
      <p>
        First, remove the pulp from your aloe vera plant by carefully 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt="" %} 
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>