---
layout: post
permalink: sustainable-bathroom-cleaners.html
published: true
date: 2021-08-03
category: options
tags: [ ]
title: 10 Sustainable Cleaners for your Bathroom
description: 
week: 30
image: 30-bathroom/.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
<h2>Bathroom Cleaners</h2>

  <h3>Meliora</h3>
  <a class="border:none" href="https://meliorameansbetter.com/discount/TINYWASTE?redirect=/collections/homecleaning/products/gentle-home-cleaning-scrub?variant=15888487612531&aff=63" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="https://meliorameansbetter.com/discount/TINYWASTE?redirect=/collections/homecleaning/products/gentle-home-cleaning-scrub?variant=15888487612531&aff=63" target="__blank"></a>
  </p>


  <h3>Blueland</h3>
  <a class="border:none" href="https://www.blueland.com/products/bathroom-starter-set" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  <p>
    <a href="https://www.blueland.com/products/bathroom-starter-set" target="__blank">Blueland</a>
  </p>


  <h3>Ethique</h3>
  <a class="border:none" href="https://ethique.com/products/multi-purpose-bathroom-spray-concentrate" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="https://ethique.com/products/multi-purpose-bathroom-spray-concentrate" target="__blank"></a>
  </p>


  <h3>Grove Collaborative</h3>
  <a class="border:none" href="https://www.grove.co/catalog/product/bathroom-cleaning-duo-free-gift/?v=7948&attrsrc=18&attrpg=catalog&attrpos=0" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="" target="__blank"></a>
  </p>


  <h2>Branch Basics</h2>
  <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank"></a>
  </p>


  <h2>Seventh Generation</h2>
  <a class="border:none" href="https://www.grove.co/catalog/product/zero-plastic-toilet-bowl-cleaner-powder/?v=6537&attrsrc=22&attrpg=catalog&attrpos=19" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.grove.co/catalog/product/zero-plastic-toilet-bowl-cleaner-powder/?v=6537&attrsrc=22&attrpg=catalog&attrpos=19" target="__blank"></a>
  </p>

</section>

<section>
  <h2>Multi-Surface Cleaners</h2>
  <h2>Blueland</h2>
  <a class="border:none" href="https://www.blueland.com/products/multi-surface-starter-set" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  <p>
    <a href="https://www.blueland.com/products/multi-surface-starter-set" target="__blank">Blueland</a>
  </p>


  <h2>Meliora</h2>
  <a class="border:none" href="https://meliorameansbetter.com/discount/TINYWASTE?redirect=/collections/homecleaning/products/all-purpose-home-cleaner-tablet?aff=63" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>

  <p>
    <a class="border:none" href="https://meliorameansbetter.com/discount/TINYWASTE?redirect=/collections/homecleaning/products/all-purpose-home-cleaner-tablet?aff=63" target="__blank"></a>
  </p>


  <h2>Ethique</h2>
  <a class="border:none" href="https://ethique.com/products/multi-purpose-kitchen-spray-concentrate" target="__blank">
    {% include image-source-set.html image="https://ethique.com/products/multi-purpose-kitchen-spray-concentrate" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="" target="__blank"></a>
  </p>


  <h2>Grove Co.</h2>
  <a class="border:none" href="https://www.grove.co/catalog/product/all-purpose-cleaner-concentrate/?v=7000&attrsrc=22&attrpg=catalog&attrpos=2" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.grove.co/catalog/product/all-purpose-cleaner-concentrate/?v=7000&attrsrc=22&attrpg=catalog&attrpos=2" target="__blank"></a>
  </p>


  <h2>Earthy Edith's</h2>
  <a class="border:none" href="https://zerowastestore.com/collections/zero-waste-cleaning-products/products/simple-all-purpose-cleaner" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="https://zerowastestore.com/collections/zero-waste-cleaning-products/products/simple-all-purpose-cleaner" target="__blank"></a>
  </p>


  <h2>Branch Basics</h2>
  <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank"></a>
  </p>


  <h2>Fillaree</h2>
  <a class="border:none" href="https://fillaree.com/collections/zero-waste-refills/products/clean-dream-refill" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
</section>





<section>
  <a href="diy-toilet-bombs.html" target="__blank">DIY Toilet Bombs</a>
</section>





  <h2>Toilet Brush</h2>
  <a class="border:none" href="https://packagefreeshop.com/collections/bathroom/products/toilet-brush-with-edge-cleaner-1" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a href="https://packagefreeshop.com/collections/bathroom/products/toilet-brush-with-edge-cleaner-1" target="__blank">Toilet Brush</a>
  </p>

  <h2>Sponge</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="" target="__blank"></a>
  </p>





  
 

  <h2>Castile Soap</h2>
  <a class="border:none" href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank"></a>
  </p>



  <h2>White Vinegar</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="" target="__blank"></a>
  </p>


  <h2>Baking Soda</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="" target="__blank"></a>
  </p>


  <h2>Borax</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="" target="__blank"></a>
  </p>