---
layout: post
permalink: 
published: false
date: 2021-09-20
category: options
tags: [  ]
title: 
description: 
week: 37
image: 37-coffee-tea/.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>Coffee Sock</h2>
  <a class="border:none" href="https://coffeesock.com/shop-retail/basket" target="__blank">
    {% include image-source-set.html image="36-food-waste/.jpg" alt=""}
  </a>

  <p>
    <a href="https://coffeesock.com/shop-retail/basket" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>Tea Sock</h2>
  <a class="border:none" href="https://coffeesock.com/shop-retail/teasock-1" target="__blank">
    {% include image-source-set.html image="36-food-waste/.jpg" alt=""}
  </a>

  <p>
    <a href="https://coffeesock.com/shop-retail/teasock-1" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>

<section>
  <h2>Tea Ball</h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>


<section>
  <h2></h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>


<section>
  <h2></h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>


<section>
  <h2></h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>


<section>
  <h2></h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>


<section>
  <h2></h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>


<section>
  <h2></h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="37-coffee-tea/.jpg" alt=""}
  </a>

  <p>
    <a href="" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong>
  </p>
</section>