---
layout: post
permalink: diy-pot-scrubbers.html
published: true
date: 2021-08-17
category: make
tags: [ dishes, clean, sponge, pot scrubber ]
title: Make a Pot Scrubber
description: pattern and pictures to crochet a pot scrubber from leftover yarn
week: 32
image: 32-dishes/diy-pot-scrubbers.jpg
alt: pot with three crochet pot scrubbers
---

<section>
  <p>
    This week, I looked at the <a href="environmental-impact-of-dish-washing.html" target="__blank">environmental impact of washing dishes</a> and 
    learned a few easy ways to be more environmentally friendly.
    I found <a href="sustainable-dish-soap-options.html" target="__blank">sustainable dish soap</a> and replaced my plastic sponge with a
    <a href="https://packagefreeshop.com/collections/kitchen/products/package-free-sustainable-dish-washing-brush" target="__blank">wooden dish washing brush</a>. 
    I considered getting a copper pot scrubber, but was afraid that would scratch the non-stick interiors 
    of my pots and pans. Instead, I gathered some leftover yarn I've been holding onto to crochet some washable 
    pot scrubbers!
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>Yarn: this doesn't require much yarn, so it's the perfect opportunity to use up some leftovers.</li>
    <li>Crochet hook: whatever size works for your yarn</li>
  </ul>
</section>

<section>
  <h2>Pattern:</h2>
  <h3>Abbreviations:</h3>
  <ul>
    <li><strong>CH</strong> = Chain</li> 
    <li><strong>SC</strong> = Single Crochet</li> 
    <li><strong>DC</strong> = Double Crochet</li> 
    <li><strong>HDC</strong> = Half Double Crochet</li>
    <li><strong>SS</strong> = Slip Stich</li>
    <li><strong>YO</strong> = Yarn Over</li>
    <li><strong>REP</strong> = Repeat</li>
    <li><strong>BOB</strong> = Cluster Bobble  (*YO, insert hook, pull up a loop, YO, pull through two loops. REP from * four more times. Then YO and pull through all six loops on hook.)</li>
  </ul>
</section>

<section>
  <p>
    <strong>Begin:</strong> CH 5, SS in first chain to close circle
  </p>

  <p>
    <strong>Round 1:</strong> CH 1. Work 10 DC into circle. Join with SS.
  </p>

  <p>
    <strong>Round 2:</strong> CH 2. SC 20 - 2 in each stitch. Join with SS.
  </p>

  <p>
    <strong>Round 3:</strong> CH 2. HDC 1. *BOB 1, HDC 2 in the same stitch. REP from * 7 more times. BOB 1. Join with SS.
  </p>
  
  <p>
    <strong>Line 4:</strong> CH 1. SC 24. Join with SS.
  </p>

  <p>
    <strong>Line 5:</strong> CH 2. DC 12 - skipping every other stitch. Join with SS.
  </p>

  <p>
    <strong>Line 6:</strong> CH 1. SC 6 - skipping every other stitch. Join with SS.
  </p>

</section>

<section class="instructions">
  <h2>Let's make a pot scrubber!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="32-dishes/1-chain-five.jpg" alt="" %}
      <p>
        Chain 5.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="32-dishes/2-close-loop.jpg" alt="" %}
      <p>
        Slip stitch in first chain to make a circle.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="32-dishes/3-double-crochet.jpg" alt="" %}
      <p>
        Chain 2. Work 10 Double Crochet into the circle. Join with slip stitch.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="32-dishes/4-single-crochet.jpg" alt="" %}
      <p>
        Chain 1. Work 2 Single Crochet into each stitch, for a total of 20. Join with slip stitch.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="32-dishes/5-bobbles.jpg" alt="" %}
      <p>
        Chain 2. Half Double Crochet 1 *Cluster Bobble, HDC 2. Repeat from * 7 more times. Cluster Bobble 1. Join with slip stitch.
      </p>
    </li>


    <li>
      {% include image-source-set.html image="32-dishes/6-single-crochet.jpg" alt="" %}
      <p>
        Chain 1. Single Crochet 24. Join with slip stitch.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="32-dishes/7-double-crochet.jpg" alt="" %}
      <p>
        Chain 2. Double Crochet 12 - skipping every other stitch. Join with slip stitch.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="32-dishes/8-single-crochet-close.jpg" alt="" %}
      <p>
        Chain 1. Single Crochet 6 - skipping every other stitch. Join with slip stitch. Knot and finish!
      </p>
    </li>

    <li>
      {% include image-source-set.html image="32-dishes/9-finished-scrubbers.jpg" alt="" %}
      <p>
        Use up all your yarn leftovers and make a few washable, reusable pot scrubbers.
      </p>
    </li>

   

  </ol>
</section>