---
layout: post
permalink: recycling-bins.html
published: true
date: 2021-01-05
category: make
tags: [ waste, zero waste, garbage, trash, recycling, curbside ]
title: "Make the Change: Recycling Bins"
description: Step by step instructions for how to make recycling bin labels on a Cricut machine.
week: 1
image: 1-curbside-recycling/recycling-bins.jpg
alt: plastic metal glass and paper recycling bins in a pantry
---

<section>
  <p>
    This week I made easy to understand recycling bins! 
  </p>

  <p>My township offers a single stream curbside recycling program, which means I can put all of my 
    recyclables in one bin. <a href="/week-1-wishful-recycling.html" targt="_blank">This does not mean
    that everything can be recycled.</a> 
    My husband and I will likely be able to remember our local requirements, but I wanted to make sure 
    everyone else entering our home can easily navigate our recycling set up. 
  </p>
</section>

<section>
  <h2>Let's make some recycling bins</h2>
  <p> 
    I bought four small trash cans from Lowes for about $5 each and made labels with some sticky permanent vinyl sheets
    I already had. You can use ANY kind of container for this...cardboard boxes, storage bins, buckets...just make sure 
    it's big enough to hold your recyclables.
  </p>

  <p>
    These instructions are specifically for Cricut users, but you definitely don't need a Cricut to make cute labels. 
    You could print them out and tape them up, make your own stencils, or simply write with a paint pen. The most 
    important thing is that your recycling bins are clearly labeled for everyone using them. I've included the images 
    I used to make my stickers, in case you'd like to be twinsies.
  </p>
</section>

<section>
  <h2>What you'll need</h2>
  <ul>
    <li>One Bin for Every Recycling Category</li>
    <li>Permanent Adhesive Vinyl (I used oranged, yellow, green and light blue)</li>
    <li>Standard Grip Mat</li>
    <li>Transfer Tape or Masking Tape</li>
    <li>A Weeder Tool (a toothpick would work just as well) or Tweezers</li>
    <li>Label Images - Download my four sticker designs here:
      <a href="assets/img/1-curbside-recycling/glass-recycling-bin.jpg" download>Glass</a>,
      <a href="assets/img/1-curbside-recycling/metal-recycling-bin.jpg" download>Metal</a>,
      <a href="assets/img/1-curbside-recycling/paper-recycling-bin.jpg" download>Paper</a>, and
      <a href="assets/img/1-curbside-recycling/plastic-recycling-bin.jpg" download>Plastic</a>
    </li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-upload-image.jpg" alt="computer screen shot of uploading an image" %}
      <p>First, you'll upload the image you would like use. Make sure you remove the negative space. If you're 
        using mine, that would be all of the white areas.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-size-image.jpg" alt="computer screen shot of sizing an image" %}
      <p>Size the image to fit on your intended surface. I made mine 5" wide, which by default made them about 5" tall. </p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-cricut-cut.jpg" alt="cricut machine cutting vinyl" %}
      <p>Make sure the image is set to "Linetype: Cut" and "Fill: No Fill", then click "Make It". You'll choose "Vinyl" as the 
        material and follow the steps on your screen.</p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-remove-background.jpg" alt="vinyl negative space being removed" %}
      <p>Cut out your image so you have a smaller area to work with and remove the vinyl from the negative space.</p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-use-pick.jpg" alt="small vinyl background areas being removed with a tool" %}
      <p>Use a weeder, toothpick or tweezers to help remove the smaller areas.</p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-transfer-paper.jpg" alt="transfer tape being applied to vinyl image" %}
      <p>Cut your transfer tape or masking tape to fit your project size and tape over the vinyl. Tiny Waste Pro Tip: I used 
        one piece of transfer tape for all four bins.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-pull-image.jpg" alt="vinyl image being removed from background" %}
      <p>Pull the tape away from the vinyl backing, making sure the vinyl sticks to the tape.</p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-place-image.jpg" alt="vinyl image shown on recycling bin" %}
      <p>Line up the vinyl on your intended surface. Make note so all bins have the same placement.</p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-remove-transfer-tape.jpg" alt="transfer tape being removed from vinyl image" %}
      <p>Slowly remove the transfer tape, making sure the vinyl stays on the bin.</p>
    </li>

    <li>
      {% include image-source-set.html image="1-curbside-recycling/MTC1-finish.jpg" alt="completed look at paper recycling image on trash can" %}
      <p>Step back and admire your work, then teach everyone in your house how to start using your very clearly
        labeled bins!
      </p>
    </li>
  </ol>
</section>
