---
layout: post
permalink: how-to-make-clothes-drying-rack.html
published: true
date: 2021-07-13
category: make
tags: [  ]
title: How to Make a Fold-up Clothes Drying Rack
description: 
week: 27
image: 27-energy/.jpg
alt: 
---

<section>
  <p>
    This week, while researching<a href="environmental-impact-of-the-electricity-system.html" target="__blank">
    the environmental impact of our electricity system</a>, I learned that my clothes dryer is 
    the second highest energy consuming appliance in my home, after the refrigerator. 
  </p>

  <p>
    This is a very easy project that I was able to complete while six months pregnant. 
    The materials cost less than $20.
  </p>
</section>

<section>
  <h2>What you'll need:</h2>

  <h3>Materials</h3>
  <ul>
    <li>2 6ft 1X4 boards. I used common wood from Home Depot, which cost roughly $3 per board.</li>
    <li>3 6ft 3/8" dowel rods</li>
    <li>4 1 1/2" corner braces with screws</li>
    <li>2 1 1/2" hinges with screws</li>
    <li>2 #10 hooks</li>
    <li>2 #210 eyes</li>
    <li>2 lengths of 2ft chain</li>
    <li>2 2" screws to attach drying rack to wall</li>
  </ul>

  <h3>Tools</h3>
  <ul>
    <li>Drill</li>
    <li>3/8" drill bit</li>
    <li>Phillips bit</li>
    <li>Pliars</li>
    <li>Sandpaper or sanding block</li>
    <li>Saw. Most home improvement stores will cut the boards for you and offer the use of a hand saw for dowel rods.</li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="27-electricity/1-cut-wood.jpg" alt="" %}
      <p>
        Cut your 1x4s into 2 3ft pieces and 3 2ft pieces. Cut each dowel in half, making 6 2ft pieces.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/2-measure-holes.jpg" alt="" %}
      <p>
        On the wide side of one of your 3ft boards, measure about 5 1/16" from the end.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/3-mark-all-holes.jpg" alt="" %}
      <p>
        Continue to measure and mark every 5 1/16" down the length of the board. You should have 
        a total of six marks. This will not be a 
        perfectly even splitXXXX, but as long as your dowels are evenly spaced, it's fine.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/4-drill-holes.jpg" alt="" %}
      <p>
        Stack your 3ft boards and using a 3/8" drill bit, drill holes at every mark.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/5-sand.jpg" alt="" %}
      <p>
        Give everything a quick sanding, especially where you've just drilled the holes. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/6-attach-top.jpg" alt="" %}
      <p>
        Attach the end of one 3ft board to the side of one 2ft board at a 90 degree angle. 
        The screws should go into the 2ft board. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/7-add-corner-braces.jpg" alt="" %}
      <p>
        As you attach the boards, add your corner braces.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/8-attach-bottom.jpg" alt="" %}
      <p>
        Attach the next 2ft board to the other end of your 3ft board. Add corner brace.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/9-attach-side.jpg" alt="" %}
      <p>
        Make sure your holes align properly, then attach the other 3ft board, completing the frame. 
        Your frame should not be wider that 2ft. Add corner braces
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/10-detach-side.jpg" alt="" %}
      <p>
        Unscrew and detach the 3ft board you just added, leaving the corner braces attached to the top and bottom pieces.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/11-add-dowels.jpg" alt="" %}
      <p>
        Insert a dowel into each hole. You may need to take them with a hammer.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/12-reattach-side.jpg" alt="" %}
      <p>
        Reattach the other 3ft side pieces, carefully lining up each dowel and tapping into place.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/13-reattach-corner-braces.jpg" alt="" %}
      <p>
        Reattach the corner braces. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/14-add-hinges.jpg" alt="" %}
      <p>
        Line up your final 2ft board with the bottom 2ft piece and attach with hinges.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/15-add-screw-eyes.jpg" alt="" %}
      <p>
        On your top piece, add a screw eyes just inside the frame. Use pliars to tighten.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/16-add-chain.jpg" alt="" %}
      <p>
        Add one length of chain to screw eye. You may need pliars to loosen and tighten the screw eye.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/17-attach-other-chain.jpg" alt="" %}
      <p>
        Repeat steps 15 and 16 on the other end of your top 2ft board.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/18-screw-hooks.jpg" alt="" %}
      <p>
        Now your drying rack is ready to be mounted. Attach your screw eyes to the wall, making sure you 
        drill into the studs. They should be level.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/19-screw-into-wall.jpg" alt="" %}
      <p>
        Center and rest the top of your fram on the screw hooks, then screw the bottom-most panel into the wall. 
        Again, making sure you are drilling into studs. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricity/20-finished-rack.jpg" alt="" %}
      <p>
        Your drying rack is now complete and can be let down at various angles by adjusting the chain.
      </p>
    </li>
  </ol>
</section>

<section>
  <p>
    
  </p>
</section>