---
layout: post
permalink: how-to-make-face-scrub.html
published: true
date: 2021-05-26
category: make
tags: [ soap, face wash, face scrub ]
title: 
description: 
week: 21
image: 21-face-wash/.jpg
alt:
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<section>
  <ol>
    <li>
      {% include image-source-set.html image="21-face-wash/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="21-face-wash/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="21-face-wash/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="21-face-wash/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="21-face-wash/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>