---
layout: post
permalink: low-waste-tea-and-coffee-options.html
published: false
date: 2021-08-30
category: options
tags: [ ]
title: 10 Low Waste Options for Your Caffeine Fix
description: 
week: 34
image: 34-coffee-tea/coffee-tea-options.jpg
alt: 
---


<section>
  <p>
    environmental-impact-of-coffee-and-tea.html
    make-reusable-coffee-filter.html
  </p>
</section>

 <!-- 1 -->
<section>
  <h2>Coffee Sock</h2>
  <a class="border:none" href="https://coffeesock.com/shop-retail/basket" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/coffee-sock.jpg" alt="" %}
  </a>

  <p>
    <a href="https://coffeesock.com/shop-retail/basket" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> $13 for two filters.
  </p>
</section>

 <!-- 2 -->
<section>
  <h2>Reusable K Cup Coffee Filters</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/coffee-essentials/products/zulay-reusable-k-cups-coffee-filters-4-pack" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/zulay-k-cup-filter.jpg" alt="" %}
  </a>

  <p>
    <a href="https://www.zulaykitchen.com/collections/coffee-essentials/products/zulay-reusable-k-cups-coffee-filters-4-pack" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> 4 pack for $15.99
  </p>
</section>

 <!-- 3 -->
<section>
  <h2>French Press</h2>
  <a class="border:none" href="https://www.bodum.com/us/en/french-press?___store=us_en&p=3" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/bodum-french-press.jpg" alt="bodum brand french press" %}
  </a>

  <p>
    <a href="https://www.bodum.com/us/en/french-press?___store=us_en&p=3" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> Bodum French Presses start at $10 for a 3 cup press.
  </p>
</section>

 <!-- 4 -->
<section>
  <h2>Moka Pot</h2>
  <a class="border:none" href="https://www.target.com/p/bialetti-mocha-express-aluminum-espresso-maker/-/A-84150718?preselect=84150719#lnk=sametab" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/bialetti-moka-pot.jpg" alt="bialetti brand moka pot" %}
  </a>

  <p>
    <a href="https://www.bialetti.com/us_en/coffee-makers/moka.html" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> Bialetti Moka Pots start at $26 for a 1 cup pot.
  </p>
</section>

 <!-- 5 -->
<section>
  <h2>Percolator</h2>
  <a class="border:none" href="https://stansport.com/stainless-steel-percolator-coffee-pot-9-cups-276-9/" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/stansport-percolator.jpg" alt="" %}
  </a>

  <p>
    <a href="https://stansport.com/stainless-steel-percolator-coffee-pot-9-cups-276-9/" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> Stansport 9 cup percolators are $38.99.
</section>

 <!-- 6 -->
<section>
  <h2>Stainless Steel Coffee Filter</h2>
  <a class="border:none" href="https://www.bedbathandbeyond.com/store/product/medelco-8-12-cup-permanent-basket-filter/1047078369?keyword=coffee%20filter" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/permanent-coffee-filter.jpg" alt="" %}
  </a>

  <p>
    Stainless Steel Coffee Filters come in a variety of shapes and sizes to suit your coffee brewing needs. 
    Whether you require a traditional basket filter or a cone shaped pour over filter, there is a stainless 
    steel version available. You may have to do a little searching to find which model is best for your machine, 
    but since these filters can last a lifetime, they are well worth the time. And since they typically cost 
    about $10, you're likely to save money in the long run.
  </p>

  <p>
    <strong>Price:</strong> The prices vary depending on the brand, but they start at $8 per filter.
  </p>
</section>

 <!-- 7 -->
<section>
  <h2>Tea Sock</h2>
  <a class="border:none" href="https://coffeesock.com/shop-retail/teasock-1" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/tea-sock.jpg" alt="" %}
  </a>

  <p>
    <a href="https://coffeesock.com/shop-retail/teasock-1" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> $16 for two tea socks.
  </p>
</section>

 <!-- 8 -->
<section>
  <h2>Tea Ball</h2>
  <a class="border:none" href="https://packagefreeshop.com/collections/kitchen/products/stainless-steel-tea-ball-spoon" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/tea-ball.jpg" alt="" %}
  </a>

  <p>
    <a href="https://packagefreeshop.com/collections/kitchen/products/stainless-steel-tea-ball-spoon" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> $4 for one tea ball.
  </p>
</section>

 <!-- 9 -->
<section>
  <h2>Stainless Steel Tea Filter</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/coffee-essentials/products/zulay-large-stainless-steel-tea-filter-for-loose-tea-reusable-tea-strainer-for-loose-tea-with-fine-mesh" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/zulay-tea-filter.jpg" alt="" %}
  </a>

  <p>
    <a href="https://www.zulaykitchen.com/collections/coffee-essentials/products/zulay-large-stainless-steel-tea-filter-for-loose-tea-reusable-tea-strainer-for-loose-tea-with-fine-mesh" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> $10.99 per filter
  </p>
</section>

 <!-- 10 -->
 <section>
  <h2>Paper Tea Filters</h2>
  <a class="border:none" href="https://buyifyoucare.com/products/short-tea-fsc-certified-filters" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/paper-tea-filters.jpg" alt="" %}
  </a>

  <p>
    <a href="https://buyifyoucare.com/products/short-tea-fsc-certified-filters" target="__blank"></a>
  </p>

  <p>
    <strong>Price:</strong> $6.79 for 100 Tea Filters.
  </p>
</section>



