---
layout: post
permalink: make-reusable-sheet-mask.html
published: false
date: 2021-05-05
category: make
tags: [ sheet mask, moisturize, spa ]
title: How to Make a Reusable Sheet Mask
description: Step-by-step tutorial for making resuable cloth sheet mask plus three serum recipes.
week: 18
image: 18-lotion/
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What you'll need for the mask:</h2>
  <ul>
    <li><a href="natural-vs-synthetic.html" target="__blabnk">>Natural fabric</a, about the size of a sheet of paper. Think old bed sheet, stained blouse, or fabric remnant.</li>
    <li>Chalk, pencil, or marker to trace pattern</li>
    <li>Scissors</li>
    <li>Sewing machine or serger for finishing edges</li>
    <li>Free sheet mask pattern. Click here to download.</li>
  </ul>
</section>

<section>
  <h2></h2>
</section>

<section class="instructions">
  <h2>Let's make a sheet mask!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="18-lotion/1-cut-pattern.jpg" alt="" %}
      <p>
        
      </p>
    </li>
    
    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>