---
layout: post
permalink: sustainable-dish-soap-options.html
published: true
date: 2021-08-16
category: options
tags: [ dishes, dish detergent ]
title: 10 Sustainable Dish Soap Options
description: List of low-waste, environmentally friendly dish detergent options
week: 32
image: 32-dishes/dish-soap-options.jpg
alt: hand washing a fork under running water in a sink
excerpt_separator: <!--more-->
---

<section>
  <p>
    This week, after learning about the <a href="environmental-impact-of-dish-washing.html" target="__blank">
    environmental impact of washing dishes</a>, I'm trying to greenify the way I clean up in the kitchen. First, 
    I replaced my nasty plastic sponges with a compostable wooden <a href="https://packagefreeshop.com/collections/kitchen/products/package-free-sustainable-dish-washing-brush" target="__blank">
    Dish Washing Brush</a>. Now, I'm looking for a low-waste, environmentally-friendly dish soap. <!--more-->
  </p>
 
  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>

<section>
  <h2>Meliora Dish Block</h2>
  <a class="border:none" href="https://meliorameansbetter.com/collections/homecleaning/products/plastic-free-dish-soap?aff=63" target="__blank">
    {% include image-source-set.html image="32-dishes/meliora-dish-soap.jpg" alt="meliora brand dish soap block" %}
  </a>
  
  <p>
    <a href="https://meliorameansbetter.com/collections/homecleaning/products/plastic-free-dish-soap?aff=63" target="__blank">
    Meliora's Dish Block</a> a naturally-derived soap bar that eliminates the need for bottles all together. It comes in a concentrated 
    mass that suds up when activated with a wet scrub brush. Choose between Lemon or Unscented. All Meliora 
    producs are cruelty-free.
  </p>

  <p>
    <strong>Price:</strong>  $9.99 for a 7 oz bar or $28.49 for a three pack.
  </p>

  <p>
    <em>Use code TINYWASTE at checkout for 10% off your order.</em>
  </p>
</section>

<section>
  <h2>Blueland Dish Soap Powder</h2>
  <a class="border:none" href="https://www.blueland.com/products/dish-soap-starter-set" target="__blank">
    {% include image-source-set.html image="32-dishes/blueland-dish-soap.jpg" alt="blueland brand glass bottle and dish soap tablets" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.blueland.com/products/dish-soap-starter-set" target="__blank">Blueland Dishwasher Tablets</a> 
    are  made from natural or naturally-derived ingredients. They are 100% plastic-free and come in compostable packaging. 
    All Blueland products are cruelty-free. 
  </p>

  <p>
    <strong>Price:</strong> $20 for 16oz of dish powder and shaker bottle. Or you can get 16oz refill packs at 
    1 for $10, 2 for $18, 3 for $24.
  </p>
</section>

<section>
  <h2>Ethique Dishwashing Concentrate</h2>
    <a class="border:none" href="https://ethique.com/products/dishwashing-liquid-concentrate-for-general-cleaning" target="__blank">
    {% include image-source-set.html image="32-dishes/ethique-dish-soap.jpg" alt="ethique brand dish soap concentrate bar next to orange peel" %}
  </a>
  
  <p>
    <a  href="https://ethique.com/products/dishwashing-liquid-concentrate-for-general-cleaning" target="__blank">
    Ethique Dishwashing Concentrate</a> is a 100% naturally-derived bar that dissolves in boiling water to make 
    a liquid dishwashing solution. Ethique products are cruelty-free, plastic-free, and come in compostable packaging.
    Ethique is also committed to planting a tree for every order placed.
  </p>

  <p>
    <strong>Price:</strong> $7.50 for one concentrate bar which makes 17.65oz of dishwashing liquid.
  </p>
</section>

<section>
  <h2>No Tox Life Dish Block</h2>
  <a class="border:none" href="https://notoxlife.com/collections/zero-waste-low-waste/products/dish-block" target="__blank">
    {% include image-source-set.html image="32-dishes/no-tox-life-dish-soap.jpg" alt="no tox life band of dish soap bar" %}
  </a>
  
  <p>
    <a href="https://notoxlife.com/collections/zero-waste-low-waste/products/dish-block" target="__blank">
    No Tox Life</a> is a small, mother and daughter owned operations that makes plastic-free, toxin-free 
    products in small batches. The dish washing block is biodegradable, septic-safe, and frangrance-free. 
    All No Tox Life products are vegan and cruelty-free.
  </p>

  <p>
    <strong>Price:</strong>  $7.98 for a 6 oz bar or $22.98 for a 22.9 oz bar.
  </p>
</section>

<section>
  <h2>Grove Co. Dish Soap</h2>
  <a class="border:none" href="https://www.grove.co/catalog/product/high-performance-dish-soap/?clickid=0Xs17PTVQxyLU1VwUx0Mo37TUkBRXTVxW3HmTo0&irgwc=1&utm_source=Impact&utm_campaign=acq-2385421&utm_medium=partnership&utm_term=Online%20Tracking%20Link&iruser=1&offer=perpartnerproduct" target="__blank">
    {% include image-source-set.html image="32-dishes/grove-co-dish-soap.jpg" alt="grove collaborative brand dish soap in metal bottle" %}
  </a>
  
  <p>
    <a href="https://www.grove.co/catalog/product/high-performance-dish-soap/?clickid=0Xs17PTVQxyLU1VwUx0Mo37TUkBRXTVxW3HmTo0&irgwc=1&utm_source=Impact&utm_campaign=acq-2385421&utm_medium=partnership&utm_term=Online%20Tracking%20Link&iruser=1&offer=perpartnerproduct" target="__blank">
    Grove Co.</a> is a great option for anyone looking to keep a liquid dishwashing solution. It is biodegradable 
    with 98% plant-based ingredients and comes in a recyclable aluminum bottle. You can choose between three options: 
    Free & Clear, Lavender & Thyme, and Lemon & Eucalyptus. All Grove Co. products are cruelty-free and are available 
    online and in Target stores.
  </p>

  <p>
    <strong>Price:</strong> $4.95 for a 16 oz bottle.
  </p>
</section>

<section>
  <h2>Castile Soap</h2>
  <a class="border:none" href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    {% include image-source-set.html image="32-dishes/castile-dish-soap.jpg" alt="bottle, jug, and vat of castile soap" %}
  </a>
  
  <p>
    <a href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
      Castile Soap</a> is a natural, vegetable oil based soap that makes for the mother of all multi-purpose cleaners. 
      It can be used as body wash, pet shampoo, garden pesticide, and of course, dish soap. You can find castile 
      soap online and in many grocery stores, but <a href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
      Bulk Apothecary</a> has the lowest prices I've seen.
  </p>

  <p>
    <strong>Price:</strong> $3.95 for a 16 oz bottle, $19.95 for one gallon, $74.95 for four gallons.
  </p>
</section>

<section>
  <h2>Fillaree Dish Soap</h2>
  <a class="border:none" href="https://fillaree.com/collections/zero-waste-refills/products/clean-plate-club-refill" target="__blank">
    {% include image-source-set.html image="32-dishes/fillaree-dish-soap.jpg" alt="fillaree brand dish soap in nalgene bottle" %}
  </a>
  
  <p>
    <a href="https://fillaree.com/collections/zero-waste-refills/products/clean-plate-club-refill" target="__blank">
    Fillaree Dish Soap</a> is made from naturally-derived ingredients and comes in refillable Nalgene bottles. 
    You can either ship your bottles back to be refilled, or bring it to a <a href="https://fillaree.com/pages/contact-us"  target="__blank">
    local refill station</a>.
  </p>

  <p>
    <strong>Price:</strong> $25 for a 32 oz refillable bottle.
  </p>
</section>

<section>
  <h2>Nellie's Dishwasher Powder</h2>
  <a class="border:none" href="https://nelliesclean.com/shop/dish-powder/" target="__blank">
    {% include image-source-set.html image="32-dishes/nellies-dishwasher-powder.jpg" alt="nellies brand dishwasher powder in metal tin" %}
  </a>
  
  <p>
    <a href="https://nelliesclean.com/shop/dish-powder/" target="__blank">Nellie's Dishwasher Powder</a> is 
    a plant-based solution that is biodegradable and septic-safe. It comes in a reusable/recyclable metal tin or 
    large reusable plastic bucket. All of Nellie's cleaning products are cruelty-free. 
    They can be found online or at participating Walmart stores.
  </p>

  <p>
    <strong>Price:</strong> $20 for an 80 scoop tin or $220 for an 1,100 scoop bucket.
  </p>
</section>

<section>
  <h2>Blueland Dishwasher Tablets</h2>
  <a class="border:none" href="https://www.blueland.com/products/dishwasher-refill-packs" target="__blank">
    {% include image-source-set.html image="32-dishes/blueland-dishwasher-tablets.jpg" alt="blueland brand packet of dishwasher tablets" %}
  </a>
  
  <p>
    <a href="https://www.blueland.com/products/dishwasher-refill-packs" target="__blank">Blueland Dishwasher Tablets</a> 
    are  made from natural or naturally-derived ingredients. They are 100% plastic-free and come in compostable packaging. 
    All Blueland products are cruelty-free. 
  </p>

  <p>
    <strong>Price:</strong> 1 pack of 40 tablets for $14.99, 2 packs for $24, 3 packs for $32.
  </p>
</section>

<section>
  <h2>Attitude Dishwasher Tablets</h2>
  <a class="border:none" href="https://attitudeliving.com/collections/dishwashing/products/dishwasher-pouches-26-pouches" target="__blank">
    {% include image-source-set.html image="32-dishes/attitude-dishwasher-tablets.jpg" alt="attitude brand box of dishwasher tablets" %}
  </a>
  
  <p>
    <a href="https://attitudeliving.com/collections/dishwashing/products/dishwasher-pouches-26-pouches" target="__blank">
    Attitude Dishwasher Tablets</a> are biodegradable and made from plant and mineral-based ingredients. 
    All Attitude products are hypoallergenic, vegan, and cruelty-free. And as an added bonus, Attitude has committed 
    to planting a tree for a every product purchased online or in stores.
  </p>

  <p>
    <strong>Price:</strong> $8.95 for 26 tablets.
  </p>
</section>



<section>
  <h3>A note on PVAs:</h3>
  <p>
    There are a handfull of soap pod options, like Tide Pods, that originally seemed like an excellent 
    low-waste alternative to bulky plastic bottles. However, these products all use PVA or PVOH, 
    which is a synthetic plastic polymer. This was thought to be a harmless ingredient, but a 
    <a href="https://www.mdpi.com/1660-4601/18/11/6027" target="__blank">recent study</a> proves otherwise. 
  </p>
  
  <p>
    While PVA does dissolve, it doesn't go away - similar to how salt dissolves in water, but you can still 
    taste it. According to the study, 75% of PVA remains in our waterways and our soil after it dissolves in laundry and 
    dish washing machines. It flows through our wastewater and ultimately ends up back in our environment. 
    Basically, instead of using plastic bottles, we are just sending plastics directly into our waterways.
  </p>

  <h3>Final thoughts:</h3>
  <p>
    I haven't tried everything on this list, but I have been very happy using a combination of the <a href="https://meliorameansbetter.com/collections/homecleaning/products/plastic-free-dish-soap?aff=63" target="__blank">
    Meliora Dish Block</a> and <a href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    Castile Soap</a>. The rest of the week, I'll <a href="diy-no-sew-pot-scrubber.html" target="__blank">make a pot scrubber</a> using 
    fabric scraps and landfill-bound produce. I'll also <a href="letter-for-sustainable-dish-soap.html" target="__blank">write a letter</a>
    asking Dawn to make a non-toxic, low-waste dish soap.
  </p>
</section>