---
layout: post
permalink: reuse-old-toothbrushes.html
published: true
date: 2021-03-30
category: info
tags: [ waste, zero waste, garbage, trash, toothbrush ]
title: 5 Ways to Reuse Your Old Toothbrush
description: A list of 5 ways to reuse your toothbrush before sending it to a landfill
week: 13
image: 13-toothbrush/reuse-toothbrush.jpg
alt: five old toothbrushes 
---

<section>
  <p>
    Before you send that plastic toothbrush to a landfill for the next 500 years, why not get a little more 
    life out it! Here are five great ways to reuse your old toothbrush.
  </p>
</section>

<section> 
  <h2>Pet toothbrush</h2>
  {% include image-source-set.html image="13-toothbrush/pets.jpg" alt="two dogs running in a field" %}
  <p>
    Your pet's dental hygiene is very important, but there's no need to buy a special toothbrush when you 
    can just use your old one.
  </p>
</section>
  
<section>
  <h2>Stain spot brush</h2>
  {% include image-source-set.html image="13-toothbrush/laundry.jpg" alt="laundry basket full of clothes" %}
  <p>
    For the last 14 years, I've worked in the wardrobe department of various films and television shows, so I've 
    done more than my fair share of laundry. One of our most used cleaning tools is a toothbrush, because it 
    works great on small stains like makeup and coffee splatters. 
  </p>
</section>

<section>
  <h2>Eyebrow brush</h2>
  {% include image-source-set.html image="13-toothbrush/makeup.jpg" alt="various make-up brushes" %}
  <p>
    If your toothbrush isn't completely obliterated, but it's still time for a new one, why not add it 
    to your makeup bag and use it as an eyebrow brush! You can disinfect in some antibacterial mouthwash or a 
    a cup of baking soda solution first.
  </p>
</section>

<section>
  <h2>Household cleaning tool</h2>
  {% include image-source-set.html image="13-toothbrush/clean.jpg" alt="woman cleaning windows in her home" %}
  <p>
    Toothbrushes make excellent cleaning tools because they are small and strong. You can use them in just
    about every room, like cleaning tile grout in the bathroom or getting hard to reach places in the kitchen.
  </p>
  </section>

<section>
  <h2>Shoe polish brush</h2>
  {% include image-source-set.html image="13-toothbrush/shoes.jpg" alt="pair of brown leather lace up shoes" %}
  <p>
    Looking to spruce up your kicks? Your old toothbrush can be used as a welt brush to get 
    shoe polish in all the nooks and crannies of your dress shoes.
  </p>
</section>
