---
layout: post
permalink: sustainable-paper-towel-options.html
published: true
date: 2021-08-24
category: options
tags: [ dishes, dish detergent ]
title: 5 Sustainable Paper Towel Options
description: List of low-waste, environmentally friendly paper towel options
week: 33
image: 33-paper-towels/paper-towel-options.jpg
alt: stack of three folded kitchen towels
---

<section>
  <p>
    This week, I'm making an effort to kick my <a href="environmental-impact-of-paper-towels.html" target="__blank">
    paper towel</a> addiction and all the waste it produces. Reusable paper towels not only reduce 
    waste, but they can also save a ton of money. Americans spend<a href="https://www.theatlantic.com/family/archive/2018/12/paper-towels-us-use-consume/577672/" target="__blank">
    $5.7 billion</a> on paper towels every year. One 8 pack roll of single use Bounty paper towels costs $17.99 at Target. 
    On the other hand, most of the products listed below last for months, if not years, and cost less than $20.
  </p>
</section>

<section>
  <h2>Who Gives A Crap Dream Cloths</h2>
  <a class="border:none" href="https://whogivcrap.prf.hn/click/camref:1101ljRsN/[p_id:1101l428385]/destination:https%3A%2F%2Fau.whogivesacrap.org%2Fproducts%2Fdream-cloths" target="__blank">
    {% include image-source-set.html image="33-paper-towels/dream-cloths.jpg" alt="" %}
  </a>

  <p>
    <a href="https://whogivcrap.prf.hn/click/camref:1101ljRsN/[p_id:1101l428385]/destination:https%3A%2F%2Fau.whogivesacrap.org%2Fproducts%2Fdream-cloths" target="__blank">
    Dream Cloths</a> are just swedish dish cloths by a different name. They are extremely absorbant and
    can be rinsed and reused for months. Every week or so, throw them in the washing machine or dishwasher to clean.
    Dream Cloths are made of 100% plant-based materials, so they can go directly 
    into thee compost at end of life. In addition to making a product more sustainable than conventional paper towels,
    Who Gives a Crap donates 50% of profits to charities who work in water, hygiene, and sanitation.
  </p>

  <p>
    <strong>Price:</strong> $12 for three cloths.
  </p>
</section>

<section>
  <h2>Marley's Monsters UNpaper Towels</h2>
  <a class="border:none" href="https://www.marleysmonsters.com/collections/unpaper-towels-napkins" target="__blank">
    {% include image-source-set.html image="33-paper-towels/marleys-monsters-unpaper-towels.jpg" alt="" %}
  </a>

  <p>
    <a href="https://www.marleysmonsters.com/collections/unpaper-towels-napkins" target="__blank">
    Marley's Monster UNpaper Towels</a> are made from 100% cotton flannel and can be washed and reused 
    for years. Once they have been washed and dried a few times, they will shrink to fit perfectly on 
    a standard paper towel roll. To clean, wash and dry normally. Marley's Monsters fabric products are all handmade 
    in Eugene, OR and shipped plastic-free.
  </p>

  <p>
    <strong>Price:</strong> $16 for a 6 pack, $30 for a 12 pack, $54 for a 24 pack
  </p>
</section>

<section>
  <h2>Mioeco Unpaper Towels</h2>
  <a class="border:none" href="https://mioeco.com/" target="__blank">
    {% include image-source-set.html image="33-paper-towels/mioeco-unpaper-towels.jpg" alt="" %}
  </a>
  
  <p>
    <a href="https://mioeco.com/" target="__blank">Mioeco Unpaper Towels</a> are made of unbleached cotton in a 
    carbon neutral, solar powered facility. They are machine washable and quick drying, potentially replaced 
    multiple years' worth of disposable paper towels. 

  </p>

  <p>
    <strong>Price:</strong> $20.95 for a pack of 10 towels.
  </p>
</section>

<section>
  <h2>Wowables</h2>
  <a class="border:none" href="https://www.wowables.tv/collections/all" target="__blank">
    {% include image-source-set.html image="33-paper-towels/wowables-paper-towels.jpg" alt="" %}
  </a>
  
  <p>
    <a href="https://www.wowables.tv/collections/all" target="__blank">Wowables</a> are 
    another washable, reusable paper towel alternative. They are made of wood pulp and cotton, 
    so they are 100% biodegradable and compostable. Wowables are dishwasher and machine safe, making them 
    easy to clean.
  </p>

  <p>
    <strong>Price:</strong> 12 sheet roll for 9.99 or 30 sheet roll for $19.99
  </p>
</section>

<section>
  <h2>Who Gives a Crap Bamboo Paper Towels</h2>
  <a class="border:none" href="https://whogivcrap.prf.hn/click/camref:1101ljRsN/[p_id:1101l428385]/destination:https%3A%2F%2Fau.whogivesacrap.org%2Fproducts%2Fforest-friendly-paper-towels-6-double-length-rolls" target="__blank">
    {% include image-source-set.html image="33-paper-towels/who-gives-a-crap-paper-towels.jpg" alt="" %}
  </a>

  <p>
    <a href="https://whogivcrap.prf.hn/click/camref:1101ljRsN/[p_id:1101l428385]/destination:https%3A%2F%2Fau.whogivesacrap.org%2Fproducts%2Fforest-friendly-paper-towels-6-double-length-rolls" target="__blank">
    Who Gives a Crap</a> paper towels are a perfect starting point for anyone who wants to be more environmentally concious, but 
    isn't quite ready let go of disposable paper towels. Instead of coming from trees, they are made of bamboo and bagasse, 
    a byproduct of sugarcane. These paper towels can be composted after use, as long as they haven't been 
    contaminated by grease or toxic cleaning products. In addition to making a product more sustainable than conventional paper towels,
    Who Gives a Crap donates 50% of profits to charities who work in water, hygiene, and sanitation.
  </p>

  <p>
    <strong>Price:</strong> $18 for 6 rolls.
  </p>
</section>

<section>
  <h3>Final Thoughts:</h3>
  <p>
    I started using <a href="https://whogivcrap.prf.hn/click/camref:1101ljRsN/[p_id:1101l428385]/destination:https%3A%2F%2Fau.whogivesacrap.org%2Fproducts%2Fdream-cloths" target="__blank">Dream Cloths</a>, 
    in the kitchen, as I find they work best with food messes since they are very absorbant and can be rinsed and dry quickly.
    After some trial and error, I've learned they should be left where they can dry, otherwise they get a little slimy. 
    And once they are dirty, throw them in the washing machine or dishwasher to clean.
  </p>

  <p>
    For other surfaces in the house, I use a cloth rag or <a href="diy-reusable-wet-wipes.html" target="__blank">resuable wet wipes</a>. However, 
    I do keep a box of  <a href="https://whogivcrap.prf.hn/click/camref:1101ljRsN/[p_id:1101l428385]/destination:https%3A%2F%2Fau.whogivesacrap.org%2Fproducts%2Fforest-friendly-paper-towels-6-double-length-rolls" target="__blank">
    bamboo paper towels</a> on hand for grosser cleanups like vomit or pet mess. 
  </p>
</section>
