---
layout: post
permalink: diy-reusable-dryer-balls.html
published: false
date: 2021-07-21
category: make
tags: [ laundry, clothing, fast fashion, dryer sheets, dryer balls ]
title: How to Make Reusable Wool Dryer Balls from an Old Sweater
description: 
week: 29
image: 29
alt: 
---

<section>
  <p>
    <a href="environmental-impact-of-laundry.html" target="__blank">the environmental impact of laundry</a>
    <a href="sustainable-detergent-options.html" target="__blank">5 sustainable detergent options</a>
    
  </p>

  <p>
    There are plenty of tutorials for making dryer balls with wool yarn or roving, but I wasn't about to waste 
    a good ball of yarn on this kind of project when there are so many secondhand wool sweaters to be found.
    I'd also like to mention that when I thought of using an old sweater, I searched Pinterest to see if this 
    idea already existed. It did, and thus I was inspired by <a href="https://cleaninup.com/how-to-make-wool-dryer-balls-from-old-sweaters-a-whole-set-for-1-and-no-waste/" target="
    __blank">Cleanin' Up's</a> tutorial when making my own.
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>100% Wool Sweater - Make sure you don't get one that says "washable", since those won't felt properly. 
      I found a moth eaten size large one at Goodwill and it was enough to make six balls. 
    </li>
    <li>Scissors</li>
    <li>Old Panty Hose or Tights</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make some dryer balls!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="29-laundry/1-wash-sweater.jpg" alt="wool sweater on a table" %}
      <p>
        First, wash and dry your wool sweater. You should notice shrinkage and the beginning of the felting process. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/2-remove-cuffs.jpg" alt="hand cutting bottom of sweater off with scissors" %}
      <p>
        Cut off the ribbed parts of your sweater - the cuffs, collar, and bottom. Put them to the side.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/3-cut-sleeves.jpg" alt="wool sweater with sleeves detached" %}
      <p>
        Cut off both sleeves at the seam.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/4-cut-flat.jpg" alt="sweater cut into sections" %}
      <p>
        Cut the top of the sleeves and chest portion of your sweater so that you have three tubes of fabric.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/5-cut-strips.jpg" alt="sweater sleeve cut into strips" %}
      <p>
        Starting with one sleeve, cut half inch strips, leaving about a half inch in tact at the seam. See picture.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/6-cardboard-insert.jpg" alt="cardboard between cut strips" %}
      <p>
        Insert a piece of cardboard into the sleeve so you can easily identify the uncut section.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/7-cut-diagonals.jpg" alt="sweater strips cut into diagonals" %}
      <p>
        Cut strips diagonally, so that you are creating one long piece of fabric. See picture.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/8-cut-tubes.jpg" alt="other parts of sweater cut into strips" %}
      <p>
        Repeat steps 5, 6, and 7 on the other sleeve and the body of the sweater.
      </p>
    </li> 
    
    <li>
      {% include image-source-set.html image="29-laundry/10-spiral-cut.jpg" alt="section of sweater cut into spiral" %}
      <p>
        For the back and chest pieces, cut fabric into a half inch wide spiral.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/9-yarn-pile.jpg" alt="pile of cut up sweater next to scissors" %}
      <p>
        You should have multiple piles of half inch wide "yarn".
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/11-ball-scraps.jpg" alt="hand holding sweater scraps" %}
      <p>
        Use a piece of the ribbed scraps you cut away earlier to start your yarn balls. One cuff is a good size. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/12-start-wrapping.jpg" alt="hand holding sweater scraps with long piece of yarn under thumb" %}
      <p>
        Grab a section of cut "yarn" and use your thumb to hold it in place with the balled up scraps.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/13-wind-yarn.jpg" alt="hand holding ball of wound yarn" %}
      <p>
        Wind your yarn around the scraps, making a ball. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/14-keep-flat.jpg" alt="hand holding bigger ball of wound sweater yarn" %}
      <p>
        As the ball grows, work to keep your yarn flat and not twisted. This will help the balls felt easier later on.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/15-tuck-end.jpg" alt="hand holding ball of wound yarn with one finger pulling up yarn from center of ball" %}
      <p>
        Keep winding until your ball is about three inches in diameter. One sleeve of my sweater was 
        just enough for one ball. Then, pull up a piece of yarn that is a few layer down in the ball.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/16-tie-knot.jpg" alt="hand holding ball of yarn and showing end of yarn tied in knot around another piece of yarn" %}
      <p>
        Tie the end of your yarn in a knot on the piece you've pulled up.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/17-hide-end.jpg" alt="hand holding ball of yarn with finger stuck in the middle" %}
      <p>
        Tuck the end of your yarn into the ball. You will have one complete yarn ball.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/18-wound-balls.jpg" alt="six balls of wound sweater yarn" %}
      <p>
        Continue winding yarn balls until you have five or six  that are all the same size. The men's size Large 
        sweater I used was enough for six balls. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/19-balls-in-hosiery.jpg" alt="hosiery stuffed with ball then knotted and repeated six times" %}
      <p>
        Stuff a ball into the foot of a pair of panty hose or footed tights, then tie a knot. Repeat until all 
        six ball are in the hosiery, as pictured.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/.jpg" alt="" %}
      <p>
        Add the hosiery balls to your next load of hot water laundry and dry on high heat until the balls are completely felted 
        and there are no loose strips. This may take three or four cycles to complete.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry/.jpg" alt="" %}
      <p>
        Throw all five or six balls into the dryer to help your laundry dry quicker. If you'd like a scent, 
        you can add a few drops of essential oil to each ball before drying. 
      </p>
    </li>

  </ol>
</section>