---
layout: post
permalink: 
published: false
date: 2021-08-10
category: make
tags: [  ]
title: 
description: How to Make a Multi-Purpose Cleaning Spray Bottle
week: 
image: 
alt: 
---

<section>
  <p>
   
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>Glass vinegar bottle  </li>
    <li>Spray top from empty cleaning bottle </li>
    <li>Cricut permanent adhesive vinyl</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a multi-purpose cleaner bottle!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

  </ol>
</section>