---
layout: post
permalink: how-to-make-clothes-drying-rack.html
published: false
date: 2021-07-13
category: make
tags: [  ]
title: 
description: How to Make a Fold-up Clothes Drying Rack
week: 27
image: 27-energy/.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What you'll need:</h2>

  <h4>Materials</h4>
  <ul>
    <li>2 6ft 1X4 boards. I used common wood from Home Depot, which cost roughly $3 per board.</li>
    <li>3 ?ft 3/8" dowel rods</li>
    <li>4 1 1/2" corner braces</li>
    <li>2 1 1/2" hinges</li>
    <li>2 #10 hooks</li>
    <li>2 #210 eyes</li>
    <li>4 ft chain</li>
  </ul>

  <h4>Tools</h4>
  <ul>
    <li>Drill</li>
    <li>Sandpaper</li>
    <li>Saw. Most home improvement stores will cut the boards for you</li>
  </ul>
</section>

<section class="instructions">
  <ul>
    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="27-electricty/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ul>
</section>

<section>
  <p>
    
  </p>
</section>
