---
layout: post
permalink: 10-sustainable-body-wash-options.html
published: true
date: 2021-05-18
category: info
tags: [ soap, body wash, shower gel ]
title: 10 Sustainable Body Wash Options
description:
week: 20
image: 20-body-wash/.jpg
alt: 
---

<section>
  <p>
    Most body wash comes in a plastic body, but there are plenty of low-waste alternatives 
    
  </p>
</section>



<section>
  <h2>Dr. Bronner's </h2>
  {% include image-source-set.html image="20-body-wash/dr-bronners-soap.jpg" alt="" %"}
  <p>
    <a href="https://shop.drbronner.com/collections/soaps/products/peppermint-pure-castile-liquid-soap?variant=36027942961316"  target="__blank">liquid</a> gallon for 65
    <a href="https://shop.drbronner.com/collections/soaps/products/peppermint-pure-castile-bar-soap" target="__blank">bar soap</a> 5oz bar for 4.79
  </p>
</section>

<section>
  <h2>Meliora Bar Soap</h2>
  {% include image-source-set.html image="20-body-wash/meliora-bar-soap.jpg" alt="" %"}
  <p>
<a href="https://meliorameansbetter.com/products/bath-and-body-soap-bar?variant=41682179148" target="__blank">bar soap</a> 6 pack for $32.34
  </p>
</section>


<section>
  <h2>Ethique</h2>
  {% include image-source-set.html image="20-body-wash/ethique-bar-soap.jpg" alt="" %"}
  <p>
    <a href="https://ethique.com/collections/bodywash-concentrates" target="__blank">body wash concentrate </a> 1 bar for $9 fills 12 oz bottle
4.23 oz bar for 6 <a href="https://ethique.com/collections/body-cleanse" target="__blank">bar soap</a>
  </p>
</section>

<section>
  <h2>Tom's of Maine</h2>
  {% include image-source-set.html image="20-body-wash/toms-of-maine-bar-soap.jpg" alt="" %"}
  <p>
    <a href="https://www.tomsofmaine.com/products/bath-body/natural-beauty-bar/fresh-eucalyptus" target="__blank">bar soap</a>
    4.79 for 5 oz bar  
  </p>
</section>

<section>
  <h2>No Tox Life</h2>
  {% include image-source-set.html image="20-body-wash/no-tox-life-bar-soap.jpg" alt="" %"}
  <p>
<a href="https://notoxlife.com/collections/zero-waste-low-waste/products/moisturizing-vegan-body-bars-bundle" target="__blank">bar soap</a> 3 3 oz bars for $12
  </p>
</section>

<section>
  <h2>Plaine Products Body Wash</h2>
  {% include image-source-set.html image="20-body-wash/plaine-products-body-wash.jpg" alt="" %"}
  <p>

    <a href="https://www.plaineproducts.com/product/body-wash/" target="__blank">Plaine Products</a> 30 for 16oz bottle
  </p>
</section>

<section>
  <h2>Bathing Culture Body Wash</h2>
  {% include image-source-set.html image="20-body-wash/bathing-culture-body-wash.jpg" alt="" %"}
  <p>
35 for 16 oz
<a href="https://packagefreeshop.com/products/mind-and-body-wash" target="__blank">Bathing Culture</a>
  </p>
</section>

<section>
  <h2>Vermont Soap</h2>
  {% include image-source-set.html image="20-body-wash/vermont-soap-body-soap.jpg" alt="" %"}
  <p>
    <a href="https://shop.vermontsoap.com/product-category/body-wash/lavender-ecstasy-body-wash/" target="__blank">bulk</a> $50 half gallon
    <a href="https://shop.vermontsoap.com/product/12-northern-woods-3-25oz-unboxed-bars/" target="__blank">unboxed bars</a> 12 for 50
    <a href="https://shop.vermontsoap.com/product-category/organic-castile-liquid-soaps/" target="__blank">castile liquid soap</a> 64 oz for 45

  </p>
</section>



<section>
  <h2>The Right to Shower</h2>
  {% include image-source-set.html image="20-body-wash/right-to-shower-body-wash.jpg" alt="" %"}
  <p>
<a href="https://www.therighttoshower.com/product-category/products" target="__blank"></a>
8.99 for 16 oz bottle at walmart
  </p>
</section>



<section>
  <h2>Meow Meow Tweet</h2>
  {% include image-source-set.html image="20-body-wash/meow-meow-tweet-body-wash.jpg" alt="" %"}
  <p>
    <a href="https://meowmeowtweet.com/collections/our-refill-store/products/lavender-orange-hand-body-wash?variant=39294323523651" target="__blank">liquid soap</a> 16 oz for $34
    <a href="https://meowmeowtweet.com/collections/soap/products/grapefruit-mint-bar-soap" target="__blank">bar soap</a>10 for 4.5 oz
  </p>
</section>


<section>
  <h2>Plus Body Wash Sheets</h2>
  {% include image-source-set.html image="20-body-wash/plus-body-wash.jpg" alt="" %}
  <p>
    <a href="https://cleanwith.plus/collections/all" target="__blank">plus sheets</a> 16.50 for 16 sheets
  </p>
</section>



