---
layout: post
permalink: how-to-make-hand-soap.html
published: false
date: 2021-05-13
category: make
tags: [ hand soap ]
title: 
description: 
week: 19
image: 19-hand-soap/
alt:
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<section>
  <ol>
    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt=""}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt=""}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt=""}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt=""}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="19-hand-soap/.jpg" alt=""}
      <p>
        
      </p>
    </li>
  </ol>
</section>