---
layout: post
permalink: diy-hair-care-products.html
published: true
date: 2021-06-23
category: make
tags: [ shampoo, condition, hairspray, hair gel ]
title: DIY Hair Care Products
description: 
week: 25
image: 25-hair/.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>Liquid Shampoo</h2>
  <a href="https://nurturedhomes.com/apple-cider-vinegar-shampoo" target="__blank">
    {% include image-source-set.html image="25-hair/nurtured-homes-shampoo.jpg" alt="three glass jugs full of liquid" %}
  </a>

  <h3>Ingredients:</h3>
  <ul>
    <li>1/2 cup Liquid Castile soap </li>
    <li>1 tbsp raw apple cider vinegar</li>
  </ul>

  <h3>Instructions:</h3>
  <ol>
    <li>Add liquid Castile soap and raw apple cider vinegar to a bow and stir to combine.</li>
    <li>Pour the mixture into a bottle and close tightly with stopper.</li>
    <li>Shake the bottle before each use.</li>
  </ol>

  <h3>How to use:</h3>
  <p>

  </p>
</section>

<section>
  <h2>Dry Shampoo</h2>
  <a href="https://www.acleanbee.com/toxin-free-dry-shampoo/" target="__blank">
    {% include image-source-set.html image="25-hair/a-clean-bee-dry-shampoo.jpg" alt="woman putting dry shampoo in her hair" %}
  </a>
  <h3>Ingredients:</h3>
  <ul>
    <li>1/2 cup Cornstarch or Arrowroot Powder</li>
    <li>Sugar shaker or empty baby powder bottle</li>
    <li>2-5 drops Essential Oil (optional, but highly recommended if your hair gets stinky between showers!)</li>
    <li>Brown Hair: 2 tbsp Unsweetened Cocoa Powder</li>
    <li>Red Hair: 2 tbsp Cinnamon</li>
  </ul>

  <h3>Instructions:</h3>
  <ol>
    <li>Mix ingredients.</li>
    <li>Put mixture in sugar shaker or empty baby powder bottle.</li>
  </ol>

  <h3>How to use:</h3>
  <p>
    Sprinkle mixture on oily roots and brush.
  </p>
</section>

<section>
  <h2>Conditioner</h2>
  <a href="https://alluringsoul.com/diy-olive-oil-hair-conditioner-cream/" target="__blank">
    {% include image-source-set.html image="25-hair/.jpg" alt="" %}
  </a>

  <h3>Ingredients:</h3>
  <ul>
    <li>1 cup shea butter</li>
    <li>1 cup extra virgin olive oil</li>
    <li>1 teaspoon vitamin e oil</li>
    <li>Optional: 30 drops rosemary essential oils</li>
  </ul>

  <h3>Instructions:</h3>
  <ol>
    <li>Make a double boiler by adding a few inches of water in a large saucepan. Heat the pan on low flame.</li>
    <li>In a glass bowl, combine the olive oil, shea butter and place the glass bowl on top of a saucepan. Stir occasionally until everything is melted and combined.</li>
    <li>Now, let this mixture cool until it’s room temperature. It should look creamy, thick and opaque, but don’t let it get solid. Optional: You can place the blender in the fridge for about 20-30 minutes to speed up the process.</li>
    <li>Add vitamin e oil and whip the mixture using your blender when the mixture is at room temperature for a couple of minutes until you get a creamy texture.</li>
    <li>Add essential oil into the creamy olive oil hair conditioner and mix well. Transfer to an airtight jar. Store in a clean and dry place.</li>
  </ol>

  <h3>How to use:</h3>
  <p>
    Scoop cream with your fingers and apply to hair. Rinse or use as live-in conditioner.
  </p>
</section>

<section>
  <h2>Hairspray</h2>
  <a href="https://wholenewmom.com/homemade-alcohol-free-hairspray-that-works/" target="__blank">
    {% include image-source-set.html image="25-hair/.jpg" alt="woman spraying hair with spray bottle" %}
  </a>

  <h3>Ingredients:</h3>
  <ul>
    <li>1.5 cups distilled or filtered water</li>
    <li>4 tsp sugar (more if you'd like a firmer hold)</li>
    <li>Spray bottle</li>
    <li>Optional: 8 drops essential oils</li>
  </ul>

  <h3>Instructions:</h3>
  <ol>
    <li>Heat water in a small saucepan to boiling.</li>
    <li>Add sugar and stir to dissolve.</li>
    <li>Allow to cool. Add essential oils (if using).</li>
    <li>Place in spray bottle. (A funnel comes in handy here).</li>
  </ol>

  <h3>How to use:</h3>
  <p>
    Spray normally and store in refrigerator. 
  </p>
</section>

<section>
  <h2></h2>
  {% include image-source-set.html image="25-hair/.jpg" alt="" %}

  <h3>Ingredients:</h3>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <h3>Instructions:</h3>
  <p>

  </p>

  <h3>How to use:</h3>
  <p>

  </p>
</section>

<section>
  <h2>Hair Gel</h2>
  <a href="https://www.hairbuddha.net/hair-styling-gel/" target="__blank">
    {% include image-source-set.html image="25-hair/.jpg" alt="" %}
  </a>
  
  <h3>Ingredients:</h3>
  <ul>
    <li>1/4 cup flaxseeds</li>
    <li>2 cups water</li>
  </ul>

  <h3>Instructions:</h3>
  <ol>
    <li>Place flaxseeds and water in a pot and bring to a boil. You will notice white froth on the top.</li>
    <li>Now reduce the flame and let it simmer for 5 to 7 minutes. During this time, you need to stir it constantly. While you are doing, you will see the water turn to a gel-like consistency.</li>
    <li>The best way to check if your gel is ready is to do a spoon test. Dip the spoon into the cooking gel and watch it drop back into the pan. If it drops too quickly, it needs some more cooking. When the gel starts to run off the spoon in a string form, then it’s done.</li>
    <li>Strain with a steel strainer whilst it’s still hot (use the back of a spoon to press the gel out of the seeds as best as you can). The gel will get thicker as it cools down.</li> 
  </ol>

  <h3>How to use:</h3>
  <p>

  </p>
</section>
