---
layout: post
permalink: sustainable-bathroom-cleaners.html
published: true
date: 2021-08-03
category: options
tags: [ bathroom, toilet, cleaner ]
title: 10 Sustainable Cleaning Products for your Bathroom
description: 
week: 30
image: 30-bathroom/bathroom-options.jpg
alt: hand using toilet brush in toilet bowl
---

<section>
  <p>

  </p>

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>


<section>

  <h2>Meliora</h2>
  <a class="border:none" href="https://meliorameansbetter.com/collections/homecleaning/products/gentle-home-cleaning-scrub?aff=63" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/meliora-bathroom-cleaner.jpg" alt="two paperboard containers of meliora brand household scrub cleaner" %}
  </a>
  
  <p>
    <a class="border:none" href="https://meliorameansbetter.com/collections/homecleaning/products/gentle-home-cleaning-scrub?aff=63" target="__blank">
    Meliora's </a>
  </p>

  <p>
    <em>Use code TINYWASTE at checkout for 10% off your purchase</em>
  </p>


  <h2>Blueland</h2>
  <a class="border:none" href="https://www.blueland.com/products/bathroom-starter-set" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/blueland-bathroom-cleaner.jpg" alt="blueland brand glass spray bottle next to small cleaning tablets" %}
  </a>
  <p>
    <a href="https://www.blueland.com/products/bathroom-starter-set" target="__blank">Blueland</a>
  </p>


  <h2>Ethique</h2>
  <a class="border:none" href="https://ethique.com/products/multi-purpose-bathroom-spray-concentrate" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/ethique-bathroom-cleaner.jpg" alt="ethique brand bathroom clean box with concetrate bar and orange slice" %}
  </a>
  
  <p>
    <a class="border:none" href="https://ethique.com/products/multi-purpose-bathroom-spray-concentrate" target="__blank">Ethique</a>
  </p>


  <h3>Grove Collaborative</h3>
  <a class="border:none" href="https://www.grove.co/catalog/product/bathroom-cleaning-duo-free-gift/?v=7948&attrsrc=18&attrpg=catalog&attrpos=0" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/grove-co-bathroom-cleaner.jpg" alt="grove collaborative brand glass spray  bottle with 4 small bottles of bathroom cleaner concentrate" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.grove.co/catalog/product/bathroom-cleaning-duo-free-gift/?v=7948&attrsrc=18&attrpg=catalog&attrpos=0" target="__blank">
    Grove Collaborative</a>
  </p>


  <h2>Branch Basics</h2>
  <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/branch-basics-bathroom-cleaner.jpg" alt="branch basics brand cleaners in glass spray bottles" %}
  </a>
  
  <p>
    <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank">
    Branch Basics</a>
  </p>


  <h2>Seventh Generation</h2>
  <a class="border:none" href="https://www.grove.co/catalog/product/zero-plastic-toilet-bowl-cleaner-powder/?v=6537&attrsrc=22&attrpg=catalog&attrpos=19" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/branch-basics-bathroom-cleaner.jpg" alt="seventh generation brand bathroom cleaner in metal tin" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.grove.co/catalog/product/zero-plastic-toilet-bowl-cleaner-powder/?v=6537&attrsrc=22&attrpg=catalog&attrpos=19" target="__blank">
    Seventh Generation</a>
  </p>

  <h2>Castile Soap</h2>
  <a class="border:none" href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/castile-bathroom-cleaner.jpg" alt="bulk apothecary brand castile soap in small bottle, jug, and barrel" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    Castile Soap</a>
  </p>



  <h2>White Vinegar</h2>
    {% include image-source-set.html image="30-bathroom-cleaner/vinegar-bathroom-cleaner.jpg" alt="gallon jug of white vinegar" %}

  <p>
    White Vinegar
  </p>


  <h2>Baking Soda</h2>
    {% include image-source-set.html image="30-bathroom-cleaner/baking-soda-bathroom-cleaner.jpg" alt="arm and hammer brand baking soda" %}
  </a>
  
  <p>
    
  </p>


  <h2></h2>
  <a class="border:none" href="" target="__blank">
    {% include image-source-set.html image="" alt="" %}
  </a>
  
  <p>
    <a class="border:none" href="" target="__blank"></a>
  </p>

</section>


 

<section>
  <a href="diy-toilet-bombs.html" target="__blank">DIY Toilet Bombs</a>
</section>








  
 

 