---
layout: post
permalink: how-to-make-a-rain-barrel.html
published: true
date: 2021-07-07
category: make
tags: [ rain barrel, water ]
title: How to Make a Rain Barrel
description: Conserve water by turning an old trash bin into a rain barrel
week: 26
image: 26-water/
alt: 
---

<section>
  <p>
    Week 26 of our <a href="what-is-tiny-waste.html" target="__blank">Tiny Waste Resolution</a> 
    focused on <a href="importance-of-water-conservation.html" target="__blank">the importance of water conservation</a>. 
    In an effort to cut back on my own water usage, I found multiple ways to <a href="how-to-conserve-water.html" target="__blank">conserve water at 
    home</a>. Most of that list involves easy habit changes around the house, but one suggestion, 
    harvesting rain water, requires a little more effort. So, this week, I "made the change" by 
    turning an outdoor trash can into a rain barrel.
  </p>

  <p>
    If you're not terribly interested in making a rain barrel, you can find them for sale at most 
    home improvement stores like Lowe's and Home Depot. However, the cost for a new on runs
    between $100-$300. This is a relatively easy DIY project and costs about $30 to make. 
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>Large trash can, drum, or barrel with lid. I used a 20 gallon outdoor trash can I found in my garage.
      You can check Facebook Marketplace for a cheap or free bin, or I've seen lidded outdoor trash cans for 
      as low as $15 at <a href="https://www.homedepot.com/p/Rubbermaid-Roughneck-32-Gal-Black-Round-Trash-Can-with-Lid-2008186/100656030" target="__blank">
      Home Depot</a>. 
    </li>
    <li>Insect Screen</li>
    <li>Spigot</li>
    <li>Drill</li>
    <li></li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a rain barrel!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        Start by drilling holes in the lid of your bin
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        Drill a hole the size of your spigot about an inch from the bottom
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        Drill a few small holes around the top perimeter of your bin. This we act as a drain 
        in case the rain barrel reaches max capacity.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        Add an insect screen that covers the top of your bin as well as the drain holes. 
        The purpouse of this is to keep bugs like mosquitos out of the water supply so they 
        cant reproduce in there.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        Attach the spigot to the hole at the base of your bin.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        If your lid does not fasten, you'll need to attach it so that it doesn't fly 
        off in the wind. I did THIS
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        Put the rain barrel up off the ground so that you access the faucet. I wanted my 
        high enough to fit a watering can under, so I put it on a 12" high platform. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        Your rain barrel is complete! Now, you can attach a hose or fill your watering cans with 
        sweet, sweet rain water for your plants.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>