---
layout: post
permalink: how-to-make-soap-satchel.html
published: true
date: 2021-05-19
category: make
tags: [ soap satchel, body wash, shower gel ]
title: 
description: 
week: 20
image: 20-body-wash/.jpg
alt:
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<section>
  <ol>
    <li>
      {% include image-source-set.html image="20-body-wash/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/.jpg" alt="" %}
      <p>

      </p>
    </li>
    
  </ol>
</section>