---
layout: post
permalink: diy-crochet-pot-scrubber.html
published: false
date: 2021-08-17
category: make
tags: [  ]
title: DIY Crochet Pot Scrubber
description: How to Crochet a Pot Scrubber
week: 32
image: 32-dishes/.jpg
alt: 
---

<section>
  <p>
   
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li></li>
    <li></li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make some dryer balls!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="29-laundry.jpg" alt="" %}
      <p>
        
      </p>
    </li>

  </ol>
</section>