---
layout: post
permalink: sustainable-bathroom-cleaners.html
published: true
date: 2021-08-03
category: options
tags: [ bathroom, toilet, cleaner ]
title: 10 Sustainable Cleaning Products for your Bathroom
description: Use this list to find a low-waste, environmentally friendly cleaning solution for your bathroom.
week: 30
image: 30-bathroom-cleaner/bathroom-options.jpg
alt: hand using toilet brush in toilet bowl
---

<section>
  <p>
    This week, I've been learning all about household cleaning products and how they impact the environment. Since <a href="environmental-impact-of-bathroom-cleaners.html" target="__blank">
    bathroom cleaners</a> typically get washed down the drain and into our waterways, I've decided they 
    should be the first to go. While compiling this list of sustainable bathroom cleaners, I looked for 
    low-waste packaging and naturally derived ingredients that wouldn't be harmful to my health or the environment. 
  </p>

  <p>
    I also highly recommend making some <a href="diy-toilet-bombs.html" target="__blank">Toilet Cleaning Bombs</a> to keep your 
    toilet bowl fresh in between deep cleaning sessions!
  </p>

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>


<section>
  <h2>Meliora Gentle Cleaning Scrub</h2>
  <a class="border:none" href="https://meliorameansbetter.com/collections/homecleaning/products/gentle-home-cleaning-scrub?aff=63" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/meliora-bathroom-cleaner.jpg" alt="two paperboard containers of meliora brand household scrub cleaner" %}
  </a>
  
  <p>
    <a class="border:none" href="https://meliorameansbetter.com/collections/homecleaning/products/gentle-home-cleaning-scrub?aff=63" target="__blank">
    Meliora's Gentle Cleaning Scrub</a> is a biodegradable, septic-safe powder perfect for bathroom and kitchen cleaning. 
    It comes in a paperboard and steel container that can be separated and recycled. Choose between unscented 
    and peppermint tea tree scent. All Meliora products are cruelty-free.
  </p>

  <p>
    <strong>Price:</strong> $8.99 for a 12 oz container
  </p>

  <p>
    <strong>Use code TINYWASTE at checkout for 10% off your purchase.</strong>
  </p>
</section>

<section>
  <h2>Blueland Bathroom Tablets</h2>
  <a class="border:none" href="https://www.blueland.com/products/bathroom-starter-set" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/blueland-bathroom-cleaner.jpg" alt="blueland brand glass spray bottle next to small cleaning tablets" %}
  </a>
  <p>
    <a href="https://www.blueland.com/products/bathroom-starter-set" target="__blank">
    Blueland Bathroom Tablets</a> are an innovative solution to our waste problem. Simply add a tablet to 24 oz of water to make 
    an effective spray cleaner. The tablets come in compostable paper wrappers and can be purchased on their website. 
    Blueland cleaners are cruelty-free and made of natural ingredients. 
  </p>

  <p>
    <strong>Price:</strong>  The starter kit includes a reusable glass spray bottle and 3 tablets for $16, while refill tablets start at 
    $6 for a 3 pack.
  </p>
</section>

<section>
  <h2>Ethique Spray Concentrate</h2>
  <a class="border:none" href="https://ethique.com/products/multi-purpose-bathroom-spray-concentrate" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/ethique-bathroom-cleaner.jpg" alt="ethique brand bathroom clean box with concetrate bar and eucalyptus branch" %}
  </a>
  
  <p>
    <a class="border:none" href="https://ethique.com/products/multi-purpose-bathroom-spray-concentrate" target="__blank">
    Ethique's Spray Concentrate</a> is made of 100% naturally derived ingredients and comes in compostable paper packaging. 
    The concentrate comes in bar form and can be mixed with boiling water to make 12 oz of sprayable cleaning solution. 
  </p>

  <p>
    <strong>Price:</strong> $6 for one bar of concentrate.
  </p>
</section>

<section>
  <h2>Grove Collaborative Concentrate</h2>
  <a class="border:none" href="https://www.grove.co/catalog/product/bathroom-cleaning-duo-free-gift/?v=7948&attrsrc=18&attrpg=catalog&attrpos=0" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/grove-co-bathroom-cleaner.jpg" alt="grove collaborative brand glass spray  bottle with 4 small bottles of bathroom cleaner concentrate" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.grove.co/catalog/product/bathroom-cleaning-duo-free-gift/?v=7948&attrsrc=18&attrpg=catalog&attrpos=0" target="__blank">
    Grove Collaborative's</a> bathroom cleaner kit comes with a reusable glass spray bottle, 2 glass bottles of Tub and Tile concentrate, 
    and 2 bottles of Daily Shower Spray concentrate. The concentrate is made using naturally derived ingredients and you can 
    choose between two scents: orange and rosemary or lavender and thyme. 
  </p>

  <p>
    <strong>Price:</strong>  You can purchase the bathroom cleaning kit on their website for $12.95. Grove Co. concentrates
    are also available at Target stores.
  </p>
</section>

<section>
  <h2>Branch Basics Concentrate</h2>
  <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/branch-basics-bathroom-cleaner.jpg" alt="branch basics brand cleaners in glass spray bottles" %}
  </a>
  
  <p>
    <a class="border:none" href="https://branchbasics.com/collections/all#starter-kits" target="__blank">
    Branch Basics</a> offers one biodegradable concentrate for an array of cleaning needs. You simply alter the amount of concentrate 
    depending on what you plan on cleaning.  All Branch Basics products are cruelty-free.
  </p>

  <p>
    <strong>Price:</strong> You can purchase a 32 oz bottle for $49 or a 2 oz trial bottle for $10 on their website.
  </p>
</section>

<section>
  <h2>Seventh Generation Toilet Bowl Cleaner</h2>
  <a class="border:none" href="https://www.grove.co/catalog/product/zero-plastic-toilet-bowl-cleaner-powder/?v=6537&attrsrc=22&attrpg=catalog&attrpos=19" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/seventh-generation-bathroom-cleaner.jpg" alt="seventh generation brand bathroom cleaner in metal tin" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.grove.co/catalog/product/zero-plastic-toilet-bowl-cleaner-powder/?v=6537&attrsrc=22&attrpg=catalog&attrpos=19" target="__blank">
    Seventh Generation's Toilet Bowl Cleaner</a> is a biodegradable powder that comes in a reusable or recyclable metal tin. 
    The powder is mineral and plant-derived, making it an environmentally friendly choice. 
  </p>

  <p>
    <strong>Price:</strong> $10.49 for a 14 oz tin.
  </p>
</section>

<section>
  <h2>Castile Soap</h2>
  <a class="border:none" href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    {% include image-source-set.html image="30-bathroom-cleaner/castile-bathroom-cleaner.jpg" alt="bulk apothecary brand castile soap in small bottle, jug, and barrel" %}
  </a>
  
  <p>
    <a class="border:none" href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    Castile Soap</a> is a natural, vegetable oil based soap that makes for the mother of all multi-purpose cleaners. 
    It can be used as body wash, pet shampoo, garden pesticide, and of course, bathroom cleaner. You can find castile 
    soap online and in many grocery stores, but <a href="https://www.bulkapothecary.com/natures-oil-liquid-castile-soap/" target="__blank">
    Bulk Apothecary</a> has the lowest prices I've seen.
  </p>

  <p>
    <strong>Price:</strong> $3.95 for a 16 oz bottle, $19.95 for one gallon, $74.95 for four gallons.
  </p>
</section>

<section>
  <h2>Distilled White Vinegar</h2>
  {% include image-source-set.html image="30-bathroom-cleaner/vinegar-bathroom-cleaner.jpg" alt="gallon jug of white vinegar" %}

  <p>
    White Vinegar, which you probably already have at home, is a very cheap and very effective cleaner for almost 
    every surface in your home. It cuts through mildew, bacteria, and grime for a natural, environmentally friendly clean. 
    If your pantry isn't already stocked with white vinegar, pick some up the next time your out grocery shopping.
  </p>

  <p>
    <strong>Price:</strong> $3-4 for a gallon jug.
  </p>
</section>

<section>
  <h2>Baking Soda</h2>
  {% include image-source-set.html image="30-bathroom-cleaner/baking-soda-bathroom-cleaner.jpg" alt="arm and hammer brand baking soda" %}
  
  <p>
    Baking soda is a natural, non-toxic product that makes a great, mildly abrasive scrub that dissolves 
    organic compounds like dirt and grease. It can be used to disinfect, Simply sprinkle the baking soda on a damp surface and wipe or 
    scrub with <a href="reuse-old-toothbrushes.html"  target="__blank">an old toothbrush</a>.
  </p>

  <p>
    <strong>Price:</strong>  $1 for a 1lb box.
  </p>
</section>

<section>
  <h2>Citric Acid</h2>
  {% include image-source-set.html image="30-bathroom-cleaner/citric-acid-bathroom-cleaner.jpg" alt="bottle of citric acid powder" %}
  
  <p>
    Citric Acid is an acid compound naturally found in fruits like lemon and pineapple. It 
    kills bacteria, some fungi, and mildew, which makes it an excellent natural sanitizer and 
    disinfectant. You can find citric acid at many grocery stores, often near the canning section.
    Or, just grab a few lemons and scrub away.
  </p>

  <p>
    <strong>Price:</strong> $3-4 for a 7.5 oz jar.
  </p>
</section>
