---
layout: post
permalink: make-reusable-cotton-rounds.html
published: true
date: 2021-06-16
category: make
tags: [ cotton rounds, makeup  ]
title: DIY Reusable Cloth Cotton Rounds
description: 
week: 24
image: 24-makeup/.jpg
alt:
---

<section>
  <p>
    Not feeling very crafty? You can also purchase a set of 20 cotton rounds from <a href="https://www.marleysmonsters.com/collections/facial-body-care/products/20-reusable-3-facial-rounds-shades-of-grey?variant=28485478789" target="__blank">
    Marley's Monsters</a> for $16.
  </p>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="24-makeup/.jpg" alt="" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="24-makeup/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="24-makeup/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="24-makeup/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="24-makeup/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>

