---
layout: post
permalink: low-waste-tea-and-coffee-options.html
published: false
date: 2021-08-30
category: options
tags: [ coffee, tea, caffeine ]
title: 10 Low Waste Options for Your Caffeine Fix
description: 
week: 34
image: 34-coffee-tea/coffee-tea-options.jpg
alt: cup of coffee next to tea pot, spoon, napkin, and glass of water
---


<section>
  <p>
    This week, I learned about the <a href="environmental-impact-of-coffee-and-tea.html" target="__blank">
    environmental impact of my coffee and tea habit</a> over a nice, hot, cuppa. Not only do I need to 
    be more aware of were my coffee beans and tea leaves come from, but I also want to produce less 
    waste with my home brew. So, here are ten sustainable options to help achieve that goal.
  </p>

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>

 <!-- 1 -->
<section>
  <h2>Coffee Sock</h2>
  <a class="border:none" href="https://coffeesock.com/shop-retail/basket" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/coffee-sock.jpg" alt="coffee sock brand cloth coffee filter" %}
  </a>

  <p>
    <a href="https://coffeesock.com/shop-retail/basket" target="__blank">Coffee Socks</a> 
    come multiple shapes and sizes to suit whichever brewing method you prefer.
    They work exactly the same as a regular disposable filter, but can be rinsed and reused 
    over and over again. 
  </p>

  <p>
    <strong>Price:</strong> $13 for two filters.
  </p>
</section>

 <!-- 2 -->
<section>
  <h2>Reusable K Cup Coffee Filters</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/coffee-essentials/products/zulay-reusable-k-cups-coffee-filters-4-pack?ref=1NVBO" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/zulay-k-cup-filter.jpg" alt="four zulay kitchen brand reusable k cup filters next to box" %}
  </a>

  <p>
    <a href="https://www.zulaykitchen.com/collections/coffee-essentials/products/zulay-reusable-k-cups-coffee-filters-4-pack?ref=1NVBO" target="__blank">Reusable K Cup Filters</a> 
    let you keep the ease and convenience of individually brewed coffee without throwing away a plastic 
    cup after every use. Simply fill the cup with your coffee of choice, use normally, then rinse and repeat.
  </p>

  <p>
    <strong>Price:</strong> 4 pack for $15.99
  </p>

  <p>
    <em>Use code TINYWASTE10 for 10% your purchase at <a href="https://www.zulaykitchen.com?ref=1NVBO" target="__blank">Zulay Kitchen</a>.</em>
  </p>
</section>

 <!-- 3 -->
<section>
  <h2>French Press</h2>
  <a class="border:none" href="https://www.bodum.com/us/en/french-press?___store=us_en&p=3" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/bodum-french-press.jpg" alt="bodum brand french press" %}
  </a>

  <p>
    <a href="https://www.bodum.com/us/en/french-press?___store=us_en&p=3" target="__blank">French Press</a> coffee 
    allows you to brew at home without the need for any filters. There are a multitude of brand options 
    available. I've included the link for a Bodum French Press simply because it is affordable and has received 
    consistenly good reviews.
  </p>

  <p>
    <strong>Price:</strong> Bodum French Presses start at $10 for a 3 cup press.
  </p>
</section>

 <!-- 4 -->
<section>
  <h2>Espresso Maker</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/all-products/products/classic-stovetop-espresso-maker?ref=1NVBO" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/zulay-espresso-maker.jpg" alt="zulay kitchen brand espresso maker" %}
  </a>

  <p>
    <a href="https://www.zulaykitchen.com/collections/all-products/products/classic-stovetop-espresso-maker?ref=1NVBO" target="__blank">Espresso Makers</a>
    are a perfect low-waste solution for my espresso lovers, as it requires no additional materials. 
    I've included the link for a Zulay Espresso Maker simply because it is affordable and has received 
    consistenly good reviews.
  </p>

  <p>
    <strong>Price:</strong> Zulay Espresso Makers start at $15.99 for a 3 cup pot.
  </p>

  <p>
    <em>Use code TINYWASTE10 for 10% your purchase at <a href="https://www.zulaykitchen.com?ref=1NVBO" target="__blank">Zulay Kitchen</a>.</em>
  </p>
</section>

 <!-- 5 -->
<section>
  <h2>Percolator</h2>
  <a class="border:none" href="https://stansport.com/stainless-steel-percolator-coffee-pot-9-cups-276-9/" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/stansport-percolator.jpg" alt="stansport brand stainless steel percolator" %}
  </a>

  <p>
    <a href="https://stansport.com/stainless-steel-percolator-coffee-pot-9-cups-276-9/" target="__blank">Percolators</a>
    offer another way to brew cofee without the need for a filter or any additional waste. This Stansport brand 
    percolator brews up 9 cups at a time and even works well on camping excursions.
  </p>

  <p>
    <strong>Price:</strong> Stansport 9 cup percolators are $38.99.
</section>

 <!-- 6 -->
<section>
  <h2>Stainless Steel Coffee Filter</h2>
  <a class="border:none" href="https://www.bedbathandbeyond.com/store/product/medelco-8-12-cup-permanent-basket-filter/1047078369?keyword=coffee%20filter" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/permanent-coffee-filter.jpg" alt="stainless steel mesh coffee filter basket" %}
  </a>

  <p>
    Stainless Steel Coffee Filters come in a variety of shapes and sizes to suit your coffee brewing needs. 
    Whether you require a traditional basket filter or a cone shaped pour over filter, there is a stainless 
    steel version available. You may have to do a little searching to find which model is best for your machine, 
    but since these filters can last a lifetime, they are well worth the time. And since they typically cost 
    about $10, you're likely to save money in the long run.
  </p>

  <p>
    <strong>Price:</strong> The prices vary depending on the brand, but they start at $8 per filter.
  </p>
</section>

 <!-- 7 -->
<section>
  <h2>Tea Sock</h2>
  <a class="border:none" href="https://coffeesock.com/shop-retail/teasock-1" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/tea-sock.jpg" alt="coffee sock brand reusable cloth tea bag" %}
  </a>

  <p>
    <a href="https://coffeesock.com/shop-retail/teasock-1" target="__blank">Tea Socks</a> are a reusable 
    alternative to conventional, disposable tea bags. All you have to do is fill the sock with loose leaf 
    tea, brew normally, then rinse and reuse.
  </p>

  <p>
    <strong>Price:</strong> $16 for two tea socks.
  </p>
</section>

 <!-- 8 -->
<section>
  <h2>Tea Ball</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/all-products/products/tea-ball-infuser?ref=1NVBO" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/zulay-tea-ball.jpg" alt="zulay brand stainless steel tea ball" %}
  </a>

  <p>
    <a href="https://www.zulaykitchen.com/collections/all-products/products/tea-ball-infuser?ref=1NVBO" target="__blank">Tea Balls</a> 
    take the place of disposable tea bags by offering a reusable filter that
    are extremely easy to use and clean. All you have to do is fill with loose leaf tea, screw the lid on, and brew 
    normally. After use, tea leaves can be tossed into your compost and the tea ball can be rinsed to clean.
  </p>

  <p>
    <strong>Price:</strong> $4 for one tea ball.
  </p>

  <p>
    <em>Use code TINYWASTE10 for 10% your purchase at <a href="https://www.zulaykitchen.com?ref=1NVBO" target="__blank">Zulay Kitchen</a>.</em>
  </p>
</section>

 <!-- 9 -->
<section>
  <h2>Stainless Steel Tea Filter</h2>
  <a class="border:none" href="https://www.zulaykitchen.com/collections/coffee-essentials/products/zulay-large-stainless-steel-tea-filter-for-loose-tea-reusable-tea-strainer-for-loose-tea-with-fine-mesh?ref=1NVBO" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/zulay-tea-filter.jpg" alt="zulay brand stainless steel tea filter" %}
  </a>

  <p>
    <a href="https://www.zulaykitchen.com/collections/coffee-essentials/products/zulay-large-stainless-steel-tea-filter-for-loose-tea-reusable-tea-strainer-for-loose-tea-with-fine-mesh?ref=1NVBO" target="__blank">
    Tea Filters</a> are similar to tea balls in that they offer a reusable filtering solution. However, they 
    sit directly on top of your cup or mug instead of being lowered down into it. After use, you can 
    easily dump tea leaves into your compost and rinse to clean. 
  </p>

  <p>
    <strong>Price:</strong> $10.99 per filter
  </p>

  <p>
   <em>Use code TINYWASTE10 for 10% your purchase at <a href="https://www.zulaykitchen.com?ref=1NVBO" target="__blank">Zulay Kitchen</a>.</em>
  </p>
</section>

 <!-- 10 -->
 <section>
  <h2>Paper Tea Filters</h2>
  <a class="border:none" href="https://buyifyoucare.com/products/short-tea-fsc-certified-filters" target="__blank">
    {% include image-source-set.html image="34-coffee-tea/paper-tea-filters.jpg" alt="if you care brand paper tea bags" %}
  </a>

  <p>
    <a href="https://buyifyoucare.com/products/short-tea-fsc-certified-filters" target="__blank">If You Care Tea Bags</a> 
    allow you to hang on to the disposable tea bag without having to worry about the pesky plastic particles 
    found in conventional tea bags. Simply fill with loose leaf tea, brew normally, and compost after use. 
  </p>

  <p>
    <strong>Price:</strong> $6.79 for 100 Tea Filters.
  </p>
</section>

<section>
  <h3>What I Use:</h3>
  <p>
    When it comes to brewing tea, I've found that the <a href="https://www.zulaykitchen.com/collections/all-products/products/tea-ball-infuser?ref=1NVBO" target="__blank">tea ball</a> 
    is easiest for me to use and clean. As for coffee, I imagine I'll eventually switch over to a French Press, but for now, 
    I've made a <a href="make-reusable-coffee-filter.html" target="__blank">reusuable cloth coffee filter</a> 
    that works with my trusty drip coffee machine. 
  </p>
</section>



