---
layout: post
permalink: diy-sunscreen-bar.html
published: true
date: 2021-06-02
category: make
tags: [  ]
title: DIY
description: 
week: 22
image: 22-sunscreen/.jpg
alt:
---

<section>
  <p>

  </p>
</section>

<section class="instructions">
  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>

    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>

  <li>
    {% include image-source-set.html image="22-sunscreen/.jpg" alt="" %}
    <p>
      
    </p>
  </li>
</section>