---
layout: post
permalink: make-reusable-sheet-mask.html
published: true
date: 2021-05-05
category: make
tags: [ sheet mask, moisturize, spa ]
title: How to Make a Reusable Sheet Mask
description: Step-by-step tutorial for making resuable cloth sheet mask plus three serum recipes.
week: 18
image: 18-lotion/
alt: 
---

<section>
  <p>
    Sheet masks are my ultimate luxury pampering item. My sister and I have girls' nights in 
    that revolve around those goopy little XXX. <a href="environmental-impact-of-lotion.html" target="__blank">This week</a> 
    I was horrified to discover that my beloved sheet masks are not only packaged in plastic, but the 
    masks themselves are plastic. So, even though they are typically only a few dollars a pop 
    and rarely bigger than a XXX, they add up in both monetary and landfill-bound waste.
  </p>
</section>

<section>
  <h2>Sheet mask recipes:</h2>
  <h3>Rice Water Brightening Mask</h3>
  <p>
    Ingredients
  </p>
    <ul>
      <li>1/2 cup of rice</li>
      <li>1 cup water</li>
    </ul>
    <p>
      Rice
    </p>

  <h3>Green Tea </h3>
    <ul>
      <li>Green Tea (ditch the plastic tea bag and brew your loose leaf tea in a tea ball)</li>
      <li></li>
    </ul>
    <p>
      Both oral consumption and topical application of <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3569896/" target="__blank">
      green tea</a> protect against inflammation. To use it for your sheet mask, steep in 
      boiling water for 5 minutes, let cool, and add your reusable mask. Place the tea and mask in a 
      refrigerator for 20-30 minutes then apply the mask to your face for 20-30 minutes.
    </p>

  <h3>Cucumber Mint Refreshing Mask</h3>
    <ul>
      <li>1/2 cucumber</li>
      <li>Peppermint tea (ditch the plastic tea bag and brew your loose leaf tea in a tea ball)</li>
    </ul>
    <p>
      
    </p>
</section>

<section>
  <h2>What you'll need to make the mask:</h2>
  <ul>
    <li><a href="natural-vs-synthetic.html" target="__blabnk">>Natural fabric</a>, about the size of a sheet of paper. Think old bed sheet, stained blouse, or fabric remnant.</li>
    <li>Chalk, pencil, or marker to trace pattern</li>
    <li>Scissors</li>
    <li>Sewing machine or serger for finishing edges</li>
    <li>Free sheet mask pattern. Click here to download.</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a sheet mask!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="18-lotion/1-cut-pattern.jpg" alt="" %}
      <p>
        
      </p>
    </li>
    
    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="18-lotion/.jpg" alt="" %}
      <p>
        
      </p>
    </li>
  </ol>
</section>