---
layout: post
permalink: make-beeswax-wrap.html
published: false
date: 2021-09-08
category: make
tags: [  ]
title: How to Make A Beeswax Wrap
description:
week: 37
image: 37-baking/make-beeswax-wraps.jpg
alt: glass jar, bowl, and casserole dish on counter with homemade beeswax wraps over tops. cookbook and flour jar blurry in background
---

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li>Cotton fabric - I used leftover quilting fabric.</li>
    <li>Scissors</li>
    <li>Beeswax Pellets or shavings</li>
    <li>Olive oil</li>
    <li>Iron</li>
    <li>Parchment paper</li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="35-baking/1-cut-fabric.jpg" alt="multiple squares of fabric with bowls and jar placed top" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/2-sprinkle-beeswax.jpg" alt="beeswax pellets spread out over fabric square" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/3-add-olive-oil.jpg" alt="hand squirting small bottle of olive oil on square of fabric" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/4-iron.jpg" alt="hand ironing parchemtn paper over fabric" %}
      <p>
        
      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/5-all-melted.jpg" alt="parchment paper over fabric" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/6-peel-away-parchment.jpg" alt="parchment paper being peeled away from fabric" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/7-hand-dry.jpg" alt="wooden clip hanger holding square of fabric" %}
      <p>

      </p>
    </li>

    <li>
      {% include image-source-set.html image="35-baking/8-finished-wrap.jpg" alt="glass jar on counter with homemade beeswax wrap over top. cookbook and flour jar blurry in background" %}
      <p>

      </p>
    </li>

</section>
