---
layout: post
permalink: sustainable-face-soap-options.html
published: true
date: 2021-05-25
category: info
tags: [ soap, face wash, face scrub ]
title: 5 Sustainable Face Wash Options
description:
week: 21
image: 21-face-wash
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>Dr. Bronner's</h2>
  {% include image-source-set.html image="21-face-wash/dr-bronners-bar-soap.jpg" alt="" %"}
  <p>
    <a href="https://shop.drbronner.com/products/citrus-pure-castile-bar-soap" target="__blank"></a>
  </p>
</section>

<section>
  <h2>Ethique</h2>
  {% include image-source-set.html image="21-face-wash/ethique-face-bar.jpg" alt="" %}
  <p>
    
  </p>
</section>

<section>
  <h2>Plaine Products</h2>
  {% include image-source-set.html image="21-face-wash/plaine-products-face-wash.jpg" alt="" %}
  <a href="https://www.plaineproducts.com/product/face-wash/" target="__blank"></a> 15 for 2.5 oz bottle
  <p>
    
  </p>
</section>

<section>
  <h2>Lush</h2>
  {% include image-source-set.html image="21-face-wash/lsuh-face-bar.jpg" alt="" %}
  <p>
    <a href="https://www.lushusa.com/face/cleansers-scrubs/movis/9999908288.html" target="__blank"></a> 13.95
  </p>
</section>

<section>
  <h2>Brooklyn Made Natural</h2>
  {% include image-source-set.html image="21-face-wash/brooklyn-made-natural-face-bar.jpg" alt="" %}
  <a href="https://packagefreeshop.com/collections/all/products/rose-charcoal-facial-soap" target="__blank">Bar</a> $10
  <p>
    
  </p>
</section>

<section>
  <h2>Meow Meow Tweet Face Cleanser</h2>
  {% include image-source-set.html image="21-face-wash/meow-meow-tweet-cleanser.jpg" alt="" %}
  <a href="https://meowmeowtweet.com/products/face-cleanser" target="__blank"></a> 25 for 3.8 oz bottle
  <p>
    
  </p>
</section>

<section>
  <h2>No Tox Life Facial Bar</h2>
  {% include image-source-set.html image="21-face-wash/no-tox-life-face-bar.jpg" alt="" %}
  <a href="https://notoxlife.com/collections/zero-waste-low-waste/products/onyx-charcoal-detox-facial-bar" target="__blank"></a>11.98
  <p>
    
  </p>
</section>

<section>
  <h2>Klei Powder-to-Foam Cleanser</h2>
  {% include image-source-set.html image="21-face-wash/klei-face-powder.jpg" alt="" %}
  <p>
    <a href="https://kleibeauty.com/collections/foaming-powder-cleanser" target="__blank">Klei</a> 34 for 4 oz
  </p>
</section>

<section>
  <h2>Little Seed Farm Face and Body Bar</h2>
  {% include image-source-set.html image="21-face-wash/.jpg" alt="" %}
  <p>
    <a href="https://littleseedfarm.com/collections/face-lips/products/rose-geranium-facial-healing-organic-soap" target="__blank"></a>
  </p>
</section>

<section>
  <h2>Dirty Hippie</h2>
  {% include image-source-set.html image="21-face-wash/.jpg" alt="" %}
  <p>
    <a href="https://www.etsy.com/listing/231161183/rejuvenating-cleansing-nectars-tea-tree?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=dirty+hippie+cosmetics&ref=sr_gallery-1-23&from_market_listing_grid_organic=1" target="__blank"></a>
  </p>
</section>

