---
layout: post
permalink: how-to-make-a-rain-barrel.html
published: true
date: 2021-07-07
category: make
tags: [ rain barrel, water ]
title: How to Make a Rain Barrel
description: Conserve water by turning an old trash bin into a rain barrel
week: 26
image: 26-water/10-finished-barrel.jpg
alt: homemade rain barrel in corner of garden
---

<section>
  <p>
    Week 26 of our <a href="what-is-tiny-waste.html" target="__blank">Tiny Waste Resolution</a> 
    focused on <a href="importance-of-water-conservation.html" target="__blank">the importance of water conservation</a>. 
    In an effort to cut back on my own water usage, I found multiple ways to <a href="how-to-conserve-water.html" target="__blank">conserve water at 
    home</a>. Most of that list involves easy habit changes around the house, but one suggestion, 
    harvesting rain water, requires a little more effort. So, this week, I "made the change" by 
    turning an outdoor trash can into a rain barrel.
  </p>

  <p>
    If you're not terribly interested in making a rain barrel, you can find them for sale at most 
    home improvement stores like Lowe's and Home Depot. However, the cost for a new one runs
    between $100-$300. This is a relatively easy DIY project and costs about $30 to make. 
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    {% include image-source-set.html image="26-water/recycling-bin.jpg" alt="20 gallon lidded recycling bin on table" %}
    <li>Large trash can, drum, or barrel with lid. I used a 20 gallon outdoor trash can I found in my garage.
      You can check Facebook Marketplace for a cheap or free bin, or I've seen lidded outdoor trash cans for 
      as low as $15 at <a href="https://www.homedepot.com/p/Rubbermaid-Roughneck-32-Gal-Black-Round-Trash-Can-with-Lid-2008186/100656030" target="__blank">
      Home Depot</a>. 
    </li>
    <li>Insect Screen - I found an old window screen that was being discarded, but you can also purchase a roll of insect screen at most home improvement screens.</li>
    <li>3/4" Boiler Drain Valve</li>
    <li>3/4" Bulkhead Union with EPDM washer fitting</li>
    <li>Jigsaw - I borrowed one from my neighbor. A box cutter will also cut through the plastic, but is significantly harder and more time consuming.</li>
    <li>Scissors</li>
    <li>Sharpie</li>
    {% include image-source-set.html image="26-water/needed-hardware.jpg" alt="brass boiler drain valve and bulkhead union pieces" %}
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a rain barrel!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="26-water/1-trace-bulkhead.jpg" alt="hand holding bulkead union on recycling bin while other hand traces a circle around it" %}
      <p>
        Start by placing the threaded part of your bulkhead about 1 1/2" from the bottom of your bin and tracing it with a sharpie. See picture for clarification.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/2-insert-bulkhead.jpg" alt="bulkhead put through cut whole from inside the bin" %}
      <p>
        Cut out the traced circle with a jigsaw or box cutter, then push the bulkead through from the inside of the bin.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/3-screw-on-fitting.jpg" alt="hand screwing bulkhead fitting pieces together" %}
      <p>
        Screw on the other part of the bulked union. This should be as tight as possible to prevent leakage.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/4-attach-spigot.jpg" alt="hand screwing spigot into bulkhead fitting" %}
      <p>
        Screw the spigot into the bulkead union. Again, make this as tight as possible.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/5-cut-lid.jpg" alt="hand using jigsaw to cut hole in recycling bin lid" %}
      <p>
        Cut a big circle in the top of the bin's lid.  
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/6-trace-lid.jpg" alt="recycling bin lid on window screen while hand traces circle around it" %}
      <p>
        Place the lid on top of your insect screen and trace a circle that is about 2" bigger than the lid.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/7-cut-screen.jpg" alt="scissors cutting traced circle on window screen" %}
      <p>
        Use scissors to cut out the insect screen.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/8-place-screen-atop-bin.jpg" alt="cut insect screen on top of recying bin" %}
      <p>
        Place insect screen on top of the recycling bin.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/9-attach-lid.jpg" alt="lid with hole cut in it on top of insect screen and attached to recycling bin" %}
      <p>
        Attach the lid to secure the insect screen.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="26-water/10-finished-barrel.jpg" alt="homemade rain barrel in corner of garden" %}
      <p>
        Your rain barrel is complete, but you'll need to put it on a platform so you have room to 
        fill a watering can. My platform was just a stack of scrap wood that I found.
      </p>
    </li>
  </ol>
</section>

