---
layout: post
permalink: make-reusable-coffee-filter.html
published: true
date: 2021-08-30
category: make
tags: [  ]
title: How to Make a Reusable Coffee Filter
description:
week: 34
image: 34-coffee-tea/make-coffee-filter.jpg
alt: 
---

<section>
  <p>
    Since <a href="environmental-impact-of-coffee-and-tea.html" target="__blank">coffee and tea</a> are consistent 
    part of my daily consumption, I want to make sure I'm being as sustainable as possible. I found plenty of  
    <a href="low-waste-tea-and-coffee-options.html" target="__blank">low-waste products</a> for brewing both coffee and tea.
    I started buying loose leaf tea, which I brew with a tea ball, but I didn't really 
  </p>
</section>

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li>Unbleached Cotton Fabric</li>
    <li>Serger or Sewing Machine</li>
    <li>Scissors</li>
    <li><a href="https://tiny-waste-images.s3.amazonaws.com/34-coffee-tea/coffee-filter-pattern.jpg" target="__blank" download>Pattern</a>- it's free! Click to download.</li>
    <li>Chalk or something to trace pattern onto fabric</li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="34-coffee-tea/1-trace-pattern.jpg" alt="Piece of cotton fabric with shield shape patterns chalked on it - the shields are medieval style, not captain america" %}
      <p>
        Using the free pattern I've attached above, trace 8 shield shapes onto your fabric.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-coffee-tea/2-cut-pattern.jpg" alt="fabric cut into 8 shield shape pieces" %}
      <p>
        Cut out all 8 shapes. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-coffee-tea/3-double-layers.jpg" alt="four stacks of two shield shape fabric pieces" %}
      <p>
        This will be a double layer filter, so put your cut pieces in stacks of two.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-coffee-tea/4-stack-four.jpg" alt="hand holding four shield shape fabric pieces together" %}
      <p>
        Line up two sets together, you should have four identical pieces.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-coffee-tea/5-serge-one-side.jpg" alt="shield shape fabric piece serged on one of the curved sides" %}
      <p>
        Serge or zig zag stich one curved side of the stack.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-coffee-tea/6-two-sets.jpg" alt="two sets of shield shape fabric pieces that have been sewn together" %}
      <p>
        Repeat steps 4 and 5 with the other cut pieces. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-coffee-tea/7-stack-sides.jpg" alt="" %}
      <p>
        Line up the curved edges of your two sewn pieces. See picture.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-coffee-tea/8-serge-together.jpg" alt="" %}
      <p>
        Serge or zig zag stitch the curved edges together. It should have a bowl shape when you are finished.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="34-coffee-tea/9-serge-edges.jpg" alt="" %}
      <p>
        Finish off the straight edges with a serger or a zig zag stitch.
      </p>
    </li>
  </ol>
</section>

<section>
  <h3>How to use your coffee filter</h3>
  <p>
    First, wash and dry your filter. Use it the same way you would a normal filter, only after the 
    coffee is finished, rinse until the water runs clear and hang to dry.
  </p>
</section>