---
layout: post
permalink: make-your-own-deodorant.html
published: true
date: 2021-04-21
category: make
tags: [ waste, zero waste, garbage, trash, deodorant, diy ]
title: Make Your Own Deodorant
description: Step by step tutorial on how to use an old deodorant tube and all natural ingredients to make your own deodorant.
week: 16
image: 16-deodorant/make-deodorant.jpg
alt:  homemade deodorant in a jar next to used deodorant tube and surrounded by wildflowers
---

<section>
  <p>
    There are plenty of <a href="sustainable-deodorant-options.html" target="__blank">sustainable deodorant options</a> 
    available to us, but if you're on a budget, the prices might feel a little out of reach. According to an article in <a href="https://www.smithsonianmag.com/history/how-advertisers-convinced-americans-they-smelled-bad-12552404/?c=y&story=fullstory" target="__blank">
    Smithsonian Magazine</a>, Americans spend $18 billion a year on deodorant. Fortunately, 
    deodorant is very easy to make at home with a few simple ingredients. You can put your deodorant into 
    a empty deodorant tube or keep it in a jar and apply with your fingers or a popsicle stick. 
  </p>
   
  <p>
    Please note that 
    if this is your first time using natural deodorant, it may take a few weeks for your body to adjust. 
    Until then, you might want to apply it multiple times throughout the day to keep your underarms smelling fresh.  
  </p>
</section>

<section>
  <h2>What you'll need</h2>
  <ul>
    <li>4 tbsp Coconut oil or shea butter</li>   
    <li>1 tpsp Cornstarch or arrowroot powder</li>
    <li>1 tbsp Baking soda</li>
    <li>Optional: essential oils. I use eucalyptus for it's antiseptic properties and lavender for it's antifungal properties. Lemongrass, cinnamon, and peppermint are also good options.</li>
    <li>Empty deodorant tube - this recipe will fill a 2.6 oz tube.</li>
    <li>Bowl or jar for mixing</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make some deodorant!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="16-deodorant/1-coconut-oil.jpg" alt="jar of coconut oil next to measuring cup and tabelspoon" %}
      <p>
        Scoop 4 tablespoons of coconut oil into a mixing cup. If hard, soften in microwave for 30 seconds.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="16-deodorant/2-eucalyptus.jpg" alt="eucalyptus essential oil being put into measuring cup with coconut oil" %}
      <p>
        Optional step: Add 10 drops of eucalyptus essential oil to coconut oil.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="16-deodorant/3-lavender.jpg" alt="lavender essential oil being put into measuring cup with coconut oil" %}
      <p>
        Optional step: Add 10 drops of lavender essential oil to coconut oil mixture.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="16-deodorant/4-mix-oils.jpg" alt="fork mixing oil mixture in measuring cup" %}
      <p>
        Mix the coconut oil and essential oils until smooth.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="16-deodorant/5-cornstarch.jpg" alt="tablespoon of cornstarch being added to oil mixture" %}
      <p>
        Add 1 tablespoon of corn starch (or arrowroot powder) to oil mixture.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="16-deodorant/6-baking-soda.jpg" alt="tablespoon of baking soda being added to mixutre" %}
      <p>
        Add 1 tablespoon of baking soda to oil mixture. Mix well.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="16-deodorant/7-wax-paper.jpg" alt="top view of wax paper oval put into empty deodorant tube" %}
      <p>
        Cut a small oval of wax paper to fit the inside of your empty deodorant tube. This will keep 
        your mixture from pouring through the bottom. Turn the dial so that it is completely retracted.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="16-deodorant/8-cream-in-tube.jpg" alt="deodorant tube now full of new deodorant mixture" %}
      <p>
        Pour or scoop your deodorant mixture into the empty tube and smooth with finger. 
    </li>

    <li>
      {% include image-source-set.html image="16-deodorant/9-finished-deodorant.jpg" alt="deodorant cream hardened and pushed up from edge of deodorant tube" %}
      <p>
        Let harden overnight or pop in the refrigerator for quicker results. Use the same way you would regular deodorant!
      </p>
    </li>
  </ol>
</section>
