---
layout: post
permalink: sustainable-hair-care-options.html
published: true
date: 2021-06-17
category: options
tags: [ shampoo, conditioner, hairspray ]
title:  Sustainable Hair Care Options
description: 10 Makeup brands that offer both sustainable packaging and ingredients
week: 25
image: 25-hair/.jpg
alt: 
---

<section>
  <p>

  </p>
</section>

<section>
  <h2>Plaine Products</h2>
  <a href="https://www.plaineproducts.com/ref/tinywaste/" target="__blank">
    {% include image-source-set.html image="25-hair/plaine-products-shampoo.jpg" alt="plaine products brand shampoo in aluminum bottle" %}
  </a>  

  <p>
    <strong>What they offer:</strong> Liquid Shampoo, Conditioner, and Hair Repair
  </p>

  <p>
    <strong>Price:</strong> Shampoo and Conditioner are $30 for a 16 oz bottle. Hair Repair is $15 for a 2.5 oz bottle.
  </p>

  <p>
    <a href="https://www.plaineproducts.com/ref/tinywaste/" target="__blank">Plaine Products</a>
  </p>

  <p>
    Use code TINYWASTE at checkout for 20% off your purchase!
  </p>

</section>

<section>
  <h2>Meow Meow Tweet</h2>
  <a href="https://meowmeowtweet.com/collections/hair" target="__blank">
    {% include image-source-set.html image="25-hair/meow-meow-tweet-shampoo.jpg" alt="meow meow tweet brand shampoo powder in aluminum bottle" %}
  </a>

  <p>
    <strong>What they offer:</strong> Shampoo Powder, Shampoo Bars, Conditioner Powder, Conditioner Bars
  </p>

  <p>
    <strong>Price:</strong> Bars are $12 for 4.5 oz. Powder is $24 for 2 oz.
  </p>

  <p>
    <a href="https://meowmeowtweet.com/collections/hair" target="__blank">Meow Meow Tweet</a>
  </p>
</section>

<section>
  <h2>Unwrapped Life</h2>
  <a href="https://unwrappedlife.com/collections/hair-1" target="__blank">
    {% include image-source-set.html image="25-hair/unwrapped-life-shampoo.jpg" alt="unwrapped life brand shampoo and conditioner bar" %}
  </a>

  <p>
    <strong>What they offer:</strong> Shampoo and Conditioner Bars for babies, children, and adults.
  </p>

  <p>
    <strong>Price:</strong> $13 - $21 per bar.
  </p>

  <p>
    <a href="https://unwrappedlife.com/collections/hair-1" target="__blank">Unwrapped Life</a>
  </p>
</section>

<section>
  <h2>Lovett Sundries</h2>
  <a href="https://lovettsundries.com/collections/hair" target="__blank">
    {% include image-source-set.html image="25-hair/lovett-sundries-shampoo.jpg" alt="lovett-sundries brand shampoo and conditioner bars" %}
  </a>

  <p>
    <strong>What they offer:</strong> Shampoo Bars, Dry Shampoo, Pomade, Styling Clay, and Texturizing Salt Spray
  </p>

  <p>
    <strong>Price:</strong> $10 - $16 
  </p>

  <p>
    <a href="https://lovettsundries.com/collections/hair" target="__blank">Lovett Sundries</a>
  </p>
</section>

<section>
  <h2>Lush Cosmetics</h2>
  <a href="https://www.lushusa.com/products/naked/" target="__blank">
    {% include image-source-set.html image="25-hair/lush-shampoo.jpg" alt="lush brand shampoo bar in a set of hands" %}
  </a>
  <p>
    <strong>What they offer:</strong> Shampoo and Conditioner Bars
  </p>

  <p>
    <strong>Price:</strong> $12 - $14
  </p>

  <p>
    <a href="https://www.lushusa.com/products/naked/" target="__blank">Lush Cosmetics</a>
  </p>
</section>

<section>
  <h2>Lumi</h2>
  <a href="https://lumibasics.com/collections/hair/products/dry-shampoo?variant=28118454141005" target="__blank">
    {% include image-source-set.html image="25-hair/lumi-shampoo.jpg" alt="three paperboard containers of lumi brand dry shampoo" %}
  </a>

  <p>
    <strong>What they offer:</strong> Dry Shampoo Powder
  </p>

  <p>
    <strong>Price:</strong> $8 - $14
  </p>

  <p>
     <a href="https://lumibasics.com/collections/hair/products/dry-shampoo?variant=28118454141005" target="__blank">Lumi</a>
  </p>
</section>

<section>
  <h2>by Humankind</h2>
  <a href="https://byhumankind.com/" target="__blank">
    {% include image-source-set.html image="25-hair/by-humankind-shampoo.jpg" alt="by humankind brand shampoo in aluminum bottles" %}
  </a>
  <p>
    <strong>What they offer:</strong> Liquid Shampoo and Conditioner, Shampoo and Conditioner Bars
  </p>

  <p>
    <strong>Price:</strong> $15 - $24
  </p>

  <p>
    <a href="https://byhumankind.com/" target="__blank">by Humankind</a>
  </p>
</section>

<section>
  <h2>Ethique</h2>
  <a href="https://ethique.com/collections/hair" target="__blank">
    {% include image-source-set.html image="25-hair/ethique-shampoo.jpg" alt="ethique brand shampoo bar with ginger, orange slices, and cinnamon sticks" %}
  </a>
  <p>
    <strong>What they offer:</strong> Shampoo and Conditioner Bars and Concentrates
  </p>

  <p>
    <strong>Price:</strong> $8.50 - $17
  </p>

  <p>
    <a href="https://ethique.com/collections/hair" target="__blank">Ethique</a>
    <a href="https://ethique.com/collections/haircare-concentrates" target="__blank">Concentrates</a>
  </p>
</section>

<section>
  <h2>No Tox Life</h2>
  <a href="https://notoxlife.com/collections/zero-waste-low-waste/products/shampoo-daily-seaweed" target="__blank">
    {% include image-source-set.html image="25-hair/no-tox-life-shampoo.jpg" alt="no tox life brand shampoo bar on bamboo dish" %}
  </a>
  <p>
    <strong>What they offer:</strong> Shampoo and Conditioner Bars
  </p>

  <p>
    <strong>Price:</strong> $7 - $16
  </p>

  <p>
    <a href="https://notoxlife.com/collections/zero-waste-low-waste/products/shampoo-daily-seaweed" target="__blank">No Tox Life</a>
  </p>
</section>

<section>
  <h2>Fat and the Moon</h2>
  <a href="https://www.fatandthemoon.com/collections/mane-care" target="__blank">
    {% include image-source-set.html image="25-hair/fat-and-the-moon-shampoo.jpg" alt="fat and the moon brand shampoo in aluminum bottle" %}
  </a>

  <p>
    <strong>What they offer:</strong> Liquid Shampoo and Conditioner, Dry Shampoo, Shampoo and Conditioner Bars, Salt Spray
  </p>

  <p>
    <strong>Price:</strong> $14 - $32
  </p>

  <p>
    <a href="https://www.fatandthemoon.com/collections/mane-care" target="__blank">Fat and the Moon</a>
  </p>
</section>