---
layout: post
permalink: environmental-impact-of-ziploc-bags.html
published: true
date: 2021-09-13
category: info
tags: [ ziploc, plastic bags, sandwich bags ]
title: The Environmental Impact of ZipLoc Bags
description: 
week: 36
image: 36-ziplocs/ziplocs-wwh.jpg
alt: tomatoes, clementines and asparagus in ziploc bags
excerpt_separator: <!--more-->
---
<section>
  <p>
    Plastic storage bags, often referred to by well known brand name, ZipLoc, are a staple in 
    in nearly every household. In fact, most estimates show that the average American family uses 
    <a href="http://www.designlife-cycle.com/ziploc-bags" target="__blank">500 ZipLoc bags</a> every year. <!--more-->
    Though commonly found in the kitchen, they are equally useful around the home and on the go. 
    Unfortunately, their convenience comes at a price. So, this week, we are swapping these disposable baggies for something that won't inevitably end 
    up in our landfills or waterways.

  </p>

  <p>
    <em>Disclosure: This post contains affiliate links, meaning, at no additional cost to you, I may
    earn a small commission if you click through and make a purchase.</em>
  </p>
</section>

<section>
  <h2>Why are ZipLoc bags a problem?</h2>
  <p>
    Plastic storage bags are made of either low-density polyethylene (or LDPE) or high-density polyethylene (or HDPE) that fall under the category of plastic film. 
    According to the <a href="https://www.epa.gov/facts-and-figures-about-materials-waste-and-recycling/frequent-questions-regarding-epas-facts-and" target="__blank">EPA</a>, 
    4.2 million tons of plastic bags and films were generated in 2018 and 3.04 millions tons 
    ended up in a landfill. Like all plastics, they are made from crude oil, a non-renewable resource, which 
    is problematic for two reasons: manufacturing generates significant pollution and the product is not biodegradable. 
    As <a href="https://sciencing.com/why-are-plastic-bags-so-bad-for-the-environment-5005999.html" target="__blank">Sciencing.com</a>
    put it, "they are difficult to produce and nearly impossible to get rid of once produced".    
  </p>

  <p>
    Most plastic bags take a minimum of 400 hundred years to break down. If that fact doesn't get your blood boiling, 
    think of it this way...every plastic bag that's ever been sent to a landfill still exists. It gets worse. According 
    to <a href="http://natural-environment.com/blog/2008/01/10/environmental-impact-of-plastic-bags/" target="__blank">
    Natural-Environment.com</a>, plastic bags cause over 100,000 sea turtle and other marine animal deaths every year 
    when animals mistake them for food.
</section>



<section>
  <h2>Are plastic storage bags recyclable?</h2>
  <p>
    Technically, most plastic zipper storage bags are recyclable. However, since they are considered a plastic 
    film, they should never go into your curbside recycling, as they can clog the machinery at recycling facilities.
    Many grocery stores offer plastic film recycling drop offs near the front doors, but the bags should be clean and contain 
    no food remnants. If yours doesn't, <a href="https://www.plasticfilmrecycling.org/recycling-bags-and-wraps/find-drop-off-location/" target="__blank">
    use this link to search for a drop off location in your area</a>. Or, consider sending them to 
    <a href="https://www.terracycle.com/en-US/collection-programs?query=plastic%20sandwich%20bags" target="__blank">
    Terracycle</a> for recycling.
  </p>
</section>

<section>
  <h2>What can I use instead?</h2>
  <p>
    For some of us, plastic storage bags are a necessity. So, here are 5 sustainable alternatives:
  </p>
</section>

<section></section>

<section>
  <a class="border:none" href="https://stasher.thj6q2.net/c/2886444/912800/10721" target="_top" id="912800"><img src="//a.impactradius-go.com/display-ad/10721-912800" border="0" alt="" width="590" height="590"/></a><img height="0" width="0" src="https://imp.pxf.io/i/2886444/912800/10721" style="position:absolute;visibility:hidden;" border="0" /> </a>
 
  <a class="border:none" href="https://stasher.thj6q2.net/c/2886444/1077341/10721" target="__blank"><h3>Stasher Bags</h3></a>
    <p>
      Stasher Bags are silicone storage bags that are hands down the most effective replacement for plastic storage bags. 
      They are not only reusable, but they are infinitely more versatile than ZipLoc bags since
      They can be safely used in your dishwasher, freezer, microwave, oven, and even on your stove top! They come in 
      a wide variety of colors and sizes to suit whatever your needs may be. 
    </p>

    <p>Read my next post for <a href="25-ways-to-use-your-stasher-bag.html" target="__blank">
      25 Ways to Use Your Stasher Bag</a>.
    </p>
</section>

<section></section>

<section>
    <a class="border:none" href="https://www.marleysmonsters.com/collections/sandwich-bags/products/snack-bag-linen?variant=13630970396756" target="__blank">
      {% include image-source-set.html image="36-ziplocs/marleys-monsters-sandwich-bags.jpg" alt="marleys monsters brand cloth snack bags" %}
    </a>

    <a href="https://www.marleysmonsters.com/collections/sandwich-bags/products/snack-bag-linen?variant=13630970396756" target="__blank"><h3>Marley's Monsters Cloth Snack Bags</h3></a>
    <p>
      These cloth snack bags are perfect for packing a lunch and can be purchased with a cotton or waterproof liner.
    </p>
</section>

<section></section>

<section>
    <a class="border:none" href="https://buyifyoucare.com/products/sandwich-bags-fcs-certified" target="__blank">
      {% include image-source-set.html image="36-ziplocs/if-you-care-sandwich-bags.jpg" alt="if you care brand box of paper sandwich bags" %}
    </a>
    <a href="https://buyifyoucare.com/products/sandwich-bags-fcs-certified" target="__blank"><h3>If You Care Paper Sandwich Bags</h3> </a>
    <p>
      If disposable bags are a must, consider switching to these paper sandwich bags which can be composted after use.
    </p>
</section>

<section></section>

<section>
  <a class="border:none" href="diy-beeswax-wrap-sandwich-bag.html" target="__blank">
    {% include image-source-set.html image="36-ziplocs/make-snack-bag.jpg" alt="hand holding homemade beeswax snack bag in front of Utah's Delicate Arch" %}
  </a>

  <a  href="diy-beeswax-wrap-sandwich-bag.html" target="__blank"><h3>DIY Beeswax Snack and Sandwich Bags</h3></a>
    <p>
      If you're feeling crafty, you can whip up a few beeswax wrap sandwich bags using cotton fabric remnants. 
    </p>
</section>

<section></section>

<section>
  {% include image-source-set.html image="36-ziplocs/glass-jars.jpg" alt="various sizes of glass jars holding different pantry staples like beans and rice" %}
  <h3>Upcycled Glass Jars</h3>
    <p>
      If you prefer a low budget ZipLoc swap, start saving those empty peanut butter and jelly jars. 
      Most jars have an air tight seal, making them a great option for food storage. Heck, you could 
      even reuse lidded plastic containers like the ones that sour cream and take out soups come in.
    </p>
</section>
