---
layout: post
permalink: diy-beeswax-wrap-sandwich-bag.html
published: false
date: 2021-09-15
category: make
tags: [ ziploc, sandwich bag ]
title: How to Make a Reusable Beeswax Sandwich Bag
description: Use this step-by-step tutorial to make a reusable sandwich bag for on the go lunches.
week: 36
image: 36-ziplocs/make-snack-bag.jpg
alt: hand holding sandwich size cloth bag in front of Utah's Delicate Arch
---

<section>
  <p>
    This week we've taken a look at the <a href="environmental-impact-of-ziploc-bags.html" target="__blank">
    environmental impact of ZipLoc Bags</a> and dicovered that though convenient, single-use 
    plastic bags are contaminating our waterways and living in our landfills for hundreds of years.
    While <a href="25-ways-to-use-your-stasher-bag.html" target="__blank">Stasher bags</a> offer an 
    excellent sustainable replacement, the upfront cost can add up quickly. 
  </p>

  <p>
    If a collection of Stasher bags isn't really in the budget right now, or you're just 
    feeling crafty, you can make this resuable beeswax wrap sandwich bag instead! I made some before 
    my husband and I took a cross country road trip to Utah and we would both happy with 
    how well they kept our PB & J's when we brought them on our hikes.
  </p>

</section>

<section>
  <h2>What You'll Need:</h2>
  <ul>
    <li>7" x 18" <a href="make-beeswax-wrap.html" target="__blank">Beeswax Wrap</a></li>
    <li>Button</li>
    <li>Elastic</li>
    <li>Sewing notions</li>
  </ul>
</section>

<section class="instructions">
  <ol>
    <li>
      {% include image-source-set.html image="36-ziplocs/1-make-beeswax-wrap.jpg" alt="rectangular piece of polka dot fabric" %}
      <p>
        Follow <a href="make-beeswax-wrap.html" target="__blank">this tutorial</a> to make 
        a 7" x 18" beeswax wrap.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/2-sew-edges.jpg" alt="wrong side of polka dot fabric with edge folded over and sewn" %}
      <p>
        Stich 1/2" of fabric down on each 7" side of your beeswax wrap.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/3-fold-over.jpg" alt="fabric right side up with wrong side flap folded over 7 inches" %}
      <p>
        With your fabric right side up, fold one side over 7".
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/4-fold-back.jpg" alt="fabric folded back over so only right side is visible" %}
      <p>
        Fold this same flap back the other way 1/2". See picture.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/5-fold-again.jpg" alt="fabric folded a third time, showing accordian effect" %}
      <p>
        Fold the same flap another 1/2", so that it lines up with the initial fold. See picture.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/6-sew-seams.jpg" alt="edges of fabric stitch closed" %}
      <p>
        Stitch each side down with a 1/2"seam allowance.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/7-flip-inside-out.jpg" alt="sewn fabric flipped right side out to show seam" %}
      <p>
        Flip your bag inside out. You should have a nice square bottom, perfect for sandwiches.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/8-finish-edges.jpg" alt="edges of top flap folded over and stitched shut" %}
      <p>
        Fold over the edges of the top flap 1/2" and stich in place.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/9-attach-elastic.jpg" alt="elastic loop attached to top edge of fabric" %}
      <p>
        Add a small elastic loop to the edge of the top flap.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/10-attach-button.jpg" alt="button sewn on front of bag" %}
      <p>
        Fold the flap over to determine a good spot to attach your button.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="36-ziplocs/11-finished-baggie.jpg" alt="hand holding complete sandwich bag" %}
      <p>
        Step back and admire your homemade sandwich bag.
      </p>
    </li>

</section>


