---
layout: post
permalink: how-to-make-a-soap-saver.html
published: true
date: 2021-05-19
category: make
tags: [ soap saver, body wash, shower gel ]
title: How to Make a Soap Saver
description: In this tutorial, I'll show you how to make soap savers, which make a bar of soap last longer, from a washcloth. 
week: 20
image: 20-body-wash/make-soap-saver.jpg
alt: three soap savers hanging from shower handles
---

<section>
  <p>
    Soap bars are arguably the most sustainable body wash option since they can come without any packaging. 
    A soap saver can expand the lifespan of your soap bar by keeping it contained. It both prevents 
    soap from sticking to your shelf and keeps remnants from getting washed down the drain. 
  </p>

  <p>
    This is an easy and very quick project that can be completed in about 15 minutes. 
    I used one washcloth and a piece of grosgrain ribbon to make three soap savers that can hang 
    and be thrown in the wash with a load of towels. 
  </p>
</section>

<section>
  <h2>What you'll need:</h2>
  <ul>
    <li>1 washcloth</li>
    <li>Grosgrain ribbon</li>
    <li>Sewing machine or serger</li>
    <li>Scissors</li>
    <li>Straight pins</li>
  </ul>
</section>

<section class="instructions">
  <h2>Let's make a soap saver!</h2>
  <ol>
    <li>
      {% include image-source-set.html image="20-body-wash/1-measure.jpg" alt="washcloth marked at three equal columns" %}
      <p>
        Measure and mark your washcloth in thirds. My washcloth was 12" x 13.5" so each section was 12" x 4.5".
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/2-cut-washcloth.jpg" alt="washcloth cut into three equal pieces" %}
      <p>
        Cut on the marked lines so you have three equal pieces of washcloth.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/3-cut-ribbon.jpg" alt="three pieces of grosgrain and a pair of scissors" %}
      <p>
        Cut three 9" pieces of grosgrain ribbon.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/4-pin-ribbon.jpg" alt="ribbon folded in half with edges pinned to edge of washcloth" %}
      <p>
        Fold one piece of grosgrain in half and pin the ends on the long side, about three inches from the top. 
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/5-pin-away-ribbon.jpg" alt="folded ribbon edge pinned to middle of washcloth piece" %}
      <p>
        Pin the folded part of the ribbon onto the middle of the washcloth (see picture). This is 
        to keep it out of the way when sewing.
      </p>
    </li>


    <li>
      {% include image-source-set.html image="20-body-wash/6-fold-top.jpg" alt="left side of washcloth piece folded in" %}
      <p>
        Fold the top of the washcloth down three inches.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/7-fold-bottom.jpg" alt="right side of washcloth piece folded over" %}
      <p>
        Fold the bottom of the washcloth up about four inches. It should overlap the top piece.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/8-pin-three.jpg" alt="three washcloth pieces folded with sides pinned together" %}
      <p>
        Pin the open edges to prepare them for sewing.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/9-serge-edges.jpg" alt="folded washcloth piece now with serged edges" %}
      <p>
        Using a sewing machine or serger, stitch the washcloth edges shut with a 3/8" seam allowance.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/10-finished-savers.jpg" alt="three finished soap savers flipped right side out" %}
      <p>
        Remove the pins, flip inside out, and admire your new soap savers. You can use different color 
        washcloths or personalize them for everyone in your family.
      </p>
    </li>

    <li>
      {% include image-source-set.html image="20-body-wash/11-add-soap.jpg" alt="bar of soap being put into soap saver" %}
      <p>
        To add soap, simply find the gap in the flaps and shove a bar in.
      </p>
    </li>
    
  </ol>
</section>
