---
layout: post
permalink: low-waste-oral-care.html
published: true
date: 2021-04-13
category: options
tags: [ waste, zero waste, garbage, trash ]
title: 8 Low Waste Products for your Oral Care Routine
description: 
week: 15
image: 15-oral-care/oral-care-options.jpg
alt: toothbrush, toothpaste tablets, floss, and tongue scraper in shape of smiley face
---

<section>
  <h2>Bamboo toothbrush</h2>
  <a class="border:none" href="https://bitetoothpastebits.com/products/brush-add-on" target="__blank">
    {% include image-source-set.html image="15-oral-care/bite-toothbrush.jpg" alt="bite brand bamboo toothbrush" %}
  </a>
  <p>
    The average adult uses 300 toothbrushes in their lifetime. Instead of sending 300 plastic toothbrushes to a landfill, find a biodegradable bamboo one to brush those pearly whites. This <a href=“https://bitetoothpastebits.com/products/brush” target=“__blank”>bamboo toothbrush from Bite</a> is 100% plant-based and biodegradable.
  </p>
</section>

<section>
  <h2>Toothpaste tablets</h2>
  <a class="border:none" href="https://bitetoothpastebits.com/products/mint-subscription" target="__blank">
    {% include image-source-set.html image="15-oral-care/bite-toothpaste-bits.jpg" alt="bite brand toothpaste tablets" %}
  </a>
  <p>
    Worldwide, 1.5 billion toothpaste tubes are discarded every year. Ditch the plastic tube and switch to toothpaste tablets. <a href=“https://bitetoothpastebits.com/products/mint-subscription” target=“__blank”>Bite Toothpaste Bits</a> come in a reusable glass jar and refills come in a compostable bag. Not too keen on toothpaste tablets? Check out my list of <a href=“https://tiny-waste.com/toothpaste-options.html” Target=“__blank”>10 Sustainable Toothpaste Options</a> for another alternative. 
  </p>
</section>

<section>
  <h2>Plastic-free mouthwash</h2>
  <a class="border:none" href="https://packagefreeshop.com/collections/oral-care/products/oil-pulling-mouthwash" target="__blank">
    {% include image-source-set.html image="15-oral-care/georganics-mouthwash.jpg" alt="aluminum bottle of georganics brand mouthwash" %}
  </a>
  <p>
    Yes, mouthwash containers are typically recyclable, but since only 8% of plastics are actually recycled, it’s best to find a new swish-and-spit solution. Try this <a href=“https://packagefreeshop.com/collections/all/products/oil-pulling-mouthwash” target=“__blank”>Oil Pulling Mouthwash</a> by Georganics which comes in an infinitely recyclable aluminum bottle. 
  </p>
</section>

<section>
  <h2>Silk floss</h2>
  <a class="border:none" href="https://packagefreeshop.com/collections/all/products/100-silk-dental-floss" target="__blank">
    {% include image-source-set.html image="15-oral-care/package-free-floss.jpg" alt="paper box of package free brand silk floss" %}
  </a>
  <p>
    If you floss every day, you’ll use about five miles of floss over the course of your lifetime. Regular floss is made of plastic and some brands, like <a href=“https://www.orthodonticslimited.com/your-health/find-use-safe-dental-floss/“ target=“__blank”>Oral-B Glide</a>, use the same material found in Teflon. No thanks! Instead, opt for an all natural, 100% biodegradable silk floss like this spool sold at <a href=“https://packagefreeshop.com/products/100-silk-dental-floss” target=“__blank”>Package Free Shop</a>.
  </p>
</section>

<section>
  <h2>Tongue scraper</h2>
  <a class="border:none" href="https://packagefreeshop.com/collections/oral-care/products/tongue-scraper" target="__blank">
    {% include image-source-set.html image="15-oral-care/package-free-tongue-scraper.jpg" alt="metallic tongue scrapper" %}
  </a>
  <p>
    Tongue scraping removes bacteria, thus cleaning your mouth and cutting the bad breath. If you’re in the market for a tongue scraper, try this infinitely recyclable one from <a href=“https://packagefreeshop.com/products/tongue-scraper” target=“__blank”>Clean Planetware</a>. Don’t feel like shelling out cash for one? A spoon will also work!
  </p>
</section>

<section>
  <h2>Titanium toothpicks</h2>
  <a class="border:none" href="https://packagefreeshop.com/collections/all/products/pf-titanium-toothpicks" target="__blank">
    {% include image-source-set.html image="15-oral-care/package-free-toothpicks.jpg" alt="titanium toothpicks with Package Free brand case" %}
  </a>
  <p>
    Wooden toothpicks aren’t just a waste of resources, they also break easily and can puncture your gums! Instead, grab a set of titanium toothpicks to keep your gums and our trees safe. These toothpicks from <a href=“https://packagefreeshop.com/products/pf-titanium-toothpicks “ target=“__blank”>Package Free Shop</a> come in a convenient keychain case and can be recycled with metals at end of life.
  </p>
</section>

<section>
  <h2>Reusable gum stimulator</h2>
  <a class="border:none" href="https://www.gumbrand.com/gum-stimulator.html" target="__blank">
    {% include image-source-set.html image="15-oral-care/gum-stimulator.jpg" alt="metal gum stimulator with pointy, rubber tip" %}
  </a>
  <p>
    Gum stimulators are typically made of mixed plastic materials, making them impossible to recycle. If your dentist has encouraged you to go the gum stimulate route, grab a <a href=“https://www.gumbrand.com/gum-stimulator.html” target=“__blank”>Gum Brand</a> reusable metal one with replaceable rubber tips!
  </p>
</section>

<section>
  <h2>Teeth whitening gel</h2>
  <a class="border:none" href="https://bitetoothpastebits.com/products/whitening" target="__blank">
    {% include image-source-set.html image="15-oral-care/bite-whitening-gel.jpg" alt="Bite brand whitening gel with applicator box and brush" %}
  </a>
  <p>
    Teeth whitening strips are pure plastic trash. Fortunately, <a href=“https://bitetoothpastebits.com/products/whitening” target=“__blank”>Bite Whitening Gel</a> is 100% plastic free!
  </p>
</section>
