---
layout: post
permalink: 5-easiest-plastic-free-swaps
published: false
date: 2022-04-15
category: info
tags: [  ]
title: 5 Low Waste 
description: 
week: 
image: 
alt:  
excerpt_separator: <!--more-->
---

<section>
  <p>
    So, you've decided to  
  </p>
</section>



 <!-- 1 -->
<section>
  <h2>Start Drinking Tap Water</h2>
    {% include image-source-set.html image="" alt="" %}

  <p>
    water-bottles.html
    The US alone consumes <a href="https://www.aiga.org/case-study-watershed#:~:text=Watershed%20is%20an%20eco%2Dart,informational%20signs%20regarding%20this%20consumption." target="__blank">
    1,500</a> plastic water bottles every second and <a href="https://myequa.com/blogs/blog/89626311-facts-about-plastic-bottles" target="__blank">38 billion</a>
    end up in a landfill <em>every year</em>. Globally, humans buy 
    <a href="https://www.earthday.org/fact-sheet-single-use-plastics/" target="__blank">
    1,000,000</a> plastic bottles per minute.
  </p>
  
  <p>
    Now, let's talk economics. Bottled water costs <a href="https://myequa.com/blogs/blog/89626311-facts-about-plastic-bottles" target="__blank">
    1,000 times</a> more than tap water. In fact, 90% of the cost is for the bottle. In other words, 
    when we purchase bottled water, we are basically just paying for a plastic bottle. Families could save <a href="https://home.howstuffworks.com/save-money-with-water-filter.htm#:~:text=And%20when%20you%20consider%20that,four%20down%20to%20just%20%241.10." target="__blank">
    hundreds of dollars</a> every year by drinking filtered tap water instead.
  </p> 
</section>

 <!-- 2 -->
<section>
  <h2>Bring reusable bags to the grocery store</h2>
    {% include image-source-set.html image="" alt="" %}

  <p>
    According to the <a href="https://www.epa.gov/facts-and-figures-about-materials-waste-and-recycling/frequent-questions-regarding-epas-facts-and" target="__blank">EPA</a>, 
    4.2 million tons of plastic bags and films were generated in 2018 and 3.04 millions tons 
    ended up in a landfill. Most plastic bags take a minimum of 400 hundred years to break down. If that fact doesn't get your blood boiling, 
    think of it this way...every plastic bag that's ever been sent to a landfill still exists. It gets worse. According 
    to <a href="http://natural-environment.com/blog/2008/01/10/environmental-impact-of-plastic-bags/" target="__blank">
    Natural-Environment.com</a>, plastic bags cause over 100,000 sea turtle and other marine animal deaths every year 
    when animals mistake them for food.
  </p> 

  <p>
    plastic-bags.html
    make-reusable-totes.html
    There's no need to buy a fancy tote
  </p>
</section>

 <!-- 3 -->
<section>
  <h2>Refuse plastic straws</h2>
    {% include image-source-set.html image="" alt="" %}

 
    <p>
      It turns out that plastic straws are one of the <a href="https://www.epa.gov/trash-free-waters/sources-aquatic-trash"
      target="__blank">top 5 sources</a> of aquatic trash. In 2019, <a href="https://oceanconservancy.org/wp-content/uploads/2020/10/FINAL_2020ICC_Report.pdf" target="__blank">
      Ocean Conservancy</a> reported collecting 942,992 plastic straws and stirrers in their global 
      clean up effort. According to <a href="https://www.nationalgeographic.com/environment/2018/07/news-plastic-drinking-straw-history-ban/"
      target="__blank">some studies</a>, 500 million straws are used every day in the US alone. 
      Having trouble picturing that? 500 million straws could fill over <a href="http://www.ecocycle.org/bestrawfree/faqs" 
      target="__blank"> 127 school buses</a> each day, or more than 46,400 school buses every year.
    </p>
  
    <p>
      While all plastics are harmful for the environment, straws are a special kind of menace because of
      their size. They are too small to be accepted by most recycling programs and just the right size to 
      be mistaken as food by marine life. If you need a little extra push to do away with plastic straws,
      check out this <a href="https://www.youtube.com/watch?v=4wH878t78bw&t=4s" target="__blank">viral video</a> 
      of a biologist removing a plastic straw out of a sea turtle's nose. 
    </p>
    
    <p>
      In addition to their mass quantity and harmful size, plastic straws take 200-500 years to break down,
      which is especially appalling when you consider that they have an average life span of about 30 minutes.
    </p>
 
</section>

 <!-- 4 -->
 <section>
  <h2>Opt out of Junk Mail</h2>
    {% include image-source-set.html image="" alt="" %}

  <p>
    
  </p> 
</section>

 <!-- 5 -->
 <section>
  <h2>Use Toilet Paper made of recycled materials</h2>
    {% include image-source-set.html image="" alt="" %}

  <p>
    
  </p> 
</section>


