---
layout: post
permalink: easy-clothing-alterations.html
published: true
date: 2021-07-21
category: make
tags: [ clothing, fast fashion, alterations ]
title: 5 Easy Clothing Alterations
description: Custom tailoring isn't just for the rich and famous, use these five easy alterations to make your clothes fit like a glove.
week: 28
image: 28-clothing/alterations.jpg
alt: hands guiding fabric through sewing machine
---

<section>
  <p>
    This week, I took a look at <a href="environmental-impact-of-fast-fashion.html" target="__blank">
    the environmental impact of fast fashion</a> and learned that one of the best ways to have 
    sustainable closet is to <a href="where-to-find-secondhand-clothing.html" target="__blank">
    shop secondhand</a>. Secondhand clothes shopping can be a little daunting, especially when things don't fit exactly right. 
    However, there are a few extremely easy alterations that can make your thrift finds feel like tailored garments.
  </p>

  <p>
    These are all easy fixes to common problems, but if you're not too handy with a needle and thread, 
    look for a tailor to take care of it for you. If you are having trouble finding a tailor in your area, 
    check with your local dry cleaner to see if they offer alteration services. They usually do quick, quality, 
    and affordable work.
  </p>
</section>

<section>
  <h2>Hem Length</h2>
  {% include image-source-set.html image="28-clothing/hem-length.jpg" alt="pair of jeans next to sewing machine" %}
  <p>
    I rarely find pants that are the correct length for my below average height of 5'1". Fortunately, 
    a hem is one of the quickest fixes in sewing. Here I'm sharing the two most common methods you'll need, 
    one for dress pants and one for jeans.
  </p>

  <h3>Jeans</h3>
  <p>
    <a href="https://hellosewing.com/how-to-hem-jeans/?utm_source=convertkit&utm_medium=email&utm_campaign=%F0%9F%92%8E+Creative+Spring+Project+Ideas+-+5438084" target="__blank">
    Hello Sewing</a> shows you how to shorten your jeans while keeping the original hem.
  </p>

  <h3>Dress pants</h3>
  <p>
    Use this tutorial from <a href="https://www.manmadediy.com/2630-the-diy-tailor-how-to-hem-dress-pants-like-a-pro/?epik=dj0yJnU9UThTY19DVHRYb1kyLTJHZHZwT2tmTmFTYXk4V2Y3TkYmcD0wJm49OVJqM3Rpc1BjRlM2QVBZU1FJbWVqQSZ0PUFBQUFBR0FXeUpN&ios=1&applewebkit=1&chrome=1&D7c=1&A5c=1&D_4_6cALL=1&D_4_6_10cALL=1" target="__blank">
    Man Made Daily</a> to give your dress pants a blind hem.
  </p>
  
 
</section>

<section>
  <h2>Strap Length</h2>
  {% include image-source-set.html image="28-clothing/strap-length.jpg" alt="woman in tank top" %}
  <p>
    I've found some great secondhand tank tops, but the straps are often slightly long, so they slide right off my shoulders. 
    With a couple quick stitches, they can be shortened to fit my petite frame perfectly.
  </p>

  <h3>Spaghetti Strap</h3>
  <p>In this video <a href="https://www.youtube.com/watch?v=qMV8nA2STWI" target="__blank">
    Sew Darned Fun</a> shows you the easy way to shorten or lengthen spaghetti straps like a pro.
  </p>

  <h3>Thick strap</h3>
    <p>If you're adjusting a standard thick strapped tank top, use this guide from <a href="https://www.onlinefabricstore.com/makersmill/how-to-adjust-tank-top-straps/" target="__blank">
    Online Fabric Store</a>.
    </p>

</section>

<section>
  <h2>Sleeve Length</h2>
  {% include image-source-set.html image="28-clothing/sleeve-length.jpg" alt="shirt cuff with pins" %}
  <p>
    When a rolled or pushed up sleeve isn't quite the look you're going for, adjust your sleeve length 
    with one of the easy tutorials.
  </p>

  <h3>Button Front Shirt</h3>
    <a href="https://www.heatherhandmade.com/how-to-shorten-sleeves-of-button-up/" target="__blank">
    Heather Handmade</a> gives an excellent breakdown for how to adjust the cuff of a button front shirt 
    so that it looks professionally done.

  <h3>Sweater</h3>
    Head back to <a href="https://www.heatherhandmade.com/how-to-shorten-sweater-sleeves/" target="__blank">
    Heather Handmade</a> for another great tutorial on shortening sweater sleeves.
</section>

<section>
  <h2>Side Seam</h2>
  {% include image-source-set.html image="28-clothing/side-seam.jpg" alt="close up of dress side seam with straight pins" %}
  <p>
    Taking in the side seam of a garment might feel like a task best left to the pros, but this video from <a href="https://www.youtube.com/watch?v=VrzNK77l8rA" target="__blank">
    Sew Anastasia</a> shows you just how easy it is to take in a dress. 
  </p>
    
</section>

<section>
  <h2>Buttons</h2>
    {% include image-source-set.html image="28-clothing/buttons.jpg" alt="button with needle and thread" %}
  <p>
    If you've found a garment you love, the buttons are hands down the easiest change to make. 
    Whether they are loose, missing, or just plain ugly, buttons can be sewn on regardless of your skill level.
  </p>

  <h3>Blouse</h3>
    <p><a href="https://blog.treasurie.com/how-to-sew-a-button/" target="__blank" target="__blank">
      Treasurie</a> shows you how to sew on a few different kinds of buttons, with pictures that 
      make it easy to follow along.
    </p>
  
  <h3>Coat</h3>
    <p>Coats require a slightly different method, which <a href="http://www.ourdailycraft.com/2017/03/29/sew-button-coat-make-last/" target="__blank">
    Our Daily Craft</a> demonstrates perfectly.
  </p>
</section>
