<!doctype html>
<html>
  <head>
    {% include google-analytics.html %}
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    {% include header.html %}
    <main class="box">
      <section class="large spacious stack">
        {% for latest in site.posts %}
          {% include card.html post=latest %}
        {% endfor %}
      </section>
    </main>
   </body>
</html>
