<!doctype html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      <h1 class="logo">{{ site.title }}</h1>
      <nav>
        <a href="about.html">About</a>
        <a href="#">Weeks</a>
        <a href="#">Projects</a>
        <a href="#">Reviews</a>
      </nav>
    </header>
    
    <section>{{ content }}</section>

  </body>
</html>