<!doctype html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Merriweather:wght@700&:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% include banner.html %}
    {% include nav.html%}

    <div class="hero">
      <img src="/assets/img/home-sketch.svg" alt="Sketch of skinny trash can">
      <h1>This year I'm resolving to <br>shrink my waste</h1>
      <a class="button" href="#">Join Me</a>
    </div>
  
    <section>{{ content }}</section>

  </body>
</html>



