<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% include banner.html %}
    
    <nav> 
      <a href="#">Weeks</a>
      <a href="#">Reviews</a>
      <a href="#">Makes</a>
    </nav>

    <main>
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <time>{{ page.date | date: "Week %U - %B %-d, %Y" }}</time>
        </header>
        
        {{ content }}

      </article>
    </main>
  </body>
</html>