<!doctype html>
<html>
  <head>
    {% include google-analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/css/style.css">

    <meta name="description" content="{{ page.description }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace: "index.html", "" }}">

    <!-- Open Graph meta tags -->
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace: "index.html", "" }}">
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/{{ page.image }}">
    <meta property="og:image:alt" content="{{ page.alt }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ site.url }}">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url | replace: "index.html", "" }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/{{ page.image }}">
  
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/my.webmanifest">
    <meta name="theme-color" content="#06724d">
    <meta http-equiv="Content-Language" content="en">
    <script data-ad-client="ca-pub-2686458540481208" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body class="post">
    {% include header.html %}

    <main class="box columns">
      <article>
        <header class="stack">
          {% include image-source-set.html image=page.image alt=page.alt %}
          <h1>{{ page.title }}</h1>
          <h3>Week {{ page.week }}</h3>
        </header>

        {{ page.content }}

        {% if page.next.url %}
          <a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
        {% endif %}
      </article>

      <aside class="responsive stack">
        {% assign related_posts = site.posts | where: "week", page.week %}
        {% for related_post in related_posts %}
          {% unless related_post.title == page.title %}
            {% include preview.html post=related_post class="tighter tiny" %}
          {% endunless %}
        {% endfor %}
        {% include preview.html post=site.posts.last class="tighter tiny" %}
        {% include google-adsense.html %}
      </aside>
    </main>
    {% include footer.html %}
   </body>
</html>
