<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <div>{{ site.title }}</div>
      <nav> 
        <a href="#">Reduce</a>
        <a href="#">Reuse</a>
        <a href="#">Recycle</a>
      </nav>
    </header>

    <main>
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <time>{{ page.date | date: "%B %-d, %Y - Week %U" }}</time>
        </header>
        
        {{ content }}

      <footer>
        <ul>
          {% for tag in page.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </footer>

      </article>
    </main>
  </body>
</html>