.button {
  background-color: var(--lightest-green);
  border: 2px solid var(--white);
  color: var(--dark-green);
  font-family: var(--font-heading);
  letter-spacing: 1px;
  text-transform: uppercase;
}