.columns {
  max-width: calc(var(--measure) * 1.25);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: var(--scale-up-1);
  grid-template-columns: 3fr 1fr;
}

.columns > * {
  grid-column: 1 / 2;
}

.columns > aside {
  grid-column: 2 / 3;
}

@media (max-width: 36rem) {
  .columns {
    grid-template-columns: 1fr;
  }

  .columns > aside {
    grid-column: 1 / 2;
  }
}