body > header {
  background-color: var(--green);
}

header > nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header > nav > a,
header > nav > a:visited {
  flex: 1 0 auto;
  border-bottom: none;
  color: var(--white);
  text-align: center;
}

header > nav > a:hover,
header > nav > a:active {
  color: var(--lightest-green);
}

header > nav > .logo {
  display: block;
  margin: var(--scale-down-1) auto;
  width: 100%;
  border-bottom: none;
}

.logo > img {
  max-width: 8em;
}

@media (min-width: 36em) {
  header > nav {
    justify-content: flex-end;
  }

  header > nav > a {
    text-align: right;
  }

  header > nav > .logo {
    align-self: flex-start;
    flex-grow: 4;
    margin-bottom: 0;
    width: auto;
    text-align: left;
  }
}