body > header {
  background-color: var(--green);
}

header > nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header > nav > a,
header > nav > a:visited {
  padding-top: 6px;
  padding-left: var(--scale-up-1);
  border-bottom: none;
  color: var(--white);
}

header > nav > a:hover,
header > nav > a:active {
  color: var(--lightest-green);
}

header > nav > .logo {
  flex: 1 0 auto;
  padding-top: 0;
  padding-left: 0;
  font-family: var(--font-body-text);
  font-size: var(--scale-up-1);
  font-weight: 900;
  text-shadow: 2px 2px 0 var(--light-green);
  text-transform: lowercase;
}

header > .search {
  display: flex;
  margin-top: var(--scale-down-1);
  justify-content: flex-end;
}

header > .search label {
  position: absolute;
  left: 9999px;
}

header > .search input {
  padding: var(--scale-down-2);
  width: 16rem;
  border: 2px solid var(--lighter-green);
  border-radius: var(--scale-down-2);
  font-weight: 700;
  font-size: .75rem;
}

header > .search input:focus-visible {
  outline: var(--light-green) auto 1px;
}